cartlistbox listitem:nth-child(2n) {
    -moz-box-align: center;
    background-color: #cccccc; 
    height: 30px; 
    border-bottom-color: #999999;
}

cartlistbox listitem:nth-child(2n+1) {
    -moz-box-align: center;
    background-color: #fff;
    height: 30px;
    border-bottom-color: #999999;
}
cartlistbox listitem[selected="true"]:nth-child(2n), cartlistbox listitem[selected="true"]:nth-child(2n+1){
background-color: #4466aa; 
color: white;
}

cartlistbox listboxbody {
	overflow: hidden;
}
