@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

simplelistbox {
  -moz-binding: url("chrome://vivipos/content/bindings/simplelistbox.xbl#simplelistbox");
}

cartlistbox {
  -moz-binding: url("chrome://vivipos/content/bindings/cartlistbox.xbl#cartlistbox");
}

numberpad {
  -moz-binding: url("chrome://vivipos/content/bindings/numberpad.xbl#numberpad");
}

sendkeybutton {
  -moz-binding: url("chrome://vivipos/content/bindings/sendkeybutton.xbl#sendkeybutton");
}

scrollablepanel {
  -moz-binding: url("chrome://vivipos/content/bindings/scrollablepanel.xbl#scrollablepanel");
}

onscreenvfd {
  -moz-binding: url("chrome://vivipos/content/bindings/onscreenvfd.xbl#onscreenvfd");
}

isuserinrole {
  -moz-binding: url("chrome://vivipos/content/bindings/isuserinrole.xbl#isuserinrole");
}

vivibutton {
  -moz-binding: url("chrome://vivipos/content/bindings/vivibutton.xbl#vivibutton");
}

vivitree {
  -moz-binding: url("chrome://vivipos/content/bindings/vivitree.xbl#vivitree");
}

vivibuttonpanel {
  -moz-binding: url("chrome://vivipos/content/bindings/vivibuttonpanel.xbl#vivibuttonpanel");
}

viviscrollablebuttonpanel {
  -moz-binding: url("chrome://vivipos/content/bindings/viviscrollablebuttonpanel.xbl#viviscrollablebuttonpanel");
}

viviscrollabletree {
  -moz-binding: url("chrome://vivipos/content/bindings/viviscrollabletree.xbl#viviscrollabletree");
}

viviclock {
  -moz-binding: url("chrome://vivipos/content/bindings/viviclock.xbl#viviclock");
}

vivifuncpanelecr {
  -moz-binding: url("chrome://vivipos/content/bindings/vivifuncpanelecr.xbl#vivifuncpanelecr");
}

viviorderstatus {
  -moz-binding: url("chrome://vivipos/content/bindings/viviorderstatus.xbl#viviorderstatus");
}
