@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button_colorpicker {
  -moz-binding: url("chrome://viviecr/content/bindings/button_colorpicker.xbl#button_colorpicker");
}

button_fontsizepicker {
  -moz-binding: url("chrome://viviecr/content/bindings/button_fontsizepicker.xbl#button_fontsizepicker");
}

vividatetimepicker {
  -moz-binding: url("chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker");
}

vividatetimepicker[showtype="time"] {
  -moz-binding: url('chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker-time');
}

vividatetimepicker[showtype="date"] {
  -moz-binding: url('chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker-date');
}

vividatetimepicker[showtype="datetime"] {
  -moz-binding: url('chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker-datetime');
}

vividatetimepicker[type="popup"] {
  -moz-binding: url('chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker-popup');
}

vividatetimepicker[type="grid2"] {
  -moz-binding: url('chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker-grid');
}

vividatetimepicker-timepad {
  -moz-binding: url("chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker-timepad");
}

vividatetimepicker-datepad {
  -moz-binding: url("chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker-datepad");
}

vividatetimepicker-popup {
  -moz-binding: url("chrome://viviecr/content/bindings/vividatetimepicker.xbl#vividatetimepicker-popup");
}
