/* global skin ------------------------------------------------------------- */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@namespace html url("http://www.w3.org/1999/xhtml");

* {
	padding: 0px;
	margin: 0px;
}

.userscrollablepanel {
  max-height: 153px;
  min-height: 153px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.numberbtn {
    min-width:100px;
    max-width:100px;
    min-height:64px;
    max-height:64px;
    height: 64px;
    width: 100px;
    margin: 1px 1px 0px 0px;
    padding: 0px;
    list-style-type: none;
    color: White;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    background-color:#800040;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: url(images/btn_purple.png);
    -moz-background-clip: border;
}

.numberpad {
    width: 240px;
}
.numberpad button{
    min-width:80px;
    max-width:80px;
    min-height:50px;
    max-height:50px;
    height: 50px;
    width: 80px;
    margin: 1px 1px 0px 0px;
    padding: 0px;
    list-style-type: none;
    color: White;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    background-color:#800040;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: url(images/btn_purple.png);
    -moz-background-clip: border;
}

.rightprevbtn {
    max-width:32px;
    min-width:32px;
    height: 50px;
    width: 32px;
    background: url(images/btn_green.png);
    list-style-image: url(images/up.png);
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius-topright: 16px; 
    -moz-border-radius-topleft: 16px;  
}

.rightnextbtn {
    max-width:32px;
    min-width:32px;
    height: 50px;
    width: 32px;
    background: url(images/btn_green.png);
    list-style-image: url(images/down.png);
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 16px;
}
.rightnextbtn:active {
	background-position:0pt -128px;
}

.leftprevbtn {
    max-width:32px;
    min-width:32px;
    height: 50px;
    width: 32px;
    background: url(images/btn_green.png);
    list-style-image: url(images/up.png);
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius-topleft: 16px;
    -moz-border-radius-topright: 16px;  
}

.leftnextbtn {
    max-width:32px;
    min-width:32px;
    height: 50px;
    width: 32px;
    background: url(images/btn_green.png);
    list-style-image: url(images/down.png);
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius-bottomleft: 16px;
    -moz-border-radius-bottomright: 16px;
}

.userbtn {
    min-width:120px;
    max-width:120px;
    min-height:50px;
    max-height:50px;
    height: 50px;
    width: 120px;
    margin: 1px 1px 0px 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: url(images/btn_gray.png);
    -moz-background-clip: border;
    -moz-box-orient: vertical;
}

.userbtn hbox{
  max-height: 50px;
  height: 50px;
}
.userbtn hbox image{
  max-height: 24px;
  height: 24px;
  max-width: 24px;
  width: 24px;
}

.userbtn:active {
    background-position:0pt -64px;
}

.userbtn[checked=true] {
    background-position:0pt -64px;
}

.gray {
  background: url(images/btn_gray.png);
  background-position:0pt -64px;
}

.blue {
  background: url(images/btn_blue.png);
  background-position:0pt -64px;
}

.green {
  background: url(images/btn_green.png);
  background-position:0pt -64px;
}

.purple {
  background: url(images/btn_purple.png);
  background-position:0pt -64px;
}

.systembtn {
    min-width:80px;
    max-width:80px;
    min-height:50px;
    max-height:50px;
    margin: 1px 1px 0px 0px;
    padding: 0px;
    list-style-type: none;
    color: White;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    background-color:#008040;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: url(images/btn_green.png);
    -moz-background-clip: border;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.genbtn {
    height: 60px;
    margin: 1px 1px 20px 20px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    color: White;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    background: url(images/btn_gray.png);
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

