.vivifuncpanelecr_function_panel {
    background: transparent;
    max-width: 344px;
    min-width: 344px;
    height: 500px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.vivifuncpanelecr_spacer {
    min-width: 2px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.vivifuncpanelecr_button_panel {
    border-width: 0px;
    border-style: solid;
    border-color: green;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.vivifuncpanelecr_matrix_button_mapped {
    min-width: 40px;
    min-height: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px; 
}

.vivifuncpanelecr_matrix_button_nomap {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px; 
}

.vivifuncpanelecr_matrix_button_configure {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px; 
}

.vivifuncpanelecr_control_panel {
    min-width: 32px;
    max-width: 32px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-width: 0px;
    border-style: solid;
    overflow: hidden;
}

.vivifuncpanelecr_control_scroll_left {
    min-height: 50px;
    max-height: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style-image: url(chrome://viviecr/skin/images/up.png);
    background-image: url(chrome://viviecr/skin/images/gray.png);
    background-position: center center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius-topright: 12px; 
    -moz-border-radius-topleft: 12px;  
}

.vivifuncpanelecr_control_scroll_right {
    min-height: 50px;
    max-height: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    list-style-image: url(chrome://viviecr/skin/images/down.png);
    background-image: url(chrome://viviecr/skin/images/gray.png);
    background-position: center center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius-bottomright: 12px; 
    -moz-border-radius-bottomleft: 12px;  
}

.vivifuncpanelecr_control_home {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-image: url(chrome://viviecr/skin/images/gray.png);
    background-position: center center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.vivifuncpanelecr_control_label {
    color: #127b31;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: large;
    border-width: 1px;
    background: transparent;
    border-color: transparent;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px; 
}

.buttoncolor_baseclass {
    min-height: 40px;
    max-height: 40px;
    max-width: 60px;
}

.buttonfontsize_baseclass {
    min-height: 30px;
    max-height: 40px;
    max-width: 60px;
}
