/*-----------------------------------------------------------------------------
 *
 * Standard numberpad
 *
 *-----------------------------------------------------------------------------
 */

#numberpadPanelContainer {
    margin: 0px 0px 5px 0px;
}

.fixedbtn {
    min-width:76px;
    max-width:76px;
    width: 76px;
    min-height:41px;
    max-height:41px;
    height: 41px;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    list-style-type: none;
    color: #42422f;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    /* background: white; */
    background: transparent url(images/funBtn1.png) center center no-repeat;
}

.fixedbtn:active {
    background: transparent url(images/funBtn1_a.png) center center no-repeat;
}
.fixedbtn[disabled=true] {
    background: url(images/btn_gray.png);
    background-position:0pt -64px;
}
.fixedbtn label {
    max-width:85px;
    width: 40px;
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

#numpadCol1 vivibutton {
    margin-left: 0px;
}

#clearBtn {
    margin-left: 0px;
}

.numpad {
	background: white url(images/numpadbg.gif) no-repeat top center;
	border: solid 1px #5c5761;
	-moz-background-clip: border;
	-moz-border-radius-topright: 8px; 
	-moz-border-radius-topleft: 8px;
	padding: 27px 10px 10px 5px;
}

.numberpad sendkeybutton{
    min-width:76px;
    max-width:76px;
    width: 76px;
    margin: 5px 0 0 5px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: transparent url(images/numbtn.png);
    color: white;
}

.numberpad sendkeybutton:active{
	background: transparent url(images/numbtn_a.png) center center no-repeat;
}

#toolbar {
    border: 1px dotted #908c83;
    margin-left: 2px;
}

.togglenumpad {
  border: 0px solid;
  background: transparent url(images/minimize.png) 0 0 no-repeat;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin: 2px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglenumpad[state=true] {
  border: 0px solid;
  background: transparent url(images/minimize.png) 0 0 no-repeat;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin: 2px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglenumpad[state=true]:active {
	background-position:-32px 0;
}
.togglenumpad[state=false] {
    background: transparent url(images/maxm.png) 0 0 no-repeat;
}
.togglenumpad[state=false]:active {
	background-position:-32px 0;
}

.clockinout {
    background: url(images/clock.png) center center no-repeat;
}

.options {
    background: url(images/option.png) center center no-repeat;
}
