@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@namespace html url("http://www.w3.org/1999/xhtml");

.panelContainer {
    border: 2px groove;
    padding: 5px;
    margin: 5px;
    -moz-border-radius: 8px;
}

.sysprefs_scroll_up {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/departUp.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}
.sysprefs_scroll_up[disabled=false]:active {
	background: transparent url(images/departUp_a.png) center center no-repeat;
}
.sysprefs_scroll_up label {
	display: none;
}
.sysprefs_scroll_up description {
	display: none;
}
.sysprefs_scroll_down {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/departDown.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}
.sysprefs_scroll_down[disabled=false]:active {
	background: transparent url(images/departDown_a.png) center center no-repeat;
}
.sysprefs_scroll_down label {
	display: none;
}
.sysprefs_scroll_down description {
	display: none;
}


.dialog-button {
    min-width:100px;
    max-width:100px;
    min-height:45px;
    max-height:45px;
    height: 45px;
    width: 100px;
    margin: 0px 1px 1px 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 1px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius: 8px;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
    /* background: white; */
    background: url(images/white.png);
    color: black;
}
.dialog-button hbox{
  max-height: 50px;
  height: 50px;
}
.dialog-button hbox image{
  max-height: 24px;
  max-width: 24px;
}
.dialog-button hbox label{
  max-width: 100px;
  width: 100px;
  text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}
.dialog-button:active {
    background-position:0pt -60px;
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}
.dialog-button image {
    display: none
}

.catbtn {
    min-height:50px;
    min-width: 50px;
    border: 1px solid;
    -moz-appearance: none;
    margin: 2px 2px 2px 2px;
    padding: 0px;

    -moz-box-pack: center;
    -moz-user-focus: ignore;

    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
}

.catbtn[selected] {
    /* list-style-image: none; */
}

.catbtn:active {
    background-position:0pt -60px;
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}
.catbtn[disabled=true], .plubtn[disabled=true] {
    /* background: url(images/btn_gray.png);*/
    background-position:0pt -64px;
}
.catbtn hbox {
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.catbtn label {
    text-wrap: normal;
    word-wrap: break-word;
}

.catbtn description {
    text-wrap: normal;
    word-wrap: break-word;
}
