/* global skin ------------------------------------------------------------- */
@import url(chrome://viviecr/skin/bindings.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@namespace html url("http://www.w3.org/1999/xhtml");

.mainpanel  {
    width: 800px;
    height: 600px;
    background-color:#CCCCCC;
    border: 0px solid red;
}

.productPanel {
    width: 220px;    
    border: 0px solid blue;
    overflow: hidden;
    margin-right: 4px;
    margin-bottom: 0px;
}

.functionPanel {
    width: 220px;
    border: 0px solid blue;
    overflow: hidden;
    margin-right: 4px;
    margin-bottom: 0px;
}

.rightPanel {
    border: 0px solid green;
    width: 400px;
    max-width: 400px;
}

#numberpadPanelContainer {
    margin-top: 2px
}

.numberpad {
    width: 240px;
    border: 0px solid red;
}

.numberpad sendkeybutton, .numberpad button {
    min-width:80px;
    max-width:80px;
    min-height:49px;
    max-height:49px;
    height: 49px;
    width: 80px;
    margin: 0px 1px 1px 0px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 1px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius: 8px;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
    background: url(images/gray.png);
    color: black;
}

.cartList tree {
    margin: 0px 0px 0px 0px;
}

.rightprevbtn {
    min-width:32px;
    height: 50px;
    width: 32px;
    list-style-image: url(chrome://viviecr/skin/images/up.png);
    -moz-user-focus: ignore;
    -moz-border-radius-topright: 16px; 
    -moz-border-radius-topleft: 16px; 
    margin: 0px 1px 1px 0px; 
}

.rightnextbtn {
    min-width:32px;
    height: 50px;
    width: 32px;
    list-style-image: url(chrome://viviecr/skin/images/down.png);
    -moz-user-focus: ignore;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 16px;
    margin: 0px 1px 1px 0px;
}

.rightprevbtn[disabled] {
    /* list-style-image: none; */
}

.rightnextbtn[disabled] {
    /* list-style-image: none; */
}

.rightprevbtn label, .rightnextbtn label {
	display: none;
}

.rightprevbtn description, .rightnextbtn description {
	display: none;
}

.systoolbtn {
    max-height:42px;
    min-height:42px;
    max-width:36px;
    min-width:36px;
    height: 42px;
    width: 36px;
     -moz-user-focus: ignore;
}
.systoolbtn label {
    display: none;
}

.nolabelbtn label{
    display: none;
}

.noimagebtn image {
    display: none;
}

.smallimagebtn image {
	width: 16px;
	height: 16px;
}

.mediumimagebtn image {
	width: 32px;
	height: 32px;
}

.largeimagebtn image {
	width: 64px;
	height: 64px;
}
.imageThumbBtn, .imageThumbBtn[checked]{
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    overflow: hidden;
}
.imageThumbBtn hbox {
    -moz-box-orient: vertical;
}


#shiftPriceStatus, #shiftTaxStatus {
    font-size: 18px;
    color: red;
    font-weight: bold;
}


.pad40 {
    padding: 5px;
}

.pad60 {
    padding: 20px;
}

.pad80 {
    padding: 30px;
}

.pad100 {
    padding: 40px;
}

.panel40 {
    padding: 5px;
    background-image: url(images/bg_gray.png);
}

.footlogo {
    padding: 0px;
    overflow: auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url(images/vivipos_icon1.png);
}

.config {
    min-height:32px;
}

treechildren::-moz-tree-row {
  height: 28px;
}

treechildren::-moz-tree-row(selected) {background-color: #991111; }
treechildren::-moz-tree-row(odd) {background-color: #DDDDDD;}
treechildren::-moz-tree-row(odd, selected) {background-color: #991111; }
treechildren::-moz-tree-cell-text(selected) {color: #FFFFFF;} 
treechildren::-moz-tree-cell-text(odd, selected) {color: #FFFFFF;}

/*
treeitem {
  min-height: 30px;
}
*/
/*
treechildren {
  background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url(images/vivipos_icon1.png);
}
*/
treechildren::-moz-tree-row(treeTRAY) {background-color: #AAAAFF;}
treechildren::-moz-tree-row(treeSUBTOTAL) {background-color: #FF88FF;}
treechildren::-moz-tree-row(treeTOTAL) {background-color: #55DD55;}
treechildren::-moz-tree-cell-text(treecellTRAY) {color: white;}
treechildren::-moz-tree-cell-text(treecellSUBTOTAL) {color: yellow;}
treechildren::-moz-tree-cell-text(treecellTOTAL) {color: yellow;}

.jobs1 {
  min-width: 180px;
  max-width: 180px;
  width:180px;

  min-height: 300px;
  max-height: 300px;
  height:300px;
}
.jobssummary1 {
  min-width: 220px;
  max-width: 220px;
  width:220px;

  min-height: 300px;
  max-height: 300px;
  height:300px;
}

.user {
  min-width: 600px;
  max-width: 600px;
  width:600px;
  min-height: 170px;
  max-height: 170px;
  height: 170px;
}

.pricelevelschedule {
  min-width: 380px;
  max-width: 380px;
  width:380px;

  min-height: 420px;
  max-height: 420px;
  height:420px;
}

.userscrollablepanel {
   max-height: 459px;
   min-height: 459px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.clockuserscrollablepanel {
   max-height: 153px;
   min-height: 153px;
  margin-right: 3px;
  margin-bottom: 5px;
}


.clockinoutbtn {
    min-width:120px;
    max-width:120px;
    min-height:70px;
    max-height:70px;
    margin: 0px 1px 1px 0px;
    padding: 0px;
    list-style-type: none;
    color: White;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    background-color:#008040;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: url(images/btn_green.png);
    -moz-background-clip: border;
    -moz-box-align:center;
    -moz-box-pack:center;
}
.clockinoutbtn label {
    max-width:100px;
    width: 40px;
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.vbox_vfd {
  background-color: green;
  border: 1px solid white;
  padding: 0px;
  margin-left: 0px;
  height: 48px;
  }

.label_vfd {
  color: #FFFFFF;
  font-size: 22px;
  font-family: monospace;
  font-weight: bold !important;
  }

/***
 *	Dialog Class
 */

.dialogbtns button, .editbtns, .widebtns, .timepickerbtns {
    min-width:100px;
    max-width:100px;
    min-height:45px;
    max-height:45px;
    height: 45px;
    width: 100px;
    margin: 0px 1px 1px 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 1px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius: 8px;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
    /* background: white; */
    background: url(images/white.png);
    color: black;
}
.widebtns {
    min-width:160px;
    max-width:160px;
    min-height:45px;
    max-height:45px;
    height: 45px;
    width: 160px;
}
.timepickerbtns {
    min-height:40px;
    max-height:40px;
    height: 40px;
    background: url(images/gray.png);
}
.dialogbtns button hbox{
  max-height: 50px;
  height: 50px;
}
.dialogbtns button hbox image{
  max-height: 24px;
  max-width: 24px;
}
.dialogbtns button hbox label{
  max-width: 100px;
  width: 100px;
  text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.dialogbtns button:active , .editbtns[disabled=false]:active, .timepickerbtns[disabled=false]:active {
    background-position:0pt -60px;
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}

.promptbtns button, .editbtns, .widebtns, .timepickerbtns {
    min-width:100px;
    max-width:100px;
    min-height:45px;
    max-height:45px;
    height: 45px;
    width: 100px;
    margin: 0px 1px 1px 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 1px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius: 8px;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
    /* background: white; */
    background: url(images/white.png);
    color: black;
}
.promptbtns button hbox{
  max-height: 50px;
  height: 50px;
}
.promptbtns button hbox image{
  max-height: 24px;
  max-width: 24px;
}
.promptbtns button hbox label{
  max-width: 100px;
  width: 100px;
  text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}
.promptbtns button[disabled=false]:active , .editbtns[disabled=false]:active, .timepickerbtns:active {
    background-position:0pt -60px;
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}

.systembtn {
    min-width:80px;
    max-width:80px;
    min-height:49px;
    max-height:49px;
    height: 49px;
    width: 80px;
    margin: 0px 1px 1px 0px;
    padding: 0px;
    list-style-type: none;
    color: black;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 1px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius: 8px;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
    -moz-box-align:center;
    -moz-box-pack:center;

    /* background: white; */
    background: url(images/white.png);
}
.systembtn:active, .numberpad sendkeybutton:active, .numberpad button:active {
    background-position:0pt -64px;
}
.systembtn[disabled=true] {
    background: url(images/btn_gray.png);
    background-position:0pt -64px;
}
.systembtn label {
    max-width:100px;
    width: 40px; 
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.iconbtn {
    width:  42px;
    height: 42px;
    min-height:42px;
    min-width: 42px;
    margin: 2px 2px 2px 2px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    color: White;
    font-weight: bold !important;
    font-size: 18px;
    overflow: hidden;
    background: url(images/white.png);
    -moz-appearance: none;
    -moz-user-focus: ignore;
    border: 1px solid;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
}
.iconbtn:active {
  background-position:0pt -64px;
}
.iconbtn[checked=true] {
  background-position:0pt -64px;
}
.image32 image {
  height: 24px;
  width: 24px;
}

.cartList scrollbar {
    display: none;
}

.togglenumpad[state=true] {
    height: 24px;
    list-style-image: url(chrome://viviecr/skin/images/up.png);
}

.togglenumpad[state=false] {
    list-style-image: url(chrome://viviecr/skin/images/down.png);
}

.timepickerfont {
  font-size: 48px;
}

.prodscrollablepanel scrollbar {
    display: none;
}

