/*-----------------------------------------------------------------------------
 *
 * Standard buttons
 *
 *-----------------------------------------------------------------------------
 */

/*-----------------------------------------------------------------------------
 *  Front-end department and product buttons
 *-----------------------------------------------------------------------------
 */

.user-catbtn {
    min-height:50px;
    min-width: 50px;
    border: 2px solid;
    -moz-border-top-colors: #848388 #bebebe;
    -moz-border-right-colors: #848388 #bebebe;
    -moz-border-bottom-colors: #848388 #bebebe;
    -moz-border-left-colors: #848388 #bebebe;
    -moz-appearance: none;
    margin: 2px 2px 2px 2px;
    padding: 0px;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
    background: #848388 url(../images/departBtn1.png) top left repeat-x;
}

.user-catbtn[disabled=true] {
    -moz-border-top-colors: #848388 #bebebe !important;
    -moz-border-right-colors: #848388 #bebebe !important;
    -moz-border-bottom-colors: #848388 #bebebe !important;
    -moz-border-left-colors: #848388 #bebebe !important;
}

.user-catbtn hbox {
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-catbtn description, .user-plubtn description {
    text-wrap: normal;
    word-wrap: break-word;
}

.user-plubtn {
    min-width: 50px;
    border: 2px solid;
    -moz-appearance: none;
    margin: 0 0 4px 2px;
    padding: 0px;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    background-color: transparent;
}

.user-plubtn[disabled=true] {
    -moz-border-top-colors: #424851 #dfe1e4 !important;
    -moz-border-right-colors: #424851 #dfe1e4 !important;
    -moz-border-bottom-colors: #424851 #dfe1e4 !important;
    -moz-border-left-colors: #424851 #dfe1e4 !important;
    background-color: transparent;
}

.user-plubtn hbox {
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*-----------------------------------------------------------------------------
 * System buttons
 *-----------------------------------------------------------------------------
 */

.button-system {
    background: url(../images/white.png);
    border: 1px solid;
    color: black;
    font-size: 14px;
    font-weight: bold !important;
    height: 49px;
    list-style-type: none;
    margin: 0px 1px 1px 0px;
    min-width:80px;
    min-height:49px;
    overflow: hidden;
    padding: 0px;
    text-wrap: normal;
    width: 80px;
    word-wrap: break-word;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius: 8px;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.button-system[disabled=true] {
    background: url(../images/btn_gray.png);
    background-position:0pt -64px;
}

.button-system label {
    max-width:100px;
    text-align: center;
    width: 40px;
    -moz-box-align:center;
    -moz-box-pack:center;
}

/*-----------------------------------------------------------------------------
 * Execute buttons
 *-----------------------------------------------------------------------------
 */


.button-execute {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid;
    color: #6c6050;
    font-size: 12pt;
    margin: 0px 5px;
    max-height: 70px;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-radius: 6px;
}

.button-execute:active {
    border: 2px solid;
    color: #603913;
    -moz-border-top-colors: #ee9400 #ee9400;
    -moz-border-right-colors: #ee9400 #ee9400;
    -moz-border-bottom-colors: #ee9400 #ee9400;
    -moz-border-left-colors: #ee9400 #ee9400;
}

/*-----------------------------------------------------------------------------
 * +/- & vkb buttons
 *-----------------------------------------------------------------------------
 */

.button-plus {
    background: transparent url(../images/prod-add.png) center center no-repeat;
}

.button-minus {
    background: transparent url(../images/prod-remove.png) center center no-repeat;
}

.button-up {
    background: transparent url(../images/go-up.png) center center no-repeat;
}

.button-down {
    background: transparent url(../images/go-down.png) center center no-repeat;
}

.button-gotop {
    margin: 0px;
    height: 36px;
    border-width: 0px;
    min-width: 32px;
    max-width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
    background: transparent url(../images/optionsUp.png) 0 0 no-repeat;
}

.button-soldout {
    margin: 0px;
    padding: 0px;
    height: 42px;
    min-width: 32px;
    width: 32px;
    max-width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
    border: 2px solid black !important;
    background: transparent url(../images/prohibitsale.png) center center no-repeat;
}

.button-soldout[checked=true] {
    background: yellow url(../images/prohibitsale.png) center center no-repeat;
}

.button-clone {
    background: #bbb url(../images/copy-32x32.png) center center no-repeat;
}

.button-clone[disabled=false] {
    border: 2px solid black !important;
}

.button-clone[disabled=true] {
    background-color: transparent;
    border: 0px solid black !important;
}

.button-vkb {
    background: transparent url(../images/keyboard.png) center center no-repeat;
    margin: 2px;
}

.button-select-all {
    background: transparent url(../images/check.png) center center no-repeat;
}

.button-clear-all {
    background: transparent url(../images/uncheck.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * Systool button
 *-----------------------------------------------------------------------------
 */

.button-systool {
    border: none;
    height: 48px;
    margin: 0px;
    max-width: 36px;
    min-width: 36px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.button-systool label {
    display: none;
}

.button-systool description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * Systool button 2
 *-----------------------------------------------------------------------------
 */

.button-systool2 {
    border: none;
    height: 48px;
    margin: 0px;
    max-width: 42px;
    min-width: 42px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.button-systool2 label {
    display: none;
}

.button-systool2 description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * Standar scroll buttons
 *-----------------------------------------------------------------------------
 */

.rightprevbtn {
    min-width:32px;
    height: 50px;
    width: 32px;
    list-style-image: url(chrome://viviecr/skin/images/up.png);
    -moz-user-focus: ignore;
    -moz-border-radius-topright: 16px;
    -moz-border-radius-topleft: 16px;
    margin: 0px 1px 1px 0px;
}

.rightnextbtn {
    height: 50px;
    min-width:32px;
    width: 32px;
    list-style-image: url(chrome://viviecr/skin/images/down.png);
    -moz-user-focus: ignore;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 16px;
    margin: 0px 1px 1px 0px;
}

.rightprevbtn[disabled] {
    /* list-style-image: none; */
}

.rightnextbtn[disabled] {
    /* list-style-image: none; */
}

.rightprevbtn description, .rightnextbtn description {
	display: none;
}

/*-----------------------------------------------------------------------------
 * Thumb button with image
 *-----------------------------------------------------------------------------
 */

.imageThumbBtn,
.imageThumbBtn[checked]{
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    overflow: hidden;
}

.imageThumbBtn hbox {
    -moz-box-orient: vertical;
}

/*-----------------------------------------------------------------------------
 * Standard button colors
 *-----------------------------------------------------------------------------
 */

.button-gray {
    background-image: url(../images/gray.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
}

.button-blue {
    background-image: url(../images/blue.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
}

.button-red {
    background-image: url(../images/red.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
}


.button-orange {
    background-image: url(../images/orange.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
}

.button-fuchsia {
    background-image: url(../images/fuchsia.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
}

.button-teal {
    background-image: url(../images/teal.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
}

.button-green {
    background-image: url(../images/green.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
}

.button-yellow {
    background-image: url(../images/yellow.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
 }

 .button-aqua {
    background-image: url(../images/aqua.png);
    color: black;
     min-height: 50px;
    -moz-appearance: none;
 }


.button-black {
    background-image: url(../images/black.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
}

.button-white {
    background-image: url(../images/white.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
}

.button-default[selected], .button-gray[selected], .button-blue[selected], .button-red[selected], .button-orange[selected], .button-teal[selected],
.button-fuchsia[selected], .button-green[selected], .button-yellow[selected], .button-aqua[selected], .button-black[selected], .button-white[selected] {
    list-style-image: url(chrome://viviecr/skin/images/gtk-yes.png);
}

/*-----------------------------------------------------------------------------
 * Standard button image sizes
 *-----------------------------------------------------------------------------
 */

.button-no-image image {
   display: none;
}

.button-small-image image {
	width: 16px;
	height: 16px;
}

.button-medium-image image {
	width: 32px;
	height: 32px;
}

.button-large-image image {
	width: 48px;
	height: 48px;
}

.button-xlarge-image image {
	width: 64px;
	height: 64px;
}

.button-nolabel description {
   display: none;
}

/*-----------------------------------------------------------------------------
 * Standard font sizes
 *-----------------------------------------------------------------------------
 */

.font-xlarge {
    font-weight: bold !important;
    font-size: 20px;
}

.font-large {
    font-weight: bold !important;
    font-size: 16px;
}

.font-small {
    font-weight: bold !important;
    font-size: 10px;
}

.font-medium {
    font-weight: bold !important;
    font-size: 12px;
}


.font-xlarge[selected], .font-large[selected], .font-small[selected], .font-medium[selected] {
    list-style-image: url(chrome://viviecr/skin/images/con_sel.png);
}

/*-----------------------------------------------------------------------------
 * Back-end button color picker
 *-----------------------------------------------------------------------------
 */

.button-color-picker {
    margin: 2px 2px 2px 2px;
    padding: 0px;
    -moz-box-pack: center;
}

.button-color-picker button hbox {
    -moz-box-orient: vertical;
}

.button-color-picker button {
    margin: 4px;
    min-width: 30px;
    min-height:50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

/*-----------------------------------------------------------------------------
 * Back-end button fontsize picker
 *-----------------------------------------------------------------------------
 */

.button-fontsize-picker {
    margin: 2px 2px 2px 2px;
    padding: 0px;
    -moz-box-pack: center;
}

.button-fontsize-picker button hbox {
    -moz-box-orient: horizontal;
}

button-fontsize-picker button {
    margin: 4px;
    min-width: 50px;
    min-height:55px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

/*-----------------------------------------------------------------------------
 * button style item-a, often used in master button panels
 *-----------------------------------------------------------------------------
 */

.button-item-a {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid !important;
    color: #3b312b;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
}

.button-item-a:active {
    -moz-border-top-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #f0efe8 #e8e8e1 #d9d9d2;
}

.button-item-a[selected],
.button-item-a[checked] {
    background: white url(../images/itembtnA_sel.png) left center repeat-x;
    border: 2px solid;
    color: #603913;
    -moz-border-top-colors: #ee9400 #ee9400 !important;
    -moz-border-right-colors: #ee9400 #ee9400 !important;
    -moz-border-bottom-colors: #ee9400 #ee9400 !important;
    -moz-border-left-colors: #ee9400 #ee9400 !important;
}

.button-item-a[disabled=true] {
    background: #e1dfdb !important;
    border: none !important;
}

/*-----------------------------------------------------------------------------
 * button style item-b, often used in detail button panels
 *-----------------------------------------------------------------------------
 */

.button-item-b {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid !important;
    color: #3c322d;
    min-height: 36px;
    -moz-appearance: none;
    -moz-border-top-colors: #f1ede5 #e8e4dc #d6d2cb !important;
    -moz-border-right-colors: #d6d2cb #bab7b1 #979590 !important;
    -moz-border-bottom-colors: #d6d2cb #bab7b1 #979590 !important;
    -moz-border-left-colors: #f1ede5 #e8e4dc #d6d2cb !important;
}

.button-item-b[disabled=false]:active {
    -moz-border-top-colors: #d6d2cb #bab7b1 #979590 !important;
    -moz-border-left-colors: #d6d2cb #bab7b1 #979590 !important;
    -moz-border-bottom-colors: #f1ede5 #e8e4dc #d6d2cb !important;
    -moz-border-right-colors: #f1ede5 #e8e4dc #d6d2cb !important;
}

.button-item-b[disabled=true] {
    background: #e1dfdb !important;
    border: none !important;
}

.button-item-b[selected],
.button-item-b[checked] {
    background: white url(../images/itembtnB_sel.png) left center repeat-x;
    border: 2px solid;
    color: #32787a;
    -moz-border-top-colors: #00a99d #00a99d !important;
    -moz-border-right-colors: #00a99d #00a99d !important;
    -moz-border-bottom-colors: #00a99d #00a99d !important;
    -moz-border-left-colors: #00a99d #00a99d !important;
    -moz-appearance: none;
}

/*-----------------------------------------------------------------------------
 * button style item-c for use with selection textboxes
 *-----------------------------------------------------------------------------
 */

.button-item-c {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 2px solid !important;
    color: #3b312b;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
}

.button-item-c:not([disabled=true]):active {
    -moz-border-top-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-right-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-border-bottom-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-border-left-colors: #d9d9d2 #c3c2bc #a5a49f !important;
}

.button-item-c[disabled=true] {
    border-width: 1px !important;
    -moz-border-bottom-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-border-left-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-top-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-right-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
}

/*-----------------------------------------------------------------------------
 * common button icons
 *-----------------------------------------------------------------------------
 */

.button-delete {
  list-style-image: url(../images/icon_del.png);
}

.button-modify {
  list-style-image: url(../images/icon_mod.png);
}

.button-add {
  list-style-image: url(../images/icon_add.png);
}

.button-up {
  list-style-image: url(../images/go-up.png);
}

.button-down {
  list-style-image: url(../images/go-down.png);
}

.button-exit {
  background: transparent url(../images/ExitBtn.png) center center no-repeat !important;
}

.button-save {
  background: transparent url(../images/SaveBtn.png) center center no-repeat !important;
}

.button-vkb {
  background: transparent url(../images/VkbBtn.png) center center no-repeat !important;
}

.button-exit label,
.button-save label,
.button-vkb label {
  display: none;
}

/*-----------------------------------------------------------------------------
 * Fixed sized buttons suitable for number and function keys
 *-----------------------------------------------------------------------------
 */

.button-fixed {
    background: transparent url(../images/funBtn.png) center center no-repeat;
    border: 0px solid;
    color: #3b556c;
    font-size: 12px;
    font-weight: bold !important;
    height: 42px;
    list-style-type: none;
    margin:  2px 0px 0px 3px;
    max-height:42px;
    max-width:77px;
    min-height:42px;
    min-width:77px;
    overflow: hidden;
    padding: 0px;
    text-wrap: normal;
    width: 77px;
    word-wrap: break-word;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.button-fixed:active {
    background: transparent url(../images/funBtn_a.png) center center no-repeat;
}

.button-fixed[disabled=true] {
    background: transparent url(../images/funBtn_disabled.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * Fixed sized buttons suitable for selection boxes
 *-----------------------------------------------------------------------------
 */

.button-selections {
    background: white;
    border: 1px solid #a1a1a1;
    border-bottom: 2px solid;
    color: #3f3f3f;
    font-size: 10pt;
    margin: 5px;
    max-height: 75px;
    max-width: 120px;
    min-height: 75px;
    min-width: 120px;
    padding: 4px;
    -moz-appearance: none;
    -moz-border-top-colors: #a1a1a1 ;
    -moz-border-right-colors: #a1a1a1 ;
    -moz-border-bottom-colors: #a1a1a1 #a1a1a1;
    -moz-border-left-colors: #a1a1a1;
    -moz-border-radius: 6px;
}

.button-selections hbox {
    word-wrap: break-word;
    -moz-box-orient: vertical;
}

.button-selections image{
    display: none;
}

.button-selections[disabled=false]:active {
    background: #93cbcc;
    border: 1px solid #a1a1a1;
    -moz-border-top-colors: #a1a1a1 ;
    -moz-border-right-colors: #a1a1a1 ;
    -moz-border-bottom-colors: #a1a1a1;
    -moz-border-left-colors: #a1a1a1;
}

.button-selections[selected] {
    background: #93cbcc;
    border: 3px solid;
    color: white;
    font-weight: bold;
    padding: 2px;
    -moz-border-top-colors: #84b6b7 #8abfc0 #90c7c8 ;
    -moz-border-right-colors: #a3d3d4 #9acecf #9dd0d1;
    -moz-border-bottom-colors: #a3d3d4 #9acecf #9dd0d1;
    -moz-border-left-colors: #84b6b7 #8abfc0 #90c7c8;
}

.button-selections[disabled=true] {
    background: transparent;
    border: 0px;
}
