/*--------------------------------------------------------------------------
 *
 * CONDIMENT COLORS
 *
 *--------------------------------------------------------------------------
 */

.condiment-button-color-default {
    background: transparent url(../images/condiment_01.png) repeat center center;
    border-width: 3px;
    color: #524f44;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}

.condiment-button-color-1 {
    /* background: gray; */
    background: transparent url(../images/condiment_02.png) repeat center center;
    border-width: 3px;
    color: #17475a;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}

.condiment-button-color-2 {
    /* background: blue; */
    background: transparent url(../images/condiment_03.png) repeat center center;
    border-width: 3px;
    color: #444a1c;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}

.condiment-button-color-3 {
    /* background: red; */
    background: transparent url(../images/condiment_04.png) repeat center center;
    border-width: 3px;
    color: #563c01;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}


.condiment-button-color-4 {
    /* background: orange; */
    background: transparent url(../images/condiment_05.png) repeat center center;
    border-width: 3px;
    color: #583f26;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}

.condiment-button-color-5 {
    /* background:fuchsia; */
    background: transparent url(../images/condiment_06.png) repeat center center;
    border-width: 3px;
    color: #371948;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}


.condiment-button-color-6 {
    /* background:teal; */
    background: transparent url(../images/condiment_07.png) repeat center center;
    border-width: 3px;
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}


.condiment-button-color-7 {
    /* background: green; */
    background: transparent url(../images/condiment_08.png) repeat center center;
    border-width: 3px;
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}

.condiment-button-color-8 {
    /* background: yellow; */
    background: transparent url(../images/condiment_09.png) repeat center center;
    border-width: 3px;
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
 }

 .condiment-button-color-9 {
    /* background: aqua; */
    background: transparent url(../images/condiment_10.png) repeat center center;
    border-width: 3px;
    color: #491919;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
 }


.condiment-button-color-10 {
    /* background: black; */
    background: transparent url(../images/condiment_11.png) repeat center center;
    border-width: 3px;
    color: #2b2709;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}

.condiment-button-color-11 {
    /* background: white; */
    background: transparent url(../images/condiment_12.png) repeat center center;
    border-width: 3px;
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: black transparent !important;
    -moz-border-left-colors: black transparent !important;
    -moz-border-bottom-colors: black transparent !important;
    -moz-border-right-colors: black transparent !important;
}

.condiment-button-color-default[disabled=false]:active, .condiment-button-color-1[disabled=false]:active,
.condiment-button-color-2[disabled=false]:active, .condiment-button-color-3[disabled=false]:active,
.condiment-button-color-4[disabled=false]:active, .condiment-button-color-5[disabled=false]:active,
.condiment-button-color-6[disabled=false]:active, .condiment-button-color-7[disabled=false]:active,
.condiment-button-color-8[disabled=false]:active, .condiment-button-color-9[disabled=false]:active,
.condiment-button-color-10[disabled=false]:active, .condiment-button-color-11[disabled=false]:active {
    border-width: 3px;
    -moz-border-top-colors: threeddarkshadow !important;
    -moz-border-left-colors: threeddarkshadow !important;
    -moz-border-bottom-colors: threedshadow !important;
    -moz-border-right-colors: threedshadow !important;
}

.condiment-button[disabled] {
    background-color: #e1dfdb;
}

.condiment-preset description {
    font-style: italic;
}

.condiment-preset {
}
