/*-----------------------------------------------------------------------------
 *
 * GLOBAL CSS
 *
 *-----------------------------------------------------------------------------
 */

@import "chrome://viviecr/skin/common/bindings.css";
@import "chrome://viviecr/skin/common/buttons.css";

/*-----------------------------------------------------------------------------
 * Reset global paddings and margins
 *-----------------------------------------------------------------------------
 */

* {
  padding: 0px;
  margin: 0px;
}

/*-----------------------------------------------------------------------------
 * Text Headings
 *-----------------------------------------------------------------------------
 */

.label-page-title {
  font-size: 12pt;
  color: #534741;
  margin: 5px 8px;
  font-weight: bold;
}

.label-sub-title {
  font-size: 10pt;
  color: #372213;
  margin: 5px 8px;
}


