/*-----------------------------------------------------------------------------
 *
 * GLOBAL CSS
 *
 *-----------------------------------------------------------------------------
 */

@import "chrome://viviecr/skin/common/bindings.css";
@import "chrome://viviecr/skin/common/buttons.css";

/*-----------------------------------------------------------------------------
 * Reset global paddings and margins
 *-----------------------------------------------------------------------------
 */

* {
    padding: 0px;
    margin: 0px;
}

/*-----------------------------------------------------------------------------
 * Text Headings
 *-----------------------------------------------------------------------------
 */

.label-page-title {
    font-size: 12pt;
    color: #534741;
    margin: 5px 8px;
    font-weight: bold;
}

.label-sub-title {
    font-size: 10pt;
    color: #372213;
    margin: 5px 8px;
}

.label-notice {
    font-weight: bold;
    color: #cc6300 !important;
}

/*-----------------------------------------------------------------------------
 * Tabbox
 *-----------------------------------------------------------------------------
 */

.content-tabbox {
    margin: 4px;
}

.content-tabbox tab {
    background: white url(../images/sep.png) center right no-repeat;
    border:none;
    color: #393939;
    margin-bottom: 5px;
    padding: 20px 8px;
    -moz-appearance: none;
}

.content-tabbox tab[selected=true] {
    background-color: #847860;
    background-image: none;
    color: white;
    font-weight: bold;
    -moz-user-focus: ignore;
}

.content-tabbox tabpanels {
    background: none;
    border: none;
    -moz-appearance: none;
}

.content-tabbox tabpanel {
    border-top: 1px solid #c1ab8e;
    padding: 5px 5px;
}
