/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Promotions Manager
 *
 *-----------------------------------------------------------------------------
 */

.custom-content-promotions-list tree #active {
    width: 60px;
    max-width: 60px;
}

.custom-content-promotion-trigger {
    background: white;
    padding: 5px;

}

.custom-content-promotion-type {
    background: white;
    padding: 5px;

}
