.MainPnl {
    margin: 18px;
}

.MainL {
    border-right: 1px solid #c1ab8e;
    min-width: 210px;
}

.DataForm {
    padding: 8px;
    margin: 12px 10px 0px 14px;
}

.RightPnlB {
    margin: 12px 12px 14px 14px;
    background: #f8f5f1;
    padding: 8px;
}

.SubTitle {
  font-size: 10pt;
  color: #736357;
  margin-bottom: 8px;
}

.ToolBar {
    margin-left: 4px;
}

.ItemButtonA {
    font-weight: bold;
    color: #534741;
}

.ItemButtonB {
    font-weight: bold;
    color: #736357;
}