/*-----------------------------------------------------------------------------
 *
 * SHOPPING CART
 *
 *-----------------------------------------------------------------------------
 */

.cartList {
    font-size: 13px;
    border: 2px solid ;
    -moz-border-top-colors: #ecf7ff #ecf7ff;
    -moz-border-right-colors: #ecf7ff #ebebeb;
    -moz-border-bottom-colors: #d6d6d6 #f2f2f2;
    -moz-border-left-colors: #f1f1f1 #fff;
    margin: 0px 0px 2px 0px;
    padding: 0px;
    background: transparent;
}

.cartList > .cartList {
    border: none;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART scrollbar
 *-----------------------------------------------------------------------------
 */

.cartList .scrollablepanel-scrollbar {
    
}

.cartList .scrollablepanel-scrollbar vivibutton {
    margin-left: 2px;
    margin-right: 0px;
}

.cartList scrollbar {
    display: none;
}

.cartScrollUp {
    border: 0px solid;
    background: transparent url(images/chatup.png) 0 0 no-repeat;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}
.cartScrollUp[disabled=true] {
    background-position: -64px 0;
}

.cartScrollUp[disabled=false]:active {
    background-position: -32px 0;
}


.cartScrollDown {
    border: 0px solid;
    background: transparent url(images/chatdown.png) 0 0 no-repeat;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.cartScrollDown[disabled=false]:active {
    background-position:-32px 0;
}

.cartScrollUp description, .cartScrollDown description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART sidepanel tool buttons
 *-----------------------------------------------------------------------------
 */


#cartsidebar vivibutton description {
    display: none;
}

#cartsidebar vivibutton {
    background-position: center center;
    background-repeat: no-repeat;
}

.paymentdetailsbtn {
     background: transparent url(images/gnucash.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART order details
 *-----------------------------------------------------------------------------
 */

.cartList tree {
    margin: 0px;
    border: none;
    background: #ecf7ff;
    -moz-appearance: none;
}

.cartList treecol {
    background: #fdf9f6;
    border: none;
    border-bottom: 1px dotted #908c83;
    border-right: 1px solid #bebebe;
    -moz-border-right-colors: #bebebe;
    -moz-border-bottom-colors: #908c83;
    padding: 1px 2px; 
    -moz-appearance: none;
}

.cartList .tree-splitter {
    width: 1px;
    -moz-appearance: none;
    background: #bebebe;
}

treechildren::-moz-tree-row {
    height: 28px;
    border-bottom: 1px solid #818085;
}

treechildren::-moz-tree-row(selected) {background-color: #3b556c !important; }
treechildren::-moz-tree-row(odd, selected) {background-color: #3b556c !important; }
treechildren::-moz-tree-cell-text(selected) {color: #FFFFFF;}
treechildren::-moz-tree-cell-text(odd, selected) {color: #FFFFFF;}
treechildren::-moz-tree-row(treeLowStock) {background-color: orange;}
treechildren::-moz-tree-row(treeOutofStock) {background-color: red;}
treechildren::-moz-tree-row(treeVerifyAge) {background-color: steelblue;}
treechildren::-moz-tree-row(treeReturnItem) {background-color: lightgreen;}
treechildren::-moz-tree-row(batchMarker) {border-bottom: 4px solid black;}
/*
treechildren::-moz-tree-row(treeTRAY) {background-color: #8e9d90;}
treechildren::-moz-tree-row(treeSUBTOTAL) {background-color: #71a5d0;}
treechildren::-moz-tree-row(treeTOTAL) {background-color: #da7f12;}
treechildren::-moz-tree-cell-text(treecellTRAY) {color: white;}
treechildren::-moz-tree-cell-text(treecellSUBTOTAL) {color: #3d5470;}
treechildren::-moz-tree-cell-text(treecellTOTAL) {color: white;}
*/
treechildren::-moz-tree-image(treecellTagged) {list-style-image: url(images/prod-add.png);}
treechildren::-moz-tree-image(treecellUntagged) {list-style-image: url(images/prod-remove.png);}

.cartList #name {
    text-align: left;
}

.cartList #current_qty, #current_price, #current_subtotal, #current_tax {
    text-align: right;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART order headings
 *-----------------------------------------------------------------------------
 */

.cartList tree #tag {
    max-width: 15px;
    min-width: 15px;
}

.cartList tree #name {
/*
    max-width: 140px;
    min-width: 140px;
*/
}

.cartList tree #current_qty {
    max-width: 67px;
    min-width: 67px;
}

.cartList tree #current_price {
    max-width: 76px;
    min-width: 76px;
}

.cartList tree #current_subtotal {
    max-width: 76px;
    min-width: 76px;
}
.cartList tree #current_tax {
    max-width: 20px;
    min-width: 20px;
}

.cartList tree label {
    text-align: center;
    crop: none;
}

.cartList .tree-scrollable-columns {
    max-height: 0px;
}
