.MainPnl {
    margin: 10px 16px;
}

.MainL {
    border-right: 1px solid #a98f6e;
}

.TopPnl {
    border-bottom: 1px solid #a98f6e;
    padding-bottom:4px;
    margin-bottom: 5px;
}

.LeftTop {
    min-width: 380px;
}
.LeftBottom {
    min-width: 270px;
    
}

.DataForm {
    margin: 5px 4px 0px 10px;
}

.DataForm column {
    width: 220px;
}

.RightPnlB {
    margin: 4px 5px 8px 9px;
}

.RightPnlB vbox {
    margin: 1px;
    background: #f1ede5;
}

.RightPnlB .SubTitle {
  font-size: 10pt;
  color: #372213;
  margin: 8px;
}

.FontSizeSet {
    margin: 0px 10px 6px 10px;
}

.BtnColors {
    margin: 8px 25px 3px 23px;
}

.BtnColors button {
    min-width: 50px;
}

.BtnColors button hbox{
    -moz-box-orient: vertical;
}

.ToolBar {
    margin-left: 4px;
}

.PresetCondiment {
    border-style: solid !important;
}

.NotPresetCondiment {
    border-style: dashed !important;
}
