.MainPnl {
    margin: 18px 8px;
}

.MainL {
    border-right: 1px solid #c1ab8e;
}

.dialogbtns {
    margin-left: 4px;
}

.numberbox-input-box{
    background: none;
    border: none;
    -moz-appearance: none;
    padding-right: 5px;
}

.DataRowA {
    background: #f4f3ee;
    margin: 5px 8px 1px 4px;
    padding: 8px;
}

.DataRow {
    background: #f8f5f1;
    margin: 1px 8px 1px 4px;
    padding: 8px;
}
.DataRowA label, .DataRow label {
    font-size: 10pt;
    color: #736357;
}
.DataRow hbox {
    -mox-box-align: center;
}

.FieldTitle {
    font-size: 8pt;
    color: #736357;
    margin-right: 8px;
    -moz-box-pack: end;
}
.SpaceA {
    width: 20px;
}
.SpaceB {
    width: 38px;
}
.SpaceC {
    width: 25px;
}
.SpaceD {
    width: 9px;
}
.SpaceE {
    width: 5px;
}

textbox {
    max-width: 100px;
}


