.MainPnl {
    margin: 18px 8px;
}

.MainL {
    border-right: 1px solid #c1ab8e;
}

.dialogbtns {
    margin-left: 4px;
}

.numberbox-input-box{
    background: none;
    border: none;
    -moz-appearance: none;
    padding-right: 5px;
}

.DataRowA {
    background: #f4f3ee;
    margin: 5px 8px 1px 4px;
    padding: 8px;
}

.DataRow {
    background: #f8f5f1;
    margin: 1px 8px 1px 4px;
    padding: 8px;
}
.DataRowA label, .DataRow label {
    font-size: 10pt;
    color: #736357;
}
.DataRow hbox {
    -mox-box-align: center;
}

.FieldTitle {
    font-size: 8pt;
    color: #736357;
    margin-right: 8px;
    -moz-box-pack: end;
}
.SpaceA {
    width: 20px;
}
.SpaceB {
    width: 38px;
}
.SpaceC {
    width: 25px;
}
.SpaceD {
    width: 9px;
}
.SpaceE {
    width: 5px;
}

textbox {
    max-width: 100px;
}

.numpad sendkeybutton{
    min-width:77px;
    max-width:77px;
    width: 77px;
    height: 42px;
    margin: 2px 0px 0px 3px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: transparent url(images/m_numbtn.png) center center no-repeat;
    color: #47657d;
}
.numberpad sendkeybutton:active{
	background: transparent url(images/m_numbtn_a.png) center center no-repeat;
}

.fixedbtn {
    min-width:77px;
    max-width:77px;
    width: 77px;
    min-height:42px;
    max-height:42px;
    height: 42px;
    margin:  2px 0px 0px 3px;
    padding: 0px;
    list-style-type: none;
    color: #3b556c;
    font-weight: bold !important;
    font-size: 12px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    background: transparent url(images/funBtn.png) center center no-repeat;
}

.fixedbtn:active {
    background: transparent url(images/funBtn_a.png) center center no-repeat;
}

.fixedbtn[disabled=true] {
    background: transparent url(images/funBtn_disabled.png) center center no-repeat;
}
