.MainPnl {
    margin: 18px;
}

.BtnColors {
    margin: 8px 20px 10px 20px;
}
.BtnColors label{
    color: white;
}

.LeftPnl {
    width: 273px;
    max-width: 273px;
}

.MainL {
    border-right: 1px solid #c1ab8e;
}

.DataForm {
    margin: 10px 18px 8px 20px;
}

.RightPnlB {
    margin: 0px 20px 12px 20px;
}

.RightPnlB vbox {
    margin: 1px;
    background: #f8f5f1;
}

.FontSizeSet {
    margin: 0px 12px 6px 12px;
}

.FontSizeSetHeight button{
    height: 50px;
}

.ToolBar {
    margin-left: 4px;
}
.ImportList {
    background: #f4f3ee;
    margin: 8px;
}
