.MainPnl {
    margin: 18px;
}

.SetArea {
   background: #f4f3ee;
   -moz-border-radius: 8px;
   padding: 8px;
}

.SubArea {
    background: white;
}

.RightTabbox grid row {
	border-bottom: 0px solid red;
	font-size: 10pt;
	padding: 4px;
    -moz-box-align: center;
}

.RightTabbox grid column{
	
	padding: 4px;
}

grid {
    
}

menuitem {
    max-width: 220px;
}