/*--------------------------------------------------------------------------
 *
 * FUNCTION BUTTON COLORS
 *
 *--------------------------------------------------------------------------
 */

.function-button-color-default {
    -moz-border-top-colors: #afafaf;
    -moz-border-right-colors: #afafaf;
    -moz-border-bottom-colors: #afafaf;
    -moz-border-left-colors: #afafaf;
    background: #fff url(images/funColor01.gif) bottom left repeat-x;
}

.function-button-color-1 {
    -moz-border-top-colors: #7f8893 !important;
    -moz-border-right-colors: #7f8893 !important;
    -moz-border-bottom-colors: #7f8893 !important;
    -moz-border-left-colors: #7f8893 !important;
    background: #edf4ff url(images/funColor02.gif) bottom left repeat-x !important;
}

.function-button-color-2 {
    -moz-border-top-colors: #919612 !important;
    -moz-border-right-colors: #919612 !important;
    -moz-border-bottom-colors: #919612 !important;
    -moz-border-left-colors: #919612 !important;
    background: #e5e899 url(images/funColor03.gif) bottom left repeat-x !important;
}

.function-button-color-3 {
    -moz-border-top-colors: #d77e00 !important;
    -moz-border-right-colors: #d77e00 !important;
    -moz-border-bottom-colors: #d77e00 !important;
    -moz-border-left-colors: #d77e00 !important;
    background: #fedfb2 url(images/funColor04.gif) bottom left repeat-x !important;

}

.function-button-color-4 {
    -moz-border-top-colors: #526763 !important;
    -moz-border-right-colors: #526763 !important;
    -moz-border-bottom-colors: #526763 !important;
    -moz-border-left-colors: #526763 !important;
    background: #d3dfdc url(images/funColor05.gif) bottom left repeat-x !important;
}

.function-button-color-5 {
    -moz-border-top-colors: #475620 !important;
    -moz-border-right-colors: #475620 !important;
    -moz-border-bottom-colors: #475620 !important;
    -moz-border-left-colors: #475620 !important;
    background: #bfc7aa url(images/funColor06.gif) bottom left repeat-x !important;
}

.function-button-color-6 {
    -moz-border-top-colors: #8e4755 !important;
    -moz-border-right-colors: #8e4755 !important;
    -moz-border-bottom-colors: #8e4755 !important;
    -moz-border-left-colors: #8e4755 !important;
    background: #e2bdc5 url(images/funColor07.gif) bottom left repeat-x !important;
}

.function-button-color-7 {
    -moz-border-top-colors: #438987 !important;
    -moz-border-right-colors: #438987 !important;
    -moz-border-bottom-colors: #438987 !important;
    -moz-border-left-colors: #438987 !important;
    background: #badcdb url(images/funColor08.gif) bottom left repeat-x !important;
}

.function-button-color-8 {
    -moz-border-top-colors: #5b2717 !important;
    -moz-border-right-colors: #5b2717 !important;
    -moz-border-bottom-colors: #5b2717 !important;
    -moz-border-left-colors: #5b2717 !important;
    background: #c6aca4 url(images/funColor09.gif) bottom left repeat-x !important;
}

.function-button-color-9 {
    -moz-border-top-colors: #674d28 !important;
    -moz-border-right-colors: #674d28 !important;
    -moz-border-bottom-colors: #674d28 !important;
    -moz-border-left-colors: #674d28 !important;
    background: #b6a58d url(images/funColor10.gif) bottom left repeat-x !important;
}

.function-button-color-10 {
    -moz-border-top-colors: #406884 !important;
    -moz-border-right-colors: #406884 !important;
    -moz-border-bottom-colors: #406884 !important;
    -moz-border-left-colors: #406884 !important;
    background: #b8cbd9 url(images/funColor11.gif) bottom left repeat-x !important;
}

.function-button-color-11 {
    -moz-border-top-colors: #763b74 !important;
    -moz-border-right-colors: #763b74 !important;
    -moz-border-bottom-colors: #763b74 !important;
    -moz-border-left-colors: #763b74 !important;
    background: #d8c0d7 url(images/funColor12.gif) bottom left repeat-x !important;
}

.function-button-color-default[selected], .function-button-color-1[selected],
.function-button-color-2[selected], .function-button-color-3[selected], .function-button-color-4[selected],
.function-button-color-5[selected], .function-button-color-6[selected], .function-button-color-7[selected],
.function-button-color-8[selected], .function-button-color-9[selected], .function-button-color-10[selected],
.function-button-color-11[selected] {
    list-style-image: url(chrome://viviecr/skin/images/gtk-yes.png);
}
