/*-----------------------------------------------------------------------------
 *
 * Function Panel
 *
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_function_panel {
    background: none;
    border-width: 1px;
    padding: 0px 0px 0px 0px;
    
}

.vivifuncpanelecr_spacer {
    min-width: 1px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

/*-----------------------------------------------------------------------------
 * Function Panel button panel
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_button_panel {
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

/*-----------------------------------------------------------------------------
 * Function Panel mapped buttons
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_matrix_button_mapped {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px;
    color: #2b2623;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    -moz-border-top-colors: #8e8e8e;
    -moz-border-right-colors: #d6dee2 #bdc3c7 #8e8e8e;
    -moz-border-bottom-colors: #d6dee2 #bdc3c7 #8e8e8e;
    -moz-border-left-colors: #8e8e8e;
    background: #fff url(images/funColor01.gif) bottom left repeat-x;
}

.vivifuncpanelecr_matrix_button_mapped[disabled=true] description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * Function Panel unmapped buttons
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_matrix_button_nomap {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px;
    border: 1px solid;
    -moz-border-top-colors: #8e8e8e;
    -moz-border-right-colors: #8e8e8e;
    -moz-border-bottom-colors: #8e8e8e;
    -moz-border-left-colors: #8e8e8e;
}



/*-----------------------------------------------------------------------------
 * Function Panel configure-mode buttons
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_matrix_button_configure {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    border-width: 1px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px;
}

.vivifuncpanelecr_matrix_button_configure[checked=true] {
    border-width: 3px;
    -moz-border-top-colors: black red;
    -moz-border-bottom-colors: black red;
    -moz-border-left-colors: black red;
    -moz-border-right-colors: black red;
}

/*-----------------------------------------------------------------------------
 * Function Panel control panel
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_control_panel {
    min-width: 34px;
    max-width: 34px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    -moz-box-align: center;
}

/*-----------------------------------------------------------------------------
 * Function Panel scrollbar
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_control_scroll_left {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/departUp.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;  
}

.vivifuncpanelecr_control_scroll_left[disabled=false]:active {
    background-position:-32px 0;
}

.vivifuncpanelecr_control_scroll_right {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/departDown.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;   
}
.vivifuncpanelecr_control_scroll_right[disabled=false]:active {
	  background-position:-32px 0;
}

.vivifuncpanelecr_control_home {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    margin: 0px 0 2px 0;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/funTop.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px; 
}
.vivifuncpanelecr_control_home[disabled=false]:active {
	  background-position:-32px 0;
}

.vivifuncpanelecr_control_label {
    color: #3d4247;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 10.5pt;
    border-width: 1px;
    background: transparent;
    border-color: transparent;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px; 
}
.vivifuncpanelecr_control_label .button-text{
    margin: 0px;
    padding: 0px;
}

/*-----------------------------------------------------------------------------
 * Function Panel buttons
 *-----------------------------------------------------------------------------
 */

/* button active */

vivifunctionpanelecr vivibutton[disabled=false]:active {
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}

/*-----------------------------------------------------------------------------
 * Function Panel toolbar
 *-----------------------------------------------------------------------------
 */

#toolbar {
    margin-left: 2px;
    margin-right: 2px;
}

/* toggle button */

.togglefunctionpanel {
  border: 0px solid;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin: 2px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglefunctionpanel[state=true] {
  border: 0px solid;
  background: transparent url(images/maximize.png) -32px 0 no-repeat !important;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin: 2px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglefunctionpanel[state=true]:active {
	background-position:-32px 0;
}

.togglefunctionpanel[state=false] {
    background: transparent url(images/minimize.png) 0 0 no-repeat;
}

.togglefunctionpanel[state=false]:active {
	background-position:-32px 0;
}

/* clockin/out button */

.clockinout {
    background: transparent url(images/clock.png) center center no-repeat;
}

.options {
    background: transparent url(images/option.png) center center no-repeat;
}
