/*-----------------------------------------------------------------------------
 *
 * LEDGER
 *
 *-----------------------------------------------------------------------------
 */

/*-----------------------------------------------------------------------------
 * ledger headings
 *-----------------------------------------------------------------------------
 */

#entryscrollablepanel tree #created {
    text-align: center;
    min-width: 140px;
}

#entryscrollablepanel tree #type,
#entryscrollablepanel tree #mode {
    text-align: center;
}

#entryscrollablepanel tree #amount {
    text-align: right;
}

#typescrollablepanel tree #type,
#typescrollablepanel tree #drawer_change,
#typescrollablepanel tree #mode {
    text-align: center;
}
