.MainPnl {
    margin: 10px;
}

.MainL {
    border-right: 1px solid #c1ab8e;
}

.ToolBar {
    margin-left: 4px;
}

.PLUTabbox {
    margin: 0px 4px 4px 4px;
    width: 200px;
    max-width: 200px;
}
.PLUTabbox tab {
    -moz-appearance: none;
    padding: 8px 15px;
    background: white ;
    border:none;
    color: #4b4b4b;
    font-size: 12pt;
}
.PLUTabbox tab hbox {
    -moz-box-orient: vertical;
    -moz-box-align: center;
}
.PLUTabbox tab[selected=true] {
    -moz-user-focus: ignore;
    background-color: #92856a;
    background-image: none;
    color: white;
    font-weight: bold;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
}
.PLUTabbox tabpanel {
    border-top: 2px solid #92856a;
    background: #e9e8e3;
    padding: 10px 5px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}
.PLUTabbox tabpanels {
    -moz-appearance: none;
    background: none;
    border: none;
}
.PLUTabbox .numberbox-input-box{
    background: none;
    border: none;
    -moz-appearance: none;
    padding-right: 5px;
}
.tabs-right{
    max-width: 1px;
}

.PLUTabbox .SubTitle {
    margin-top: 0px;
}

.DataForm {
    margin: 0 4px 4px 4px;
}

.DataFormB row{
	border-bottom: 2px solid white;
	font-size: 10pt;
	padding: 0px;
}
.DataFormB {
	border-right: 2px solid white;
	background: #f8f5f1;
    margin: 0 2px 4px 4px;
}
.DataFormB column{
	border-right: 2px solid white;
	padding: 8px;
}

.DataForm {
    margin: 0 2px 4px 4px;
}

/* �ϰ���D */
.DataFormB label {
  font-size: 10pt;
  color: #736357;
}

.DepartBox {
    background: white;
    border: 1px solid #dacece;
    padding: 4px;
    margin-bottom: 4px;
}

.RightPnlB {
    margin: 1px 0px 8px 0px;
}

.RightPnlB vbox {
    margin: 1px;
    background: #f8f5f1;
}

.ImgPnl {
    background:#f4f3ee;
    padding-left: 8px;
    margin: 1px;
}

.ImgPnl button {
    height: 44px;
}
.ImgPnl button hbox {
    -moz-box-align: start;
}
.ImgPnl button label {
    padding-left: 8px;
    font-size: 11pt;
    -moz-appearance: none;
}

.IconArea {
    background: white;
    width: 190px;
    height: 92px;
    -moz-box-pack: center;
    -moz-box-align: center;
    margin: 0 8px 8px 8px;
}

.BtnColors {
    margin: 10px 8px 10px 16px;
}

.BtnColors button{
    min-width: 60px;
    min-height: 60px;
}

.FontSizeSet {
    margin: 5px 10px;
}

.plubtn {
    
}

.plupnl vivibutton {
    margin-right: 4px;
}

.Listpnl vivibutton {
    margin-left: 4px;
}

.fixWidth {
    max-width: 170px;
    margin: 5px 0;
}

.DataForm textbox {
    max-width: 208px;
}

.PLTable {
    margin-left: 8px;
}
.PLTable textbox {
    max-width: 120px;
    margin: 4px 6px;
}
.PLTable label {
    font-size: 10pt;
    color: #736357;
}


.SearchBtn {
    -moz-appearance: none;
    color: #6c6050;
    font-size: 12pt;
    margin: 0 5px;
    -moz-border-radius: 6px;
    border: 3px solid;
    -moz-border-top-colors: #f4f3ee #eeede8 #e2e1dc;
    -moz-border-right-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-bottom-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-left-colors: #f4f3ee #eeede8 #e2e1dc;
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    max-height: 80px;
    height: 50px;
    padding: 3px;
}

.SearchBtn:active {
    border: 3px solid;
    -moz-border-top-colors: #ee9400 #ee9400 #ee9400;
    -moz-border-right-colors: #ee9400 #ee9400 #ee9400;
    -moz-border-bottom-colors: #ee9400 #ee9400 #ee9400;
    -moz-border-left-colors: #ee9400 #ee9400 #ee9400;
    -moz-appearance: none;
    color: #603913;
}