.MainPnl {
    margin: 18px;
}

.MainL {
    border-right: 1px solid #c1ab8e;
    padding: 0 8px 5px 4px;
}

.ToolBar {
    margin-left: 4px;
}

.PLbox {
    background: #f4f3ee;
    margin: 5px 10px 5px 10px;
    padding: 8px;
}

.RightPnlB {
    margin: 0px 10px 5px 10px;
    background: #f8f5f1;
    padding: 8px;
}


.RightPnlB button {
    border: 3px solid;
    -moz-border-top-colors: #f8f5f1 #f2efeb #e6e3df;
    -moz-border-right-colors: #e6e3df #d3d0cd #bab8b5;
    -moz-border-bottom-colors: #e6e3df #d3d0cd #bab8b5;
    -moz-border-left-colors: #f8f5f1 #f2efeb #e6e3df;
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    -moz-appearance: none;
    min-height: 36px;
    color: #736357;
}
.RightPnlB button:active {
    border: 2px solid;
    -moz-border-top-colors: #00a99d #00a99d;
    -moz-border-right-colors: #00a99d #00a99d;
    -moz-border-bottom-colors: #00a99d #00a99d;
    -moz-border-left-colors: #00a99d #00a99d;
    background: white url(../images/itembtnB_sel.png) left center repeat-x;
    -moz-appearance: none;
    color: #32787a;
}

.BtnAdd {
    margin: 0 20px;
    min-height: 45px;
    -moz-border-radius: 6px;
    border: 3px solid;
    -moz-border-top-colors: #f4f3ee #eeede8 #e2e1dc;
    -moz-border-right-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-bottom-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-left-colors: #f4f3ee #eeede8 #e2e1dc;
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    -moz-appearance: none;
    color: #6c6050;
    font-size: 12pt;
    padding: 0 8px;
}
.BtnAdd[disabled=false]:active {
    border: 2px solid;
  -moz-border-top-colors: #ee9400 #ee9400;
  -moz-border-right-colors: #ee9400 #ee9400;
  -moz-border-bottom-colors: #ee9400 #ee9400;
  -moz-border-left-colors: #ee9400 #ee9400;
  -moz-appearance: none;
  color: #603913;
}
.BtnAdd[disabled=true] {
  color: #999 ;
  border: 1px solid;
  -moz-border-top-colors: #999;
  -moz-border-right-colors: #999;
  -moz-border-bottom-colors: #999;
  -moz-border-left-colors: #999;
  list-style-image: none;
}

.SubTitle {
    margin-top: 0px;
}

.ScrollUp {
    margin-right: 2px;
}

.ScrollDown {
    margin-right: 2px;
}

