/*--------------------------------------------------------------------------
 *
 * DEPARTMENT PANEL
 *
 *--------------------------------------------------------------------------
 */

.catescrollablepanel{
    background: none;
    /*min-width: 360px;
    max-width: 360px;
    width: 360px;*/
    margin: 0px;
}


/*--------------------------------------------------------------------------
 * SCROLLBAR
 *--------------------------------------------------------------------------
 */

.depart_scroll_up {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    background: transparent url(images/departUp.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}

.depart_scroll_up[disabled=false]:active {
	  background-position: -32px 0;
}

.depart_scroll_up label {
	  display: none;
}

.depart_scroll_up description {
	  display: none;
}

.depart_scroll_down {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
    background: transparent url(images/departDown.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}

.depart_scroll_down[disabled=false]:active {
	  background-position: -32px 0;
}

.depart_scroll_down label {
	display: none;
}

.depart_scroll_down description {
	display: none;
}



/*--------------------------------------------------------------------------
 *
 * PLU PANEL
 *
 *--------------------------------------------------------------------------
 */
.prodscrollablepanel {
	-moz-appearance: none;
	-moz-background-clip: border;
	margin: 0px 2px 0px 0px;
	background: #59626e;
	padding: 0px 0 0 2px;
}

.prodscrollablepanel vivibuttonpanel {
	margin-top: 2px;
	margin-right: 4px;
	margin-bottom: 0px;
}

/*--------------------------------------------------------------------------
 * SCROLLBAR
 *--------------------------------------------------------------------------
 */

.prodscrollablepanel .scrollablepanel-scrollbar {
	margin: 2px 0 2px 2px;
}

.prodscrollablepanel image {
	width: 32px;
	height: 32px;
}


