/** style 01 **/

.style01 {	
	padding: 1px;
	background: white;
	font-size: 10pt;	
}
.style01 > div {
	width: 160px;
	height: 100px;
	position:relative; 
}
.style01 .topItem {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 158px;
	height: 98px;
}
.style01 .bgItem {
	height: 84px;
	text-align: right;
	color: #ebebeb;
	font-size: 48pt;
	padding: 12px 0px 0 0;
	font-family: 'Arial Black';
	width: 158px;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
.style01 .bottomItem {
  position:absolute;
  bottom: 0;
  left: 0;
	height: 16px;
	text-align: right;
	color: #4c4d4c;
	background: #e1e1e1;
	padding: 2px 8px;
	width: 142px;
	z-index: 40;
}
.style01 .tableData {
	float: right;
	width: 116px;
	margin: 0 2px;
}
.style01 .tableInfo {
	padding: 2px;
}
.style01 .tableInfo .cneckNo,
.style01 .tableInfo .clerk, 
.style01 .tableInfo .total{
	margin-top: 1px;
}
.style01 .tableName {
	border-bottom: 1px dotted #4c4c4d;
	color: #372213;
	padding: 2px;
}
.style01 .checkNum{
	float: right;
	color: #9e0b0f;
}
.style01 .time{
	color: white;
	font-size: 8pt;
	margin-top: 40px;
	font-family: Arial;
}
.style01 .tableNo {
	width: 32px;
	height: 85px;
	margin: 4px 6px;
	text-align: center;
	font-size: 14pt;
	font-family: 'Arial Black';
}
.style01 .remark{
	margin-top: 10px;
}

/* WL啥 */
.style01 .overtime {
	background: #9e0b0f;
	
	color: yellow;
	font-weight: bold;
}
/* WLH计 */
.style01 .overpeople {
	color: #9e0b0f;
	font-weight: bold;
}



.style01 .redtable .tableNo {
	background: #9e0b0f;
	color: white;
}

.style01 .bluetable .tableNo {
	background: #354f66;
	color: white;
}

.style01 .greentable .tableNo {
	background: #a2a70f;
	color: white;
}

.style01 .yellowtable .tableNo {
	background: #f2c54e;
	color: white;
}


/************ style 02 ****************/

.style02 {
	padding: 1px;
	background: white;
	font-size: 10pt;
}
.style02 > div {
	width: 160px;
	height: 100px;
	position:relative; 
}
.style02 .topItem {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 158px;
	height: 98px;
}
.style02 .bgItem {
	height: 84px;
	text-align: right;
	color: #ebebeb;
	font-size: 48pt;
	padding: 12px 0px 0 0;
	font-family: 'Arial Black';
	width: 158px;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
.style02 .bottomItem {
  position:absolute;
  bottom: 0;
  left: 0;
	height: 16px;
	text-align: right;
	color: #4c4d4c;
	background: #e1e1e1;
	padding: 2px 8px;
	width: 142px;
	z-index: 40;
}
.style02 .tableData {
	float: right;
	width: 116px;
	margin: 0 2px;
}
.style02 .tableInfo {
	padding: 2px;
}
.style02 .tableInfo .cneckNo,
.style02 .tableInfo .clerk, 
.style02 .tableInfo .total{
	margin-top: 1px;
}
.style02 .tableName {
	border-bottom: 1px dotted #4c4c4d;
	color: #372213;
	padding: 2px;
}
.style02 .checkNum{
	float: right;
	color: #9e0b0f;
}
.style02 .time{
	color: white;
	font-size: 8pt;
	margin-top: 3px;
	font-family: Arial;
}
.style02 .tableNo {
	width: 32px;
	height: 90px;
	margin: 4px 6px;
	text-align: center;
	font-size: 14pt;
	font-family: 'Arial Black';
}
.style02 .remark{
	margin-top: 10px;
}

/* WL啥 */
.style02 .overtime {
	background: #9e0b0f;
	
	color: yellow;
	font-weight: bold;
}
/* WLH计 */
.style02 .overpeople {
	color: #9e0b0f;
	font-weight: bold;
}

.style02 .redtable .tableNo {
	background: transparent url(images/style02_red.png) no-repeat top center;
	color: white;
}

.style02 .bluetable .tableNo {
	background: transparent url(images/style02_blue.png) no-repeat top center;
	color: white;
}

.style02 .greentable .tableNo {
	background: transparent url(images/style02_green.png) no-repeat top center;
	color: white;
}

.style02 .yellowtable .tableNo {
	background: transparent url(images/style02_yellow.png) no-repeat top center;
	color: white;
}


/****************** style 03 **********************/

.style03 {
	padding: 1px;
	background: white;
	font-size: 10pt;
}
.style03 > div {
	width: 160px;
	height: 100px;
	position:relative; 
}
.style03 .topItem {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 158px;
	height: 98px;
}
.style03 .bgItem {
	text-align: right;
	color: #ebebeb;
	font-size: 48pt;
	font-family: 'Arial Black';
	width: 158px;
	position:absolute;
	top: 20px;
	left: 0;
	z-index: 40;
}
.style03 .bottomItem {
  position:absolute;
  bottom: 0;
  left: 0;
	height: 16px;
	text-align: right;
	color: #4c4d4c;
	padding: 2px 8px;
	width: 142px;
	z-index: 50;
}
.style03 .tableData {
	float: right;
	width: 116px;
	margin: 0 2px;
}
.style03 .tableInfo {
	padding: 4px;
}
.style01 .tableInfo .cneckNo,
.style01 .tableInfo .clerk, 
.style01 .tableInfo .total{
	margin-top: 2px;
}
.style03 .tableName {
	border-bottom: 1px dotted #4c4c4d;
	color: #372213;
	padding: 2px;
}
.style03 .checkNum{
	float: right;
	color: #9e0b0f;
}
.style03 .time{
	color: white;
	font-size: 8pt;
	margin-top: 50px;
	font-family: Arial;
}
.style03 .tableNo {
	width: 32px;
	height: 95px;
	margin: 4px 6px;
	text-align: center;
	font-size: 14pt;
	font-family: 'Arial Black';
}
.style03 .remark{
	margin-top: 10px;
}

/* WL啥 */
.style03 .overtime {
	background: #9e0b0f;
	
	color: yellow;
	font-weight: bold;
}
/* WLH计 */
.style03 .overpeople {
	color: #9e0b0f;
	font-weight: bold;
}


.style03 .redtable .tableNo {
	background: #9e0b0f;
	color: white;
}
.style03 .redtable .bottomItem { 
	border-bottom: 4px solid #9e0b0f;	
}

.style03 .bluetable .tableNo {
	background: #354f66;
	color: white;
}
.style03 .bluetable .bottomItem { 
	border-bottom: 4px solid #354f66;	
}

.style03 .greentable .tableNo {
	background: #a2a70f;
	color: white;
}
.style03 .greentable .bottomItem { 
	border-bottom: 4px solid #a2a70f;	
}

.style03 .yellowtable .tableNo {
	background: #f2c54e;
	color: white;
}
.style03 .yellowtable .bottomItem { 
	border-bottom: 4px solid #f2c54e;	
}



/************ style 04 ****************/

.style04 {
	padding: 1px;
	background: white;
	font-size: 10pt;
}
.style04 > div {
	width: 158px;	
	height: 98px;
	position:relative; 
}
.style04 .topItem {
	position:absolute;
	top: 1px;
	left: 1px;
	z-index: 100;
	width: 156px;
	height: 96px;
}
.style04 .bottomItem {
  height: 16px;
	color: #4c4d4c;
	border-top: 1px dotted #4c4c4d;6
	padding: 1px;
}
.style04 .tableInfo .clerk {
	margin-left: 3px;
	width: 100px;
}
.style04 .people {
	float: right;
	width: 40px;
	padding-right: 4px;
	text-align: right;
}
.style04 .tableInfo {
	padding: 2px;
	height: 52px;
}
.style04 .tableInfo .cneckNo,
.style04 .tableInfo .total{
	margin-top: 1px;
}
.style04 .tableName {
	border-bottom: 1px dotted #4c4c4d;
	color: #372213;
	padding: 2px 2px 2px 50px;
	background: #e5e5e5;
}
.style04 .checkNum{
	float: right;
	color: #9e0b0f;
}
.style04 .time{
	font-size: 8pt;
	margin-top: 4px;
	text-align: right;
	background: transparent url(images/clock.gif) no-repeat 110px center;
	
}
.style04 .tableNo {
	position:absolute;
	top: 4px;
	left: 6px;
	z-index: 200;
	width: 32px;
	height: 50px;
	padding-top: 3px;
	text-align: center;
	font-size: 14pt;
	font-family: 'Arial Black';
}
.style04 .remark{
	margin-top: 20px;
}

/* WL啥 */
.style04 .overtime {
	color: #9e0b0f;
	font-weight: bold;
}
/* WLH计 */
.style04 .overpeople {
	color: white;
	font-weight: bold;
	background: #f26522;
}

.style04 .redtable .tableNo {
	background: transparent url(images/style04_red.png) no-repeat top center;
	color: white;
}
.style04 .redtable {
	border: 1px solid #9e0b0f;
}

.style04 .bluetable .tableNo {
	background: transparent url(images/style04_blue.png) no-repeat top center;
	color: white;
}
.style04 .bluetable {
	border: 1px solid #354f66;
}

.style04 .greentable .tableNo {
	background: transparent url(images/style04_green.png) no-repeat top center;
	color: white;
}
.style04 .greentable {
	border: 1px solid #a2a70f;
}

.style04 .yellowtable .tableNo {
	background: transparent url(images/style04_yellow.png) no-repeat top center;
	color: white;
}
.style04 .yellowtable {
	border: 1px solid #f2c54e;
}
