/*-----------------------------------------------------------------------------
 *
 * Main Screen VFD
 *
 *-----------------------------------------------------------------------------
 */

.main-screen .vfdPad {
    background-color: #1e1b14;
    border-bottom: 7px solid #f39a1c;
}

.main-screen .vfdPadOnTraining {
    background-color: red;
    border-bottom: 7px solid red;
}

.main-screen .vbox-vfd {
    padding: 3px;
    margin-left: 0px;
    height: 60px;
}

.main-screen .label-vfd {
    color: #f49b1d;
    background-color: transparent;
    border-width: 0px;
    font-size: 15pt;
    font-family: monospace;
    font-weight: bold !important;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-user-select: none;
    -moz-user-input: none;
}

.main-screen .vfdPadOnTraining .label-vfd {
    color: black !important;
}
