/*-----------------------------------------------------------------------------
 *
 * Front End Product Panel
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .prodscrollablepanel {
    margin: 0px;
    padding: 0px;
    -moz-appearance: none;
    -moz-background-clip: border;
}

.main-overlay .prodscrollablepanel vivibuttonpanel {
    margin: 0px;
}

/*-----------------------------------------------------------------------------
 *  Front-end product buttons
 *-----------------------------------------------------------------------------
 */


.main-overlay .button-product {
    background: url(../images/btn_product.gif) no-repeat center center;
    border: none;
    color: #FFF;
    padding: 2px;
    -moz-appearance: none;
    -moz-border-radius: 18px 18px 14px 15px;
}

.main-overlay .button-product[disabled=true] {
}

.main-overlay .button-product hbox {
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
}

.main-overlay .button-product description {
    text-wrap: normal;
    word-wrap: break-word;
}

/*-----------------------------------------------------------------------------
 * scroll buttons
 *-----------------------------------------------------------------------------
 */

.main-overlay .product-scroll-up-button {
    background: transparent url(../images/departUp.png) no-repeat center center;
    border: 0px;
    margin: 2px 0px 0px 0px;
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    padding: 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.main-overlay .product-scroll-up-button[disabled=false]:active {
    background-position: -40px 0;
}

.main-overlay .product-scroll-up-button label {
    display: none;
}

.main-overlay .product-scroll-up-button[disabled=true] {
    background-position: -80px 0;
}

.main-overlay .product-scroll-up-button description {
    display: none;
}

.main-overlay .product-scroll-down-button {
    background: transparent url(../images/departDown.png) no-repeat center center;
    border: 0px;
    margin: 0px 0px 2px 0px;
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    padding: 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.main-overlay .product-scroll-down-button[disabled=false]:active {
    background-position: -40px 0;
}

.main-overlay .product-scroll-down-button[disabled=true] {
    background-position: -80px 0;
}

.main-overlay .product-scroll-down-button label {
    display: none;
}

.main-overlay .product-scroll-down-button description {
    display: none;
}

.main-overlay .prodscrollablepanel .scrollablepanel-scrollbar {
	margin: 2px 0 2px 2px;
        display: none;
}

/*--------------------------------------------------------------------------
 *
 * PRODUCT COLORS
 *
 *--------------------------------------------------------------------------
 */


.main-overlay .prodscrollablepanel .product-button-color-default {
    background: transparent url(../images/btn_product_01.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-default description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-1 {
    background: transparent url(../images/btn_product_02.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-1 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-2 {
    background: transparent url(../images/btn_product_03.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-2 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-3 {
    background: transparent url(../images/btn_product_04.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-3 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-4 {
    background: transparent url(../images/btn_product_05.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-4 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-5 {
    background: transparent url(../images/btn_product_06.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-5 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-6 {
    background: transparent url(../images/btn_product_07.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-6 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-7 {
    background: transparent url(../images/btn_product_08.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-7 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-8 {
    background: transparent url(../images/btn_product_09.png) no-repeat center center !important;
 }

.main-overlay .prodscrollablepanel .product-button-color-8 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-9 {
    background: transparent url(../images/btn_product_10.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-9 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-10 {
    background: transparent url(../images/btn_product_11.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-10 description {
    color: #FFFFFF !important;
}

.main-overlay .prodscrollablepanel .product-button-color-11 {
    background: transparent url(../images/btn_product_12.png) no-repeat center center !important;
}

.main-overlay .prodscrollablepanel .product-button-color-11 description {
    color: #FFFFFF !important;
}
