/*-----------------------------------------------------------------------------
 *
 * Front End terminal status
 *
 *-----------------------------------------------------------------------------
 */

.promotions-vbox {
    background-color: #1e1b14;
    border-bottom: 2px solid #2e2b24;
}

.promotions-vbox textbox {
    -moz-user-focus: ignore;
    -moz-user-select: none;
    -moz-user-input: none;
}

.promotions-title {
    background-color: transparent;
    border-width: 0px;
    color: #f49b1d;
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold !important;
    width: 200px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-user-select: none;
    -moz-user-input: none;
    -moz-box-align: center;
}

.promotions-subtotal {
    background-color: transparent;
    border-width: 0px;
    color: red;
    font-family: monospace;
    font-size: 14pt;
    font-weight: bold !important;
    text-align: right;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-user-select: none;
    -moz-user-input: none;
    -moz-box-align: center;
}

.promotions-applies {
    background-color: transparent;
    border-width: 0px;
    color: #f49b1d;
    font-family: monospace;
    font-size: 12pt;
    font-weight: bold !important;
    text-align: right;
    width: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-user-select: none;
    -moz-user-input: none;
    -moz-box-align: center;
}

.promotions-tree tree {
    margin: 0px;
    border: none;
    color: #f4f4f4;
    background-color: #1e1b14;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-user-select: none;
    -moz-user-input: none;
}

.promotions-tree treechildren::-moz-tree-row(selected) {
    background-color: #f4f4f4;
}

.promotions-tree treechildren::-moz-tree-cell-text(selected) {
    color: #1e1b14;
}

.promotions-tree .tree-scrollable-columns {
    max-height: 0px;
}


.promotions-details #promotion_name,
.promotions-details #promotion_code,
.promotions-details #name {
    text-align: left;
}

.promotions-details #no {
    text-align: center;
}

.promotions-details #name {
    width: 150px;
}

.promotions-details #current_qty,
.promotions-details #current_subtotal,
.promotions-details #discount_subtotal,
.promotions-details #current_tax {
    text-align: right;
    width: 60px;
}
