/*-----------------------------------------------------------------------------
 *
 * Front End terminal status
 *
 *-----------------------------------------------------------------------------
 */
#vivipos-bottombox {
    background: transparent url(chrome://viviecr/skin/images/black.png) 0% 0% repeat-x;
}

#status-bar {
    margin: 0px;
    padding: 0px;
    -moz-box-align: center;
}

#status-bar statusbarpanel {
    border-width: 0px;
    padding: 0px;
    -moz-appearance: none;
}

#status-bar vivisessionstatus {
    border-width: 1px;
    font-size: x-small;
    text-align: center;
    -moz-appearance: none;
}

#status-bar .console-current-user {
    background-color: transparent;
    border-width: 1px;
    color: white;
    font-size: x-small;
    text-align: center;
    -moz-appearance: none;
}

#status-bar .console-message-value {
    background-color: transparent;
    border-width: 1px;
    color: white;
    font-size: x-small;
    min-width: 80px;
    -moz-appearance: none;
}

#status-bar viviclock {
    background-color: transparent;
    font-size: small;
}

#status-bar .receiptStatus[status=on] {
    list-style-image: url("chrome://viviecr/skin/images/gtk-yes.png");
    margin: 0 10px 0 10px;
    max-width: 18px;
    max-height: 18px;
}

#status-bar .receiptStatus[status=off] {
    list-style-image: url("chrome://viviecr/skin/images/gtk-cancel.png");
    margin: 0 10px 0 10px;
    max-width: 18px;
    max-height: 18px;
}

.statusbarpanel-text {
    display: none;
}
