/* global skin ------------------------------------------------------------- */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@namespace html url("http://www.w3.org/1999/xhtml");

.cartList {
    font-size: 14px;
    min-height: 200px;
    border-bottom: 1px dotted #908c83;
    margin: 0px 0px 2px 0px;
    padding: 0px;
    background: transparent;
}

.cartList .scrollablepanel-scrollbar {
    border: 1px dotted #908c83;
}

.cartList .scrollablepanel-scrollbar vivibutton {
    margin-left: 2px;
    margin-right: 2px;
}

.cartList tree {
    margin: 0px;
}
.cartList treechildren{
    background: #f8f4eb url(images/cart.png) bottom right no-repeat;
}

.cartList scrollbar {
    display: none;
}

.cartScrollUp {
	border: 0px solid;
	background: transparent url(images/chatup.png) 0 0 no-repeat;
	max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
	height: 32px;
	width: 32px;
	margin: 4px;
	-moz-user-focus: ignore;
	-moz-appearance: none;
}

.cartScrollUp[disabled=false]:active {
	background-position:-32px 0;
}

.cartScrollDown {
	border: 0px solid;
	background: transparent url(images/chatdown.png) 0 0 no-repeat;
	max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
	height: 32px;
	width: 32px;
	margin: 4px;
	-moz-user-focus: ignore;
	-moz-appearance: none;
}

.cartScrollDown[disabled=false]:active {
	background-position:-32px 0;
}

.cartScrollUp label, .cartScrollDown label {
	display: none;
}

.cartScrollUp description, .cartScrollDown description {
	display: none;
}

.itemplusbtn {
     background: transparent url(chrome://viviecr/skin/images/list-add.png) center center no-repeat;
}
.itemminusbtn {
     background: transparent url(chrome://viviecr/skin/images/list-remove.png) center center no-repeat;
}
.paymentdetailsbtn {
     background: transparent url(chrome://viviecr/skin/images/gnucash-icon.png) center center no-repeat;
}

treechildren::-moz-tree-row {
  height: 28px;
}

treechildren::-moz-tree-row(selected) {background-color: #991111; }
treechildren::-moz-tree-row(odd) {background-color: #DDDDDD;}
treechildren::-moz-tree-row(odd, selected) {background-color: #991111; }
treechildren::-moz-tree-cell-text(selected) {color: #FFFFFF;}
treechildren::-moz-tree-cell-text(odd, selected) {color: #FFFFFF;}

/*
treeitem {
  min-height: 30px;
}
*/
/*
treechildren {
  background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url(images/vivipos_icon1.png);
}
*/
treechildren::-moz-tree-row(treeTRAY) {background-color: #AAAAFF;}
treechildren::-moz-tree-row(treeSUBTOTAL) {background-color: #FF88FF;}
treechildren::-moz-tree-row(treeTOTAL) {background-color: #55DD55;}
treechildren::-moz-tree-cell-text(treecellTRAY) {color: white;}
treechildren::-moz-tree-cell-text(treecellSUBTOTAL) {color: yellow;}
treechildren::-moz-tree-cell-text(treecellTOTAL) {color: yellow;}

