/* global skin ------------------------------------------------------------- */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@namespace html url("http://www.w3.org/1999/xhtml");

* {
	padding: 0px;
	margin: 0px;
}

.signinpanel  {
    width: 800px;
    height: 600px;
    background: #f8f4eb url(images/Signin.jpg) center center no-repeat;
    border: 0px solid red;
}

.userscrollablepanel {
  max-height: 365px;
  min-height: 365px;
  margin-left: 82px;
  margin-top: 14px;
}

.numberbtn {
    min-width:100px;
    max-width:100px;
    min-height:64px;
    max-height:64px;
    height: 64px;
    width: 100px;
    margin: 1px 1px 0px 0px;
    padding: 0px;
    list-style-type: none;
    color: White;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    background-color:#800040;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: url(images/btn_purple.png);
    -moz-background-clip: border;
}

.numpad {
	width: 295px;
	height: 265px;
	max-height: 265px;
	background: white url(images/numpadbg.gif) no-repeat top center;
	border: solid 1px #5c5751;
	-moz-background-clip: border;
	-moz-border-radius-topright: 8px; 
	-moz-border-radius-topleft: 8px;
	padding: 27px 10px 10px 5px;
	margin: 103px 0 0 10px;
}
.numberpad {
   
}
.numberpad sendkeybutton{
    min-width:64px;
    max-width:64px;
    min-height:52px;
    max-height:52px;
    height: 52px;
    width: 64px;
    margin: 5px 0 0 5px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: transparent url(images/numbtn.png);
    color: white;
}

.numberpad button:active{
	background: transparent url(images/numbtn_a.png) center center no-repeat;
}

.rightprevbtn {
    max-width:32px;
    min-width:32px;
    height: 50px;
    width: 32px;
    background: transparent url(images/userUp.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
	border: none;
}
.rightprevbtn[disabled=false]:active {
	background: transparent url(images/userUp_a.png) center center no-repeat;
}
.rightnextbtn {
    max-width:32px;
    min-width:32px;
    height: 50px;
    width: 32px;
    background: transparent url(images/userDown.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: none;
}
.rightnextbtn[disabled=false]:active {
	background: transparent url(images/userDown_a.png) center center no-repeat;
}

.rightprevbtn label{
	display: none;
}

.rightnextbtn label{
	display: none;
}

.rightprevbtn description {
	display: none;
}

.rightnextbtn description {
	display: none;
}

.userbtn {
    min-width:225px;
    max-width:225px;
    min-height:73px;
    max-height:73px;
    height: 73px;
    width: 225px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    color: #514f43;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: transparent url(images/user.gif) no-repeat 26px 12px;
    -moz-background-clip: border;
    -moz-box-orient: vertical;
    border: none;
    border-bottom: 1px dotted #908c83;
}

.userbtn hbox{
  width: 100%;
  height: 100%;
  padding-left: 87px;
  vertical-align: middle;
}
.userbtn hbox image{
  max-height: 24px;
  height: 24px;
  max-width: 24px;
  width: 24px;
  display: none;
}

.userbtn:active {
    background: transparent url(images/selUser.gif) no-repeat center center;
    color: white;
}

.userbtn[selected=true] {
    background: transparent url(images/selUser.gif) no-repeat center center;
    color: white;
}

.gray {
  background: url(images/btn_gray.png);
  background-position:0pt -64px;
}

.blue {
  background: url(images/btn_blue.png);
  background-position:0pt -64px;
}

.green {
  background: url(images/btn_green.png);
  background-position:0pt -64px;
}

.purple {
  background: url(images/btn_purple.png);
  background-position:0pt -64px;
}

.systembtn {
    min-width:70px;
    max-width:70px;
    min-height:109px;
    max-height:109px;
    height: 109px;
    width: 70px;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    list-style-type: none;
    color: #42422f;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    /* background: white; */
    background: transparent url(images/funBtn4.png) center center no-repeat;
}
.systembtn:active {
    background: transparent url(images/funBtn4_a.png) center center no-repeat;
}

.genbtn {
    height: 69px;
    width: 70px;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    color: White;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    background: transparent url(images/signin.gif) no-repeat 0 0;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: none;
}
.genbtn:active {
	background: transparent url(images/signin_a.gif) no-repeat 0 0;
}
.genbtn label{
	display: none;
}

.PwPad {
	margin: 54px 0 0 385px;
	
}

.pwlabel {
	font-size: 12pt; 
	color: white;
	margin-top: 13px;
}
.userlabel {
	font-size: 11pt; 
	color: #dcf74a;
	margin-top: 9px;
}
.pwBox {
	width: 211px;
	margin-top: 5px;
	height: 36px;
	border: 2px solid #b2a59a;
	-moz-border-color: #b2a59a;
	-moz-border-radius: 4px;
	-moz-appearance: none;
	color: #514f43;
	font-size: 21px;
}
