/*--------------------------------------------------------------------------
 *
 * DEPARTMENT PANEL
 *
 *--------------------------------------------------------------------------
 */

/*--------------------------------------------------------------------------
 * BUTTONS
 *--------------------------------------------------------------------------
 */

.catbtn {
    min-height:50px;
    min-width: 50px;
    -moz-border-top-colors: #ddcfb4 #ffffff;
    -moz-border-right-colors: #ddcfb4 #ffffff;
    -moz-border-bottom-colors: #ddcfb4 #ffffff;
    -moz-border-left-colors: #ddcfb4 #ffffff;
    color: #42422f;
    border: 2px solid;
    -moz-appearance: none;
    margin: 2px;
    padding: 0px;
    
    -moz-background-clip: border;
  
    -moz-box-pack: center;
    -moz-user-focus: ignore;
}

.catbtn[selected] {
    list-style-image: none;
}

.catbtn:active, .plubtn:active {
    background-position:0pt -60px;
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}

.catbtn[disabled=true] {
    border: 0px;
}

.catbtn hbox, .plubtn hbox {
    -moz-box-orient: vertical;

}

/*--------------------------------------------------------------------------
 * SCROLLBAR
 *--------------------------------------------------------------------------
 */

.depart_scroll_up {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/departUp.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}

.depart_scroll_up[disabled=false]:active {
	background: transparent url(images/departUp_a.png) center center no-repeat;
}

.depart_scroll_up label {
	display: none;
}

.depart_scroll_up description {
	display: none;
}

.depart_scroll_down {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/departDown.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}

.depart_scroll_down[disabled=false]:active {
	background: transparent url(images/departDown_a.png) center center no-repeat;
}

.depart_scroll_down label {
	display: none;
}

.depart_scroll_down description {
	display: none;
}

.catescrollablepanel .scrollablepanel-scrollbar {
    border-left: 1px dotted #908c83;
    border-right: 1px dotted #908c83;
}

.catescrollablepanel{
    background: transparent url(images/map.png) top right no-repeat;
}

/*--------------------------------------------------------------------------
 *
 * PLU PANEL
 *
 *--------------------------------------------------------------------------
 */

/*--------------------------------------------------------------------------
 * BUTTONS
 *--------------------------------------------------------------------------
 */

.plubtn {
    min-height:50px;
    min-width: 50px;
    border: 1px solid #c9c3b9;
    -moz-appearance: none;
    margin: 2px;
    padding: 0px;
    
    -moz-box-pack: center;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    background-color: #ffffff;

}

.plubtn:active {
    background-position:0pt -60px;
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}

.plubtn[disabled=true] {
    background-color: #ffffff;
    border: 1px solid #c9c3b9;
}

.plubtn hbox {
    -moz-box-orient: vertical;

}

/*--------------------------------------------------------------------------
 * SCROLLBAR
 *--------------------------------------------------------------------------
 */

.prodscrollablepanel .scrollablepanel-scrollbar {
	background: transparent url(images/plubg.gif) 50% 50% no-repeat;
}

.prodscrollablepanel image {
	width: 32px;
	height: 32px;
}

.prodscrollablepanel {
	border-left: 1px solid #5c5751;
	border-right: 1px solid #5c5751;
	border-top: 1px solid #5c5751;
	border-bottom: 1px solid #5c5751;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-appearance: none;
	-moz-background-clip: border;
	min-width: 339px;
	width: 339px;
	margin: 0px 0px 2px 0px;
	background: transparent;
	padding: 0px;
}
