vivibuttonpanel .button-default {
    background: #fcf9f4 url(images/departBtn1.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-gray {
    background: #fcf9f4 url(images/departBtn2.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-blue {
    background: #fcf9f4 url(images/departBtn3.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-red {
    background: #fcf9f4 url(images/departBtn4.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-orange {
    background: #fcf9f4 url(images/departBtn5.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-fuchsia {
    background: #fcf9f4 url(images/departBtn6.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-teal {
    background: #fcf9f4 url(images/departBtn7.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-green {
    background: #fcf9f4 url(images/departBtn8.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-yellow {
    background: #fcf9f4 url(images/departBtn9.png) 0 50% no-repeat;
    color: black;
 }

vivibuttonpanel .button-aqua {
    background: #fcf9f4 url(images/departBtn10.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-black {
    background: #fcf9f4 url(images/departBtn11.png) 0 50% no-repeat;
    color: black;
}

vivibuttonpanel .button-white {
    background: #fcf9f4 url(images/departBtn12.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-default {
    background: #fcf9f4 url(images/departBtn1.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-gray {
    background: #fcf9f4 url(images/departBtn2.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-blue {
    background: #fcf9f4 url(images/departBtn3.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-red {
    background: #fcf9f4 url(images/departBtn4.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-orange {
    background: #fcf9f4 url(images/departBtn5.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-fuchsia {
    background: #fcf9f4 url(images/departBtn6.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-teal {
    background: #fcf9f4 url(images/departBtn7.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-green {
    background: #fcf9f4 url(images/departBtn8.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-yellow {
    background: #fcf9f4 url(images/departBtn9.png) 0 50% no-repeat;
    color: black;
 }

#dept_button_color .button-aqua {
    background: #fcf9f4 url(images/departBtn10.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-black {
    background: #fcf9f4 url(images/departBtn11.png) 0 50% no-repeat;
    color: black;
}

#dept_button_color .button-white {
    background: #fcf9f4 url(images/departBtn12.png) 0 50% no-repeat;
    color: black;
}
