/*--------------------------------------------------------------------------
 *
 * FUNCTION BUTTON COLORS
 *
 *--------------------------------------------------------------------------
 */

.function-button-color-default {
    background: none;
    color: #000;
    -moz-appearance: none;
}

.function-button-color-default label {
    color: #000 !important;
}

.function-button-color-1 {
    background: none;
    color: #FFF;
    -moz-appearance: none;
}

.function-button-color-1 label {
    color: #FFF !important;
}

.function-button-color-2 {
    background: none;
    color: #000D93;
    -moz-appearance: none;
}

.function-button-color-2 label {
    color: #000D93 !important;
}

.function-button-color-3 {
    background: none;
    color: #00330F;
    -moz-appearance: none;
}

.function-button-color-3 label {
    color: #00330F !important;
}

.function-button-color-4 {
    background: none;
    color: #1C5119;
    -moz-appearance: none;
}

.function-button-color-4 label {
    color: #1C5119 !important;
}

.function-button-color-5 {
    background: none;
    color: #213088;
    -moz-appearance: none;
}

.function-button-color-5 label {
    color: #213088 !important;
}

.function-button-color-6 {
    background: none;
    color: #9D0861;
    -moz-appearance: none;
}

.function-button-color-6 label {
    color: #9D0861 !important;
}

.function-button-color-7 {
    background: none;
    color: #312861;
    -moz-appearance: none;
}

.function-button-color-7 label {
    color: #312861 !important;
}

.function-button-color-8 {
    background: none;
    color: #582891;
    -moz-appearance: none;
}

.function-button-color-8 label{
    color: #582891 !important;
}

.function-button-color-9 {
    background: none;
    color: #285161;
    -moz-appearance: none;
}

.function-button-color-9 label {
    color: #285161 !important;
}

.function-button-color-10 {
    background: none;
    color: #5F1E56;
    -moz-appearance: none;
}

.function-button-color-10 label {
    color: #5F1E56 !important;
}

.function-button-color-11 {
    background: none;
    color: #4E4E4E;
    -moz-appearance: none;
}

.function-button-color-11 label{
    color: #4E4E4E !important;
}

.function-button-color-default[selected], .function-button-color-1[selected],
.function-button-color-2[selected], .function-button-color-3[selected], .function-button-color-4[selected],
.function-button-color-5[selected], .function-button-color-6[selected], .function-button-color-7[selected],
.function-button-color-8[selected], .function-button-color-9[selected], .function-button-color-10[selected],
.function-button-color-11[selected] {
    list-style-image: url(../images/con_sel.png);
}
