/*-----------------------------------------------------------------------------
 *
 * Sign-In Screen
 *
 *-----------------------------------------------------------------------------
 */

* {
    padding: 0px;
    margin: 0px;
}

#signinpanel  {
    background: #f8f4eb url(../images/Signin.jpg) top left no-repeat;
    border: 0px solid red;
    height: 600px;
    width: 800px;
}

.userscrollablepanel {
    margin-left: 82px;
    margin-top: 14px;
    max-height: 365px;
    min-height: 365px;
}

.numberbtn {
    background: url(../images/btn_purple.png);
    background-color:#800040;
    color: White;
    font-size: 30px;
    font-weight: bold !important;
    height: 64px;
    list-style-type: none;
    margin: 1px 1px 0px 0px;
    max-height:64px;
    max-width:100px;
    min-height:64px;
    min-width:100px;
    overflow: hidden;
    padding: 0px;
    width: 100px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.numpad {
	background: white url(../images/numpadbg.gif) no-repeat top center;
	border: solid 1px #5c5751;
	height: 265px;
	margin: 103px 0 0 60px;
	max-height: 265px;
	max-width: 295px;
	padding: 27px 10px 10px 5px;
	width: 295px;
	-moz-background-clip: border;
	-moz-border-radius-topright: 8px; 
	-moz-border-radius-topleft: 8px;
}

.numberpad sendkeybutton{
    background: transparent url(../images/numbtn_tall.png);
    border: 0px solid;
    color: white;
    font-size: 30px;
    font-weight: bold !important;
    height: 52px;
    list-style-type: none;
    margin: 5px 0 0 5px;
    max-height:52px;
    max-width:64px;
    min-height:52px;
    min-width:64px;
    overflow: hidden;
    padding: 0px;
    width: 64px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.numberpad sendkeybutton:active{
	background: transparent url(../images/numbtn_tall_a.png) center center no-repeat;
}

.rightprevbtn {
    background: transparent url(../images/userUp.png) center center no-repeat;
	border: none;
    height: 50px;
    max-width:32px;
    min-width:32px;
    width: 32px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.rightprevbtn:active {
	background: transparent url(../images/userUp_a.png) center center no-repeat;
}

.rightprevbtn label {
	display: none;
}

.rightprevbtn description {
	display: none;
}

.rightnextbtn {
    background: transparent url(../images/userDown.png) center center no-repeat;
    border: none;
    height: 50px;
    max-width:32px;
    min-width:32px;
    width: 32px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.rightnextbtn:active {
	background: transparent url(../images/userDown_a.png) center center no-repeat;
}

.rightnextbtn label {
	display: none;
}

.rightnextbtn description {
	display: none;
}

.leftprevbtn {
    background: transparent url(../images/userUp.png) center center no-repeat;
    border: none;
    height: 50px;
    max-width:32px;
    min-width:32px;
    width: 32px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.leftnextbtn {
    background: transparent url(../images/userDown.png) center center no-repeat;
    border: none;
    height: 50px;
    max-width:32px;
    min-width:32px;
    width: 32px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.userbtn {
    background: transparent url(../images/user.gif) no-repeat 26px 12px;
    border: none;
    border-bottom: 1px dotted #908c83;
    color: #514f43;
    font-size: 14px;
    font-weight: bold !important;
    height: 73px;
    list-style-type: none;
    margin: 0px;
    max-height:73px;
    max-width:225px;
    min-height:73px;
    min-width:225px;
    overflow: hidden;
    padding: 0px;
    width: 225px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-box-orient: vertical;
}

.userbtn hbox{
    height: 100%;
    padding-left: 87px;
    vertical-align: middle;
    width: 100%;
}
.userbtn hbox image{
    display: none;
}

.userbtn[disabled=false]:active {
    background: transparent url(../images/selUser.gif) no-repeat center center;
    color: white;
}

.userbtn[selected=true] {
    background: transparent url(../images/selUser.gif) no-repeat center center;
    color: white;
}

.gray {
    background: url(../images/btn_gray.png);
    background-position:0pt -64px;
}

.blue {
    background: url(../images/btn_blue.png);
    background-position:0pt -64px;
}

.green {
    background: url(../images/btn_green.png);
    background-position:0pt -64px;
}

.purple {
    background: url(../images/btn_purple.png);
    background-position:0pt -64px;
}

.systembtn {
    background: transparent url(../images/funBtn4.png) center center no-repeat;
    border: 0px solid;
    color: #42422f;
    font-size: 14px;
    font-weight: bold !important;
    height: 109px;
    list-style-type: none;
    max-height:109px;
    max-width:70px;
    min-height:109px;
    min-width:70px;
    margin: 5px 0px 0px 5px;
    overflow: hidden;
    padding: 0px;
    text-wrap: normal;
    width: 70px;
    word-wrap: break-word;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.systembtn:active {
    background: transparent url(../images/funBtn4_a.png) center center no-repeat;
}

.genbtn {
    background: transparent url(../images/signin.gif) no-repeat center center;
    border: none;
    color: White;
    font-size: 14px;
    font-weight: bold !important;
    height: 61px;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    max-height: 61px;
    max-width: 70px;
    min-height:61px;
    min-width: 70px;
    overflow: hidden;
    padding: 0px;
    width: 70px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.genbtn[disabled=false]:active {
	background: transparent url(../images/signin_a.gif) no-repeat center center;
}

.genbtn hbox{
    max-height: 40px;
}

.genbtn label{
	color: #ffffff;
}

.genbtn[disabled=true] {
	background: transparent url(../images/signin_disable.gif) no-repeat center center;
}

.PwPad {
	margin: 32px 0 0 270px;
	min-height: 70px;	
}

.pwlabel {
	color: white;
	font-size: 12pt; 
	margin-top: 13px;
}

.userlabel {
	color: #dcf74a;
	font-size: 11pt; 
	margin-top: 9px;
}

.nameBox {
    margin-left: 140px;
}

.pwBox {
	border: 2px solid #b2a59a;
	color: #514f43;
	font-size: 21px;
	height: 36px;
	margin-top: 5px;
	margin-right: 12px;
	width: 211px;
	-moz-appearance: none;
	-moz-border-radius: 4px;
}

.PageTitle {
	color: black;
	font-size: 15pt;
	margin: 10px 40px 0 0px;
}

.QuickLogin {
    background: transparent url(../images/light_on.png) 0 0 no-repeat;
    margin : 4px 25px 0px 0px;
    max-height: 57px;
    max-width: 80px;
    min-height: 57px;
    min-width: 80px;
}

.QuickLogin[disabled=true] {
    background: transparent url(../images/light_off.png) 0 0 no-repeat;
}

.clockinout {
    background: transparent url(../icons/icon_clock.png) center center no-repeat;
    border-width: 0px;
    height: 60px;
    width: 60px;
    -moz-appearance: none;
}

.vkb {
    background: transparent url(../icons/icon_keyboard.png) center center no-repeat;
    border-width: 0px;
    height: 60px;
    width: 60px;
    -moz-appearance: none;
}

.poweroff {
    background: transparent url(../icons/icon_poweroff.png) center center no-repeat;
    border-width: 0px;
    height: 60px;
    width: 60px;
    -moz-appearance: none;
}
