/*-----------------------------------------------------------------------------
 *
 * Front End terminal status
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .console-terminal-no {
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    color: black;
    font-size: x-small;
    margin: 0px 5px 0px 2px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.main-overlay .console-current-user {
    background-color: transparent;
    border-width: 1px;
    color: black;
    font-size: x-small;
    margin: 0px 2px 0px 0px;
    max-width: 80px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.main-overlay .console-sale-period {
    background-color: transparent;
    border-color: blue;
    border-style: solid;
    border-width: 0px;
    color: black;
    max-height: 30px;
    text-align: center;
}

.main-overlay .console-message-value {
    background-color: transparent;
    border-width: 1px;
    color: black;
    font-size: x-small;
    margin: 0px 2px 0px 0px;
    min-width: 80px;
    padding: 0px 0px 0px 0px;
}

.main-overlay .console-clock {
    background-color: transparent;
    font-size: small;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.main-overlay .receiptStatus[status=on] {
    list-style-image: url("chrome://viviecr/skin/images/gtk-yes.png");
    margin: 0 10px 0 10px;
    max-width: 18px;
    max-height: 18px;
}

.main-overlay .receiptStatus[status=off] {
    list-style-image: url("chrome://viviecr/skin/images/gtk-cancel.png");
    margin: 0 10px 0 10px;
    max-width: 18px;
    max-height: 18px;
}
