/*-----------------------------------------------------------------------------
 *
 * Main Screen Styles
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .main-panel  {
    background: #f1faff url(../images/main_panel.gif) repeat-x;
    border: 0px solid;
    height: 768px;
    width: 1024px;
    padding: 5px 10px;
}

.main-overlay .left-panel {
    background: #000;
    border: 1px solid #000;
    max-width: 380px;
    min-width: 380px;
    width: 380px;
   -moz-border-radius: 10px;
 }

.main-overlay .right-panel {
    margin-left: 10px;
    max-width: 616px;
    min-width: 616px;
    width: 616px;
}

.main-overlay .bottom-panel {
    margin-top: 8px;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
}

.main-overlay .main-wait-panel {
    background: white none center center no-repeat;
    height: 140px;
    margin: 314px 212px 314px 212px;
    width: 600px;
}

.main-overlay .main-wait-dialog {
    background: white;
    border: 3px solid #c1ab8e;
    margin: 8px;
    padding: 4px;
    -moz-border-radius: 8px;
}

#statusbar-display .statusbarpanel-text {
    display: none;
}

.function-panel vivibutton {
    padding: 2px;
}

.main-overlay .vivifuncpanelecr_button_panel vivibutton {
    -moz-border-radius: 16px 15px 12px 10px;
}

.main-overlay .page-panel {
}

.main-overlay .page-panel button {
    background: transparent;
    border: 2px solid;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin: 0 5px 10px 5px;
    min-height: 40px;
    min-width: 80px;
    width: 80px;
    -moz-appearance: none;
    -moz-border-top-colors: #fff;
    -moz-border-right-colors: #fff;
    -moz-border-bottom-colors: #fff;
    -moz-border-left-colors: #fff;
    -moz-border-radius: 10px;
}

.main-overlay .right-panel .info-panel {
    background: #000;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 10px 10px 10px 20px;
    -moz-border-radius: 10px;
    -moz-box-align: center;
}

.main-overlay .right-panel .clock-panel {
    background: transparent;
    border: 0px;
    color: #FFF;
}

.main-overlay .right-panel .info-panel .return-mode-panel {
    background: transparent;
    border: 2px solid;
    color: #0F0;
    font-family: monospace;
    font-size: 20pt;
    font-weight: bold !important;
    height: 48px;
    max-height: 48px;
    max-width: 150px;
    min-height: 48px;
    min-width: 150px;
    width: 160px;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.main-overlay .right-panel .info-panel .cartstatus-panel {
    background: transparent;
    border: 2px solid;
    height: 48px;
    margin: 0px 10px;
    max-height: 48px;
    max-width: 200px;
    min-height: 48px;
    min-width: 200px;
    width: 200px;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.main-overlay .right-panel .info-panel .btn {
    background-color: #000;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    max-height: 48px;
    max-width: 80px;
    min-width: 80px;
    width: 80px;
    -moz-appearance: none;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.number-panel {
    width: 393px;
    min-width: 393px;
    max-width: 393px;
}

.number-panel button {
    color: #FFF;
    width: 125px;
    min-width: 125px;
    max-width: 125px;
    height: 95px;
    border: none;
    background: none;
    font-size: 26px;
    font-weight: bold;
    -moz-appearance: none;
}

