/*-----------------------------------------------------------------------------
 *
 * Main Screen Styles
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .main-panel  {
    background: #f1faff url(../images/main_panel.gif) repeat-x;
    border: 0px solid;
    height: 768px;
    width: 1024px;
    padding: 5px 10px;
}

.main-overlay .left-panel {
    background: #000;
    border: 1px solid #000;
    max-width: 380px;
    min-width: 380px;
    width: 380px;
   -moz-border-radius: 10px;
 }

.main-overlay .right-panel {
    margin-left: 10px;
    max-width: 613px;
    min-width: 613px;
    width: 613px;
}

.main-overlay .bottom-panel {
    margin-top: 8px;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
}

.main-overlay .main-wait-panel {
    background: white none center center no-repeat;
    height: 140px;
    margin: 314px 212px 314px 212px;
    width: 600px;
}

.main-overlay .main-wait-dialog {
    background: white;
    border: 3px solid #c1ab8e;
    margin: 8px;
    padding: 4px;
    -moz-border-radius: 8px;
}

#statusbar-display .statusbarpanel-text {
    display: none;
}

.main-overlay .function-panel {
    margin: 0px 3px;
}

.main-overlay .vivifuncpanelecr_button_panel vivibutton {
    padding: 2px;
    -moz-border-radius: 10px;
}

.main-overlay .page-panel {
}

.main-overlay .page-panel button {
    background: transparent;
    border: 2px solid;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin: 0 5px 10px 5px;
    min-height: 40px;
    min-width: 80px;
    width: 80px;
    -moz-appearance: none;
    -moz-border-top-colors: #fff;
    -moz-border-right-colors: #fff;
    -moz-border-bottom-colors: #fff;
    -moz-border-left-colors: #fff;
    -moz-border-radius: 10px;
}

.main-overlay .right-panel .info-panel {
    background: #000;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 10px 10px 10px 20px;
    -moz-border-radius: 10px;
    -moz-box-align: center;
}

.main-overlay .right-panel .clock-panel {
    background: transparent;
    border: 0px;
    color: #FFF;
}

.main-overlay .right-panel .info-panel .return-mode-panel {
    background: transparent;
    border: 2px solid;
    color: #0F0;
    font-family: monospace;
    font-size: 20pt;
    font-weight: bold !important;
    height: 48px;
    max-height: 48px;
    max-width: 150px;
    min-height: 48px;
    min-width: 150px;
    width: 160px;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.main-overlay .right-panel .info-panel .cartstatus-panel {
    background: transparent;
    border: 2px solid;
    height: 48px;
    margin-right: 10px;
    max-height: 48px;
    max-width: 200px;
    min-height: 48px;
    min-width: 200px;
    width: 200px;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.main-overlay .right-panel .info-panel .btn {
    background: #CCC;
    border: 2px solid;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    height: 48px;
    max-height: 48px;
    max-width: 80px;
    min-width: 80px;
    width: 80px;
    -moz-appearance: none;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.main-overlay .number-panel {
    margin-right: 7px;
}

.main-overlay .number-panel button {
    background: #B9B0B0 url(../images/btn_function_02.gif) 0% 0% repeat-x;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    height: 61px;
    margin-left: 1px;
    margin-right: 1px;
    max-width: 86px;
    min-width: 86px;
    width: 86px;
    -moz-appearance: none;
    -moz-border-right-colors: #777 #333;
    -moz-border-bottom-colors: #777 #333;
    -moz-border-radius: 10px;
    -moz-user-focus: ignore;
}

.main-overlay .number-panel .inner-row button {
    margin-top: 1px;
    margin-bottom: 1px;
}

.main-overlay .number-panel .top-row button {
    margin-bottom: 1px;
}

.main-overlay .number-panel .bottom-row button {
    margin-top: 1px;
}

.main-overlay .cmd-panel {
    margin-right: 8px;
    max-width: 110px;
    min-width: 110px;
    width: 110px;
}
