/*-----------------------------------------------------------------------------
 *
 * Front End Product Panel
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .prodscrollablepanel {
    margin: 0px;
    padding: 0px;
    -moz-appearance: none;
    -moz-background-clip: border;
}

.main-overlay .prodscrollablepanel vivibuttonpanel {
    margin: 0px;
}

/*-----------------------------------------------------------------------------
 *  Front-end product buttons
 *-----------------------------------------------------------------------------
 */

.main-overlay .button-product {
    border: 3px solid;
    color: #000 !important;
    padding: 2px;
    margin: 2px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-border-top-colors: #555 #888 #AAA;
    -moz-border-right-colors: #555 #888 #AAA;
    -moz-border-bottom-colors: #555 #888 #AAA;
    -moz-border-left-colors: #555 #888 #AAA;
    -moz-border-radius: 10px;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
}

.main-overlay .button-product[disabled=true] {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.main-overlay .button-product hbox {
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
}

.main-overlay .button-product description {
    text-wrap: normal;
    word-wrap: break-word;
}

/*-----------------------------------------------------------------------------
 * scroll buttons
 *-----------------------------------------------------------------------------
 */

.main-overlay .product-scroll-up-button {
    background: transparent url(../images/departUp.png) no-repeat center center;
    border: 0px;
    margin: 2px 0px 0px 0px;
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    padding: 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.main-overlay .product-scroll-up-button[disabled=false]:active {
    background-position: -40px 0;
}

.main-overlay .product-scroll-up-button label {
    display: none;
}

.main-overlay .product-scroll-up-button[disabled=true] {
    background-position: -80px 0;
}

.main-overlay .product-scroll-up-button description {
    display: none;
}

.main-overlay .product-scroll-down-button {
    background: transparent url(../images/departDown.png) no-repeat center center;
    border: 0px;
    margin: 0px 0px 2px 0px;
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    padding: 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.main-overlay .product-scroll-down-button[disabled=false]:active {
    background-position: -40px 0;
}

.main-overlay .product-scroll-down-button[disabled=true] {
    background-position: -80px 0;
}

.main-overlay .product-scroll-down-button label {
    display: none;
}

.main-overlay .product-scroll-down-button description {
    display: none;
}

.main-overlay .prodscrollablepanel .scrollablepanel-scrollbar {
	margin: 2px 0 2px 2px;
        display: none;
}

/*--------------------------------------------------------------------------
 *
 * PRODUCT COLORS
 *
 *--------------------------------------------------------------------------
 */

.main-overlay .prodscrollablepanel row vivibutton:nth-child(even) {
    background: #A9A5A5 url(../images/btn_product_01.gif) 0% 0% repeat-x !important;
}

.main-overlay .prodscrollablepanel row vivibutton:nth-child(odd) {
    background: #D4D1D1 url(../images/btn_product_02.gif) 0% 0% repeat-x !important;
}

.main-overlay .prodscrollablepanel row vivibutton:active:not([disabled=true]),
.main-overlay .prodscrollablepanel row vivibutton[selected]:not([disabled=true]) {
    border-width: 3px !important;
    -moz-border-top-colors: #AAA #888 #555 !important;
    -moz-border-bottom-colors: #AAA #888 #555 !important;
    -moz-border-left-colors: #AAA #888 #555 !important;
    -moz-border-right-colors: #AAA #888 #555 !important;
}
