@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url(""http://www.w3.org/1999/xhtml"");

/******** for xul ********/
.reportbox {
    overflow-y:auto;
}

 @media print {

}


/******** for html ********/
.report {
    height: 1px;
    margin: 0px;
    min-height: 1px;
    padding: 7px;
	
}
.size {

}

.paper {
    margin: 0px auto;
    max-height: 600px;
    max-width: 736px;
    min-height: 580px;
    overflow-y:auto;
    padding: 10px;
    width: 736px;
}

.PageTitle  {
    background: url(images/report_title_bg.gif) repeat-x bottom center;
    border-bottom: 3px #b5b093 double;
    color: #534741;
    font-size: 10pt;
    font-weight: bold;
    margin: 10px 0;
    padding: 8px;
    text-align: center;
}

.tableTitle  {
    color: #534741;
    font-size: 10pt;
    margin: 0px 10px;
    text-align: center;
}

/* who print, when, time range, ...etc */
.ReportDate {
    background-color: #f5f2e9;
    color: black;
    font-size: 8pt;
    margin: 15px auto;
    padding: 3px 10px;
    width: 95%;
}


#body-table {
    border-collapse: collapse;
    empty-cells: show;
    margin: 10px auto 0px auto;
    /*  font: 100% sans-serif; */
    width: 98%;
}

#body-table > caption {
    color: #292929;
    font-size: 12pt;
    font-weight: bold;
    list-style-image: url(images/table_title.gif);
    margin: 10px 5px;
    text-align: left;
}


/* basic shared rules */
#body-table th,
#body-table tbody td {
    border-bottom: 1px solid #c3c3c3;
    text-align: right;
}

#body-table th {
    font-weight: bold;
    padding-left: .5em;
}


/* header */
#body-table > thead > tr:first-child > th {
    background-color: #f5f2ec;
    border-bottom: 1px solid #b5b093;
    border-top: 2px solid #b5b093;
    color: #56523a;
    font-size: 10pt;
    padding: 4px;
    text-align: center;
}

#body-table > thead > tr + tr > th {
    color: gray;
    font-style: italic;
}

/* fix size of superscript */
#body-table sup {
    font-size: 75%;
}

/* body */
#body-table td {
    color: #484848;
    font-size: 10pt;
    padding:4px 8px;
}

#body-table tbody th:after {
    content: ":";
}


/* footer */
#body-table tfoot {
    font-weight: bold;
}

#body-table tfoot th {
    color: #2e2e2e;
}

#body-table tfoot th:after {
    content: ":";
}

#body-table tfoot td {
    text-align: right;
}

#body-table > tfoot > tr:first-child td {
    border-bottom: none;
    border-top: 2pt solid #c3c3c3;
    font-size: 10pt;
}


/** for print use **/
@media print {
    .report {
        background: white;
        margin: 0px;
        padding: 0px;
    }

    .paper {
        background: none;
        border: none;
        padding: 10px;
        width: 17cm;
    }

    .ReportDate {
        border: 1px solid #555;
    }

    #body-table > thead {
        display: table-header-group;
    }

    #body-table > thead > tr:first-child > th {
        background-color: #f5f2ec;
    }

    #body-table > caption {
        page-break-before: always;
    }
}
