/*-----------------------------------------------------------------------------
 *
 * SHIFT CHANGE DIALOG
 *
 *-----------------------------------------------------------------------------
 */

#shiftscrollablepanel tree #count {
    text-align: center;
}

#shiftscrollablepanel tree #type {
    text-align: left;
    width: 100px;
}

#shiftscrollablepanel tree #name {
    text-align: center;
    width: 100px;
}

#shiftscrollablepanel tree #amount,
#shiftscrollablepanel tree #change,
#shiftscrollablepanel tree #origin_amount,
#shiftscrollablepanel tree #excess_amount {
    text-align: right;
}

#shiftSummary textbox[readonly="true"] {
    text-align: right;
}

#shiftSummary label {
    text-align: center;
}