/*--------------------------------------------------------------------------
 *
 * PRODUCT COLORS
 *
 *--------------------------------------------------------------------------
 */

.product-button-color-default {
    color: #4b443f;
    background-color: #fff;
}

.product-button-color-1 {
    color: #603913;
}

.product-button-color-2 {
    color: #9e0b0f;
}

.product-button-color-3 {
    color: #0054a6;
}

.product-button-color-4 {
    color: #598527;
}

.product-button-color-5 {
    color: #f26522;
}

.product-button-color-6 {
    color: #662d91;
}

.product-button-color-7 {
    color: #1cbbb4;
}

.product-button-color-8 {
    color: #005952;
 }

.product-button-color-9 {
    color: #2e3192;
}

.product-button-color-10 {
    color: #ec008c;
}

.product-button-color-11 {
    color: #827b00;
}

.product-button-color-default[selected], .product-button-color-1[selected],
.product-button-color-2[selected], .product-button-color-3[selected],
.product-button-color-4[selected], .product-button-color-5[selected],
.product-button-color-6[selected], .product-button-color-7[selected],
.product-button-color-8[selected], .product-button-color-9[selected],
.product-button-color-10[selected], .product-button-color-11[selected] {
    list-style-image: none;
    border-width: 3px;
    -moz-border-top-colors: black red;
    -moz-border-bottom-colors: black red;
    -moz-border-left-colors: black red;
    -moz-border-right-colors: black red;
}
