/*--------------------------------------------------------------------------
 *
 * PRODUCT COLORS
 *
 *--------------------------------------------------------------------------
 */

.product-button-color-default {
    background: #fcf9f4 url(images/departBtn1.png) 0 50% no-repeat;
    color: #4b443f;
    background-color: #fff;
}

.product-button-color-1 {
    background: #fcf9f4 url(images/departBtn2.png) 0 50% no-repeat;
    color: #603913;
}

.product-button-color-2 {
    background: #fcf9f4 url(images/departBtn3.png) 0 50% no-repeat;
    color: #9e0b0f;
}

.product-button-color-3 {
    background: #fcf9f4 url(images/departBtn4.png) 0 50% no-repeat;
    color: #0054a6;
}

.product-button-color-4 {
    background: #fcf9f4 url(images/departBtn5.png) 0 50% no-repeat;
    color: #598527;
}

.product-button-color-5 {
    background: #fcf9f4 url(images/departBtn6.png) 0 50% no-repeat;
    color: #f26522;
}

.product-button-color-6 {
    background: #fcf9f4 url(images/departBtn7.png) 0 50% no-repeat;
    color: #662d91;
}

.product-button-color-7 {
    background: #fcf9f4 url(images/departBtn8.png) 0 50% no-repeat;
    color: #1cbbb4;
}

.product-button-color-8 {
    background: #fcf9f4 url(images/departBtn9.png) 0 50% no-repeat;
    color: #005952;
 }

.product-button-color-9 {
    background: #fcf9f4 url(images/departBtn10.png) 0 50% no-repeat;
    color: #2e3192;
}

.product-button-color-10 {
    background: #fcf9f4 url(images/departBtn11.png) 0 50% no-repeat;
    color: #ec008c;
}

.product-button-color-11 {
    background: #fcf9f4 url(images/departBtn12.png) 0 50% no-repeat;
    color: #827b00;
}

.product-button-color-default[selected], .product-button-color-1[selected],
.product-button-color-2[selected], .product-button-color-3[selected],
.product-button-color-4[selected], .product-button-color-5[selected],
.product-button-color-6[selected], .product-button-color-7[selected],
.product-button-color-8[selected], .product-button-color-9[selected],
.product-button-color-10[selected], .product-button-color-11[selected] {
    list-style-image: none;
    border-width: 3px !important;
    -moz-border-top-colors: black red;
    -moz-border-bottom-colors: black red;
    -moz-border-left-colors: black red;
    -moz-border-right-colors: black red;
}

button_colorpicker .product-button-color-default[selected],.product-button-color-1[selected],
.product-button-color-2[selected], .product-button-color-3[selected],
.product-button-color-4[selected], .product-button-color-5[selected],
.product-button-color-6[selected], .product-button-color-7[selected],
.product-button-color-8[selected], .product-button-color-9[selected],
.product-button-color-10[selected], .product-button-color-11[selected] {
    list-style-image: url(chrome://viviecr/skin/images/gtk-yes.png);
    border-width: 1px;
}
