/*-----------------------------------------------------------------------------
 *
 * Table Manager
 *
 *-----------------------------------------------------------------------------
 */

#tablescrollabletree tree #display_amount,
#tablescrollabletree tree #display_origin_amount {
    text-align: right;
}

#tablescrollabletree tree #table_no,
#tablescrollabletree tree #table_name,
#tablescrollabletree tree #region,
#tablescrollabletree tree #destination,
#tablescrollabletree tree #seats {
    text-align: center;
}

#tablescrollabletree tree #memo2 {
    text-align: left;
}

#regionscrollabletree tree #name,
#regionscrollabletree tree #image {
    text-align: center;
}

#bookingscrollabletree tree #booking,
#bookingscrollabletree tree #contact,
#bookingscrollabletree tree #telephone {
    text-align: center;
}

#markscrollabletree tree #name,
#markscrollabletree tree #period,
#markscrollabletree tree #opdeny {
    text-align: center;
}
