.MainPnl {
    margin: 18px;
}

.MainL {
    border-right: 1px solid #a98f6e;
}

.FontSizeSet button{
    height: 65px;
    width: 150px;
    max-width: 180px;
}

.FontSizeSet {
    margin: 0 6px;
}

.BtnColors button {
    min-height: 65px;
    min-width: 65px;
}
.BtnColors button hbox {
    -moz-box-orient: vertical;
}

.PageNumPnl {
    padding: 4px 8px;
}
.PageNumPnl label {
    font-size: 11pt;
    color: #372213;
}
.PageNumPnl textbox {
    max-width: 160px;
    margin: 0 4px;
}
.PageNumPnl button {
    margin: 0 4px;
}

.DataFormA row{
	border-bottom: 2px solid white;
	font-size: 11pt;
	padding: 8px;
    -moz-box-align: center;
    background: #ecebe2;
}
.DataFormA {
    margin: 0 6px 3px 6px;
}
.DataFormB column, .DataFormA column{
	padding: 4px;
}
.DataFormB label, .DataFormB2 label,
.DataFormA2 label, .DataFormA label {
  font-size: 11pt;
  color: #372213;
}
.TboxWidth {
    min-width: 100px;
}

.DataFormA2 {
	background: #ecebe2;
    margin: 3px 6px 6px 6px;
    padding: 4px 8px;
    -moz-box-align: center;
}

.DataFormB row{
	font-size: 11pt;
	padding: 8px;
    -moz-box-align: center;
    background: #ede7dc;
}
.DataFormB2, .DataFormB {
	margin: 0 6px 4px 6px;
}

.DataFormB2 row{
	font-size: 11pt;
	padding: 8px;
    -moz-box-align: center;
    border-bottom: 2px solid white;
    background: #ede7dc;
}

.RightPnlB {
    margin: 0px 6px 0px 6px;
}

.RightPnlB vbox {
    margin: 1px;
    background: #ede7dc;
    -moz-box-align: center;
    padding: 8px 10px;
}

.dialogbtns {
    margin-left: 4px;
}


/** ori style**/

.label_general {
  margin-top: 10px;
}

.label_layout {
  margin-top: 10px;
}

.label_keymap {
  margin-top: 10px;
}

.label_argument {
  margin-top: 10px;
}

separator {
  margin: 2px 0px 2px 0px;
}

.textbox_general {
    font-size: small;
    min-height: 28px;
    max-height: 28px;
}

.textbox_layout {
    font-size: small;
   min-height: 28px;
   max-height: 28px;
}

.textbox_layout_readonly {
    font-size: small;
   min-height: 28px;
   max-height: 28px;
}

.action_layout {
    min-height: 28px;
    max-height: 28px;
}

.textbox_keymap {
    font-size: small;
   min-height: 28px;
   max-height: 28px;
}

.textbox_keymap_readonly {
    font-size: small;
   min-height: 28px;
   max-height: 28px;
}

.descbox_keymap {
    border-width: 1px;
    border-color: black;
    border-style: groove;
    font-size: small;
    height: 110px;
    max-height: 110px;
    overflow: auto;
}

.keymap_function_list {
    /*height: 172px;
    max-width: 415px;*/
}

.action_button {
  width: 120px;
  height: 55px;
}

.action_box {
  margin-right: 10px;
}

.preview_box {
  border-color: black;
  border-style: solid;
  border-width:1px;
  width: 580px;
  max-width: 580px;
  min-width: 580px;
}

.buttoncolor_baseclass {
    min-height: 50px;
    max-height: 50px;
    max-width: 60px;
    -moz-appearance: none;
    -moz-box-orient: vertical;
    overflow: hidden;
    margin: 2px;
}

.buttonfontsize_baseclass {
    min-height: 50px;
    max-height: 50px;
    max-width: 70px;
    -moz-appearance: none;
    -moz-box-orient: vertical;
    overflow: hidden;
}
