/*-----------------------------------------------------------------------------
 *
 * Payment Details Dialog
 *
 *-----------------------------------------------------------------------------
 */

.custom-content-payment-list tree #display_amount,
.custom-content-payment-list tree #display_origin_amount {
    text-align: right;
}

.custom-content-payment-list tree #seq,
.custom-content-payment-list tree #name,
.custom-content-payment-list tree #memo1 {
    text-align: center;
}

.custom-content-payment-list tree #memo2 {
    text-align: left;
}
