/*--------------------------------------------------------------------------
 *
 * PRODUCT COLORS
 *
 *--------------------------------------------------------------------------
 */

.product-button-color-default {
    background: #A9A5A5 url(../images/btn_product_01.gif) 0 0 repeat-x !important;
    border: 1px solid;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-default:not([disabled=true]):active,
.product-button-color-default[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-1 {
    background: #D4D1D1 url(../images/btn_product_02.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-1:not([disabled=true]):active,
.product-button-color-1[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-2 {
    background: #FFBFBF url(../images/btn_product_03.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-2:not([disabled=true]):active,
.product-button-color-2[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-3 {
    background: #CDCDFF url(../images/btn_product_04.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-3:not([disabled=true]):active,
.product-button-color-3[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-4 {
    background: #92FF92 url(../images/btn_product_05.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-4:not([disabled=true]):active,
.product-button-color-4[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-5 {
    background: #EBEB00 url(../images/btn_product_06.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-5:not([disabled=true]):active,
.product-button-color-5[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-6 {
    background: #DBC5FF url(../images/btn_product_07.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-6:not([disabled=true]):active,
.product-button-color-6[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-7 {
    background: #FFCA85 url(../images/btn_product_08.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-7:not([disabled=true]):active,
.product-button-color-7[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-8 {
    background: #FFB8E5 url(../images/btn_product_09.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
 }

.product-button-color-8:not([disabled=true]):active,
.product-button-color-8[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-9 {
    background: #F070FF url(../images/btn_product_10.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-9:not([disabled=true]):active,
.product-button-color-9[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}


.product-button-color-10 {
    background: #6FB9D6 url(../images/btn_product_11.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-10:not([disabled=true]):active,
.product-button-color-10[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}


.product-button-color-11 {
    background: #6DFFF6 url(../images/btn_product_12.gif) 0 0 repeat-x !important;
    border: 1px solid black;
    color: #000 !important;
    -moz-appearance: none;
    -moz-border-top-colors: black;
    -moz-border-right-colors: black;
    -moz-border-bottom-colors: black;
    -moz-border-left-colors: black;
}

.product-button-color-11:not([disabled=true]):active,
.product-button-color-11[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}


.product-button-color-default[selected]:not([disabled=true]), .product-button-color-1[selected]:not([disabled=true]),
.product-button-color-2[selected]:not([disabled=true]), .product-button-color-3[selected]:not([disabled=true]),
.product-button-color-4[selected]:not([disabled=true]), .product-button-color-5[selected]:not([disabled=true]),
.product-button-color-6[selected]:not([disabled=true]), .product-button-color-7[selected]:not([disabled=true]),
.product-button-color-8[selected]:not([disabled=true]), .product-button-color-9[selected]:not([disabled=true]),
.product-button-color-10[selected]:not([disabled=true]), .product-button-color-11[selected]:not([disabled=true]) {
    /*list-style-image: url(chrome://viviecr/skin/images/con_sel.png);*/
    background-position: 0 -100px !important;
    font-size: italic;
}
