.MainPnl {
    margin: 18px;
}

.SetArea {
   background: #ecebe2;
   -moz-border-radius: 8px;
   padding: 8px;
}

.SubArea {
    background: white;
}

.RightTabbox row {
	border-bottom: 2px solid white;
	font-size: 11pt;
	padding: 4px;
    -moz-box-align: center;
}

.RightTabbox column{
	
	padding: 4px;
}

grid {
    
}

menuitem {
    max-width: 220px;
}