/*  skin for main screen ------------------------------------------------------------- */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@namespace html url("http://www.w3.org/1999/xhtml");


.mainpanel  {
    width: 1024px;
    height: 768px;
    background: #f1faff;
    border: 0px solid red;
}

.leftPanel {
    width: 500px;
    min-width: 500px;
    max-width: 500px;
}

.rightPanel {
    width: 520px;
    min-width: 520px;
    max-width: 520px;
}

.panelSpacer {
    width: 4px;
}

.productPanel {
    border: 0px;
    overflow: hidden;

    margin-right: 0px;
    margin-bottom: 0px;

}

.functionPanel {
    border: 0px;
    overflow: hidden;

    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
}

#staticCondimentsPanel vivibutton image {
    display: none;
}

.mainWaitPanel {
    width: 600px;
    height: 160px;
    background: white url(images/optionbg.gif) center center no-repeat;
    margin: 304px 212px 304px 212px;
}

.mainWaitDialog {
    border: 3px solid #c1ab8e;
    background: white;
    -moz-border-radius: 8px;
    margin: 8px;
    padding: 4px;
}
