.MainPnl {
    margin: 18px;
}

.BtnColors {
    margin: 5px;
}

.BtnColors label{
    color: white;
}

.BtnColors button {
    min-height: 65px;
    min-width: 65px;
    margin: 4px;
}

.LeftPnl {
    width: 350px;
    max-width: 350px;
}

.MainL {
    border-right: 1px solid #a98f6e;
}

.DataForm {
    margin: 10px 18px 8px 20px;
}

.RightPnlB {
    margin: 0px 20px 12px 20px;
}

.RightPnlB vbox {
    margin: 1px;
    background: #ede7dc;
}

.FontSizeSet {
    margin: 10px 12px ;
}

.FontSizeSet button{
    min-height: 60px;
}

.ToolBar {
    margin-left: 4px;
}

