/*--------------------------------------------------------------------------
 *
 * PLU GROUP COLORS
 *
 *--------------------------------------------------------------------------
 */

.plugroup-button-color-default {
    background: #848388 url(images/departBtn1.png) top left repeat-x !important;
    -moz-border-top-colors: #848388 #bebebe !important;
    -moz-border-right-colors: #848388 #bebebe !important;
    -moz-border-bottom-colors: #848388 #bebebe !important;
    -moz-border-left-colors: #848388 #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-1 {
    background: #354f66 url(images/departBtn2.png) top left repeat-x !important;
    -moz-border-top-colors: #354f66 #bebebe !important;
    -moz-border-right-colors: #354f66 #bebebe !important;
    -moz-border-bottom-colors: #354f66 #bebebe !important;
    -moz-border-left-colors: #354f66 #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-2 {
    background: #a2a70f url(images/departBtn3.png) top left repeat-x !important;
    -moz-border-top-colors: #a2a70f #bebebe !important;
    -moz-border-right-colors: #a2a70f #bebebe !important;
    -moz-border-bottom-colors: #a2a70f #bebebe !important;
    -moz-border-left-colors: #a2a70f #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-3 {
    background: #790000 url(images/departBtn4.png) top left repeat-x !important;
    -moz-border-top-colors: #790000 #bebebe !important;
    -moz-border-right-colors: #790000 #bebebe !important;
    -moz-border-bottom-colors: #790000 #bebebe !important;
    -moz-border-left-colors: #790000 #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-4 {
    background: #555940 url(images/departBtn5.png) top left repeat-x !important;
    -moz-border-top-colors: #555940 #bebebe !important;
    -moz-border-right-colors: #555940 #bebebe !important;
    -moz-border-bottom-colors: #555940 #bebebe !important;
    -moz-border-left-colors: #555940 #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-5 {
    background: #603913 url(images/departBtn6.png) top left repeat-x !important;
    -moz-border-top-colors: #603913 #bebebe !important;
    -moz-border-right-colors: #603913 #bebebe !important;
    -moz-border-bottom-colors: #603913 #bebebe !important;
    -moz-border-left-colors: #603913 #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-6 {
    background: #ad355c url(images/departBtn7.png) top left repeat-x !important;
    -moz-border-top-colors: #ad355c #bebebe !important;
    -moz-border-right-colors: #ad355c #bebebe !important;
    -moz-border-bottom-colors: #ad355c #bebebe !important;
    -moz-border-left-colors: #ad355c #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-7 {
    background: #a3620a url(images/departBtn8.png) top left repeat-x !important;
    -moz-border-top-colors: #a3620a #bebebe !important;
    -moz-border-right-colors: #a3620a #bebebe !important;
    -moz-border-bottom-colors: #a3620a #bebebe !important;
    -moz-border-left-colors: #a3620a #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-8 {
    background: #5c2f75 url(images/departBtn9.png) top left repeat-x !important;
    -moz-border-top-colors: #5c2f75 #bebebe !important;
    -moz-border-right-colors: #5c2f75 #bebebe !important;
    -moz-border-bottom-colors: #5c2f75 #bebebe !important;
    -moz-border-left-colors: #5c2f75 #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
 }

.plugroup-button-color-9 {
    background: #213b6b url(images/departBtn10.png) top left repeat-x !important;
    -moz-border-top-colors: #213b6b #bebebe !important;
    -moz-border-right-colors: #213b6b #bebebe !important;
    -moz-border-bottom-colors: #213b6b #bebebe !important;
    -moz-border-left-colors: #213b6b #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-10 {
    background: #534741 url(images/departBtn11.png) top left repeat-x !important;
    -moz-border-top-colors: #534741 #bebebe !important;
    -moz-border-right-colors: #534741 #bebebe !important;
    -moz-border-bottom-colors: #534741 #bebebe !important;
    -moz-border-left-colors: #534741 #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-11 {
    background: #294e39 url(images/departBtn12.png) top left repeat-x !important;
    -moz-border-top-colors: #294e39 #bebebe !important;
    -moz-border-right-colors: #294e39 #bebebe !important;
    -moz-border-bottom-colors: #294e39 #bebebe !important;
    -moz-border-left-colors: #294e39 #bebebe !important;
    -moz-appearance: none;
    color: #ffffff;
}

.plugroup-button-color-default[selected], .plugroup-button-color-1[selected],
.plugroup-button-color-2[selected], .plugroup-button-color-3[selected],
.plugroup-button-color-4[selected], .plugroup-button-color-5[selected],
.plugroup-button-color-6[selected], .plugroup-button-color-7[selected],
.plugroup-button-color-8[selected], .plugroup-button-color-9[selected],
.plugroup-button-color-10[selected], .plugroup-button-color-11[selected] {
    list-style-image: url(chrome://viviecr/skin/images/con_sel.png);
}
