/*--------------------------------------------------------------------------
 *
 * DEPARTMENT PANEL
 *
 *--------------------------------------------------------------------------
 */

.catescrollablepanel{
    background: none;
    width: 510px;
    max-width: 510px;
    min-width: 510px;
    margin: 0px;
}


/*--------------------------------------------------------------------------
 * SCROLLBAR
 *--------------------------------------------------------------------------
 */

.depart_scroll_up {
    max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    background: transparent url(images/departUp.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}

.depart_scroll_up[disabled=false]:active {
	  background-position: -40px 0;
}

.depart_scroll_up label {
	  display: none;
}

.depart_scroll_up description {
	  display: none;
}

.depart_scroll_down {
    max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
    background: transparent url(images/departDown.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}

.depart_scroll_down[disabled=false]:active {
	  background-position: -40px 0;
}

.depart_scroll_down label {
	display: none;
}

.depart_scroll_down description {
	display: none;
}

/*--------------------------------------------------------------------------
 *
 * PLU PANEL
 *
 *--------------------------------------------------------------------------
 */
.prodscrollablepanel {
	-moz-appearance: none;
	-moz-background-clip: border;
	margin: 1px 2px 1px 0px;
	background: #7f8893;
	padding: 0px 0 0 2px;
}

.prodscrollablepanel vivibuttonpanel {
	margin: 4px 4px 0px 0px;
}

/*--------------------------------------------------------------------------
 * BUTTONS
 *--------------------------------------------------------------------------
 */

.plubtn {
    min-height:50px;
    min-width: 50px;
    border: 1px solid;
    -moz-appearance: none;
    margin: 2px;
    padding: 0px;
    -moz-border-top-colors: #c9c3b9;
    -moz-border-right-colors: #c9c3b9;
    -moz-border-bottom-colors: #c9c3b9;
    -moz-border-left-colors: #c9c3b9;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    background-color: #ffffff;

}

.plubtn:active {
    background-position:0pt -60px;
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}

.plubtn[disabled=true] {
    background-color: #ffffff;
    border: 1px solid #c9c3b9;
}

.plubtn hbox {
    -moz-box-orient: vertical;

}

/*--------------------------------------------------------------------------
 * SCROLLBAR
 *--------------------------------------------------------------------------
 */

.prodscrollablepanel .scrollablepanel-scrollbar {
	margin: 2px 0 2px 2px;
}

.prodscrollablepanel image {
	width: 32px;
	height: 32px;
}
