.terminal_id {
    max-width: 50px;
    margin: 0px 5px 0px 2px;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    border-width: 1px;
    border-color: black;
    font-size: x-small;
    text-align: center;
}

.current_user {
    margin: 0px 2px 0px 0px;
    max-width: 120px;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    border-width: 1px;
    font-size: x-small;
}

.console_message {
    border-width: 0px;
    border-style: solid;
    border-color: blue;
    background-color: transparent;
    max-height: 30px;
}

.console_message_value {
    margin: 0px 2px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    border-width: 1px;
    font-size: x-small;
}

.clock {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: transparent;
    font-size: small;
}