/*-----------------------------------------------------------------------------
 *
 * SHOPPING CART
 *
 *-----------------------------------------------------------------------------
 */

.cartList {
    font-size: 13px;
    border: none;
    margin: 2px 0px 2px 2px;
    padding: 0px;
    background: #fff;
}

.cartList > .cartList {
    border: none;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART scrollbar
 *-----------------------------------------------------------------------------
 */

.cartList .scrollablepanel-scrollbar {
    
}

.cartList .scrollablepanel-scrollbar vivibutton {
    margin-left: 2px;
    margin-right: 0px;
}

.cartList scrollbar {
    display: none;
}

.cartScrollUp {
    border: 0px solid;
    background: transparent url(images/chatup.png) 0 0 no-repeat;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}
.cartScrollUp[disabled=true] {
    background-position: -64px 0;
}

.cartScrollUp[disabled=false]:active {
    background-position: -32px 0;
}


.cartScrollDown {
    border: 0px solid;
    background: transparent url(images/chatdown.png) 0 0 no-repeat;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.cartScrollDown[disabled=false]:active {
    background-position:-32px 0;
}

.cartScrollUp description, .cartScrollDown description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART sidepanel tool buttons
 *-----------------------------------------------------------------------------
 */


#cartsidebar vivibutton description {
    display: none;
}

#cartsidebar vivibutton {
    background-position: center center;
    background-repeat: no-repeat;
}

.paymentdetailsbtn {
     background: transparent url(images/gnucash.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART order details
 *-----------------------------------------------------------------------------
 */

.cartList tree {
    margin: 0px;
    border: none;
    background: none;
    -moz-appearance: none;
}

.cartList treecol {
    background: #fdf9f6;
    border: none;
    border-bottom: 1px dotted #908c83;
    border-right: 1px solid #bebebe;
    -moz-border-right-colors: #bebebe;
    -moz-border-bottom-colors: #908c83;
    padding: 1px 2px; 
    -moz-appearance: none;
}

.cartList .tree-splitter {
    width: 1px;
    -moz-appearance: none;
    background: #bebebe;
}

.cartList treechildren::-moz-tree-row {
    height: 28px;
    border-bottom: 1px dotted #b9b9b9;
}

.cartList treechildren::-moz-tree-cell-text(batchMarker) {font-size: 16px; font-weight: bolder;}
.cartList treechildren::-moz-tree-cell-text(selected) {font-size: 16px; font-weight: bolder;}

.cartList treechildren::-moz-tree-row(selected) {background-color: #5b758c; }
.cartList treechildren::-moz-tree-row(treeLowStock) {background-color: orange;}
.cartList treechildren::-moz-tree-row(treeOutofStock) {background-color: red;}
.cartList treechildren::-moz-tree-row(treeVerifyAge) {background-color: steelblue;}
.cartList treechildren::-moz-tree-row(treeReturnItem) {background-color: lightgreen;}
.cartList treechildren::-moz-tree-row(treeTOTAL) {background-color: #da7f12;}
.cartList treechildren::-moz-tree-row(batchMarker) {border-bottom: 2px dotted black !important;}
.cartList treechildren::-moz-tree-cell-text(discountApplied) {color: brown; font-style: italic; font-weight: bolder;}
.cartList treechildren::-moz-tree-cell-text(surchargeApplied) {color: green; font-style: italic; font-weight: bolder;}
.cartList treechildren::-moz-tree-cell-text(treecellTax) {font-size: 13px !important; font-weight: normal !important;}
.cartList treechildren::-moz-tree-cell-text(current_qty) {font-size: 13px !important; font-weight: normal !important;}
/*
.cartList treechildren::-moz-tree-cell-text(treecellSUBTOTAL) {color: #3d5470;}
.cartList treechildren::-moz-tree-row(treeTRAY) {background-color: #8e9d90;}
.cartList treechildren::-moz-tree-row(treeSUBTOTAL) {background-color: #71a5d0;}
.cartList treechildren::-moz-tree-cell-text(treecellTRAY) {color: white;}
.cartList treechildren::-moz-tree-cell-text(treecellTOTAL) {color: white;}
*/
/*treechildren::-moz-tree-image(treecellUntagged) {list-style-image: url(images/prod-add.png);}*/
.cartList treechildren::-moz-tree-image(treecellTagged) {list-style-image: url(images/check.png);}

.cartList #name {
    text-align: left;
}

.cartList #current_qty, #current_price, #current_subtotal, #current_tax {
    text-align: right;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART order headings
 *-----------------------------------------------------------------------------
 */

.cartList tree #tag {
    max-width: 15px;
    min-width: 15px;
}

.cartList tree #name {
/*
    max-width: 140px;
    min-width: 140px;
*/
}

.cartList tree #current_qty {
    max-width: 64px;
    min-width: 64px;
}

.cartList tree #current_price {
    max-width: 68px;
    min-width: 68px;
}

.cartList tree #current_subtotal {
    max-width: 88px;
    min-width: 88px;
}
.cartList tree #current_tax {
    max-width: 22px;
    min-width: 22px;
}

.cartList tree label {
    text-align: center;
}

.cartList .tree-scrollable-columns {
    max-height: 0px;
}
