.MainPnl {
    margin: 18px;
}

.BtnColors {
    margin: 0px 20px 8px 20px;
}
.BtnColors label{
    color: white;
}
.BtnColors button {
    min-height: 55px;
    min-width: 55px;
}

.LeftPnl {
    width: 273px;
    max-width: 273px;
}

.MainL {
    border-right: 1px solid #a98f6e;
}

.DataForm {
    margin: 10px 18px 8px 20px;
}

.RightPnlB {
    margin: 0px 20px 12px 20px;
}

.RightPnlB vbox {
    margin: 1px;
    background: #f1ede5;
}

.FontSizeSet {
    margin: 0px 12px 6px 12px;
}

.FontSizeSetHeight button{
    height: 50px;
}

.ToolBar {
    margin-left: 4px;
}

/** for import / export interface **/
.ImportList {
    background: #f0efe8;
    margin: 8px;
}

.ImportWaitPnl {
  border: 3px solid #c1ab8e;
  background: white;
  -moz-border-radius: 8px;
  padding: 30px;
}

/* for Date Time & Time Zone use*/
.TimeZone menulist{
    margin-top: 10px;
    margin-bottom: 15px;
}

.DateTime .textbox-input-box {
    -moz-appearance: none;
    background: none;
    border: none;
}

vividatetimepicker-datepad {
   /* background: #f1ede5;*/
    margin-right: 10px;
    padding: 10px;
}

.datepicker-mainbox {
    /*background: ;*/
    font-size: 11pt;
}
.datepicker-monthbox {
    font-size: 12pt;
    background: #f1ede5;
    padding: 5px;
    margin-top: 5px;
}
.datepicker-mainbox grid row {
    padding: 3px;
    border: 1px solid #f1ede5;
}
.datepicker-mainbox grid column {
    padding: 3px;
    border: 1px solid #f1ede5;
}

vividatetimepicker-timepad {
    padding: 10px;
    -moz-box-align: start;
}

.DateTime button {
    border: 3px solid;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
	  -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
	  -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
	  -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    -moz-appearance: none;
    min-height: 36px;
    color: #372213;
    margin: 3px;
    cursor: pointer;
    -moz-border-radius: 6px;
}
.DateTime button:hover {
    border: 3px solid;
	  -moz-border-top-colors: #f0efe8 #e8e8e1 #00aeef;
	  -moz-border-right-colors: #d9d9d2 #c3c2bc #00aeef;
	  -moz-border-bottom-colors: #d9d9d2 #c3c2bc #00aeef;
	  -moz-border-left-colors: #f0efe8 #e8e8e1 #00aeef;
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    -moz-appearance: none;
}
.DateTime button:active {
    border: 2px solid;
    -moz-border-top-colors: #00a99d #00a99d;
    -moz-border-right-colors: #00a99d #00a99d;
    -moz-border-bottom-colors: #00a99d #00a99d;
    -moz-border-left-colors: #00a99d #00a99d;
    background: white url(../images/itembtnB_sel.png) left center repeat-x;
    -moz-appearance: none;
    color: #32787a;
}

.viviDateTimeLabel {
    font-size: 12pt;
    margin: 10px;
    font-weight: bold;
    color: #534741;
}

.RightTabbox {
    margin: 1px 0 4px 0;
}

/* for system backup use*/
.BakBtn {
    -moz-appearance: none;
    color: #372213;
    font-size: 12pt;
    margin: 0 5px;
    -moz-border-radius: 6px;
    border: 3px solid;
    -moz-border-top-colors: #f0efe8 #eeede8 #e2e1dc;
    -moz-border-right-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-bottom-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-left-colors: #f0efe8 #eeede8 #e2e1dc;
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    max-height: 80px;
}

.BakBtn:active {
    border: 2px solid;
    -moz-border-top-colors: #ee9400 #ee9400;
    -moz-border-right-colors: #ee9400 #ee9400;
    -moz-border-bottom-colors: #ee9400 #ee9400;
    -moz-border-left-colors: #ee9400 #ee9400;
    -moz-appearance: none;
    color: #372213;
}

/* for keyboard use*/
.keyboard-image {
    max-height: 340px;
    margin-top: 10px;
}

/* image manager**/
.ImgList {
    background: #f0efe8;
    margin: 8px 0 0 0;
    padding: 8px 4px;
}
.ImgList vbox vivibutton{
    margin: 0 4px;
}

.ImgThumb {
    -moz-appearance: none;
     border: 3px solid;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
	  -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
	  -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
	  -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    background: white;
    margin: 3px;    
    overflow: hidden;
    min-height: 98px;
}
.ImgThumb[selected=true], .ImgThumb[checked] {
    border: 3px solid;
    -moz-border-top-colors: #ee9400 #ee9400 #ee9400;
    -moz-border-right-colors: #ee9400 #ee9400 #ee9400;
    -moz-border-bottom-colors: #ee9400 #ee9400 #ee9400;
    -moz-border-left-colors: #ee9400 #ee9400 #ee9400;
    -moz-appearance: none;
    color: #372213;
}
.ImgThumb[disabled="true"] {
  -moz-appearance: none;
  border: none;
  background: #e1dfdb;
}
.ImgThumb hbox {
    -moz-box-orient: vertical;
}
.ImgThumb image {
	width: 64px;
	height: 64px;
}

.ImgInfo {
    margin: 8px;
    font-size: 10pt;
    color: #736357;
    font-weight: bold;
}

.ImgTool {
    background: #e8d1b1;
    -moz-border-radius: 8px;
    padding: 10px 5px;
    margin: 0px 2px 6px 6px;
    max-width: 180px;
}

.ImgTool button, .ImgTool vivibutton {
    margin: 4px;
    min-height: 45px;
    background-color: white ;
    background-image: none;
    border: 1px solid !important;
    -moz-border-top-colors: #918570;
    -moz-border-left-colors: #918570;
    -moz-border-right-colors: #918570;
    -moz-border-bottom-colors: #918570;
    -moz-appearance: none;
    color: #4d4234;
    font-size: 12pt;
    margin: 4px 5px;
    -moz-border-radius: 6px;
    min-width: 90px;
    padding: 0 8px;
}

.ImgTool button[disabled=true],
.ImgTool vivibutton[disabled=true]{
  background-color: #fff6e8 ;
}

.ImgTool button[disabled=false]:hover,
.ImgTool vivibutton[disabled=false]:hover,
.ImgTool button[disabled=false]:active,
.ImgTool vivibutton[disabled=false]:active {
    color: #148c9c;
    text-decoration: underline;
    -moz-appearance: none;
}



/* sycn_settings */
.DataFormA row{
	border-bottom: 2px solid white;
	font-size: 10pt;
	padding: 8px;
    -moz-box-align: center;
}
.DataFormA {
	border-right: 2px solid white;
	background: #f0efe8;
    margin: 0 10px 10px 10px;
}
.DataFormA column{
	padding: 8px;
}
.DataFormA label {
  font-size: 10pt;
  color: #372213;
}

