/*-----------------------------------------------------------------------------
 *
 * PAYMENT DETAILS
 *
 *-----------------------------------------------------------------------------
 */

.paymentscrollablepanel tree #amount, #origin_amount {
    text-align: right;
}

.paymentscrollablepanel tree #name {
    text-align: center;
}

.paymentscrollablepanel tree #memo1, #memo2 {
    text-align: left;
}

.paymentscrollablepanel vivibutton {
    margin: 0 4px;
}
