/*--------------------------------------------------------------------------
 *
 * PLU GROUP COLORS
 *
 *--------------------------------------------------------------------------
 */

.plugroup-button-color-default {
    background: #848388 url(images/departBtn1.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-1 {
    background: #354f66 url(images/departBtn2.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-2 {
    background: #555940 url(images/departBtn3.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-3 {
    background: #ad355c url(images/departBtn4.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-4 {
    background: #ad355c url(images/departBtn5.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-5 {
    background: #ad355c url(images/departBtn6.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-6 {
    background: #ad355c url(images/departBtn7.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-7 {
    background: #ad355c url(images/departBtn8.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-8 {
    background: #ad355c url(images/departBtn9.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
 }

.plugroup-button-color-9 {
    background: #ad355c url(images/departBtn10.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-10 {
    background: #ad355c url(images/departBtn11.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-11 {
    background: #ad355c url(images/departBtn12.png) center left no-repeat !important;
    -moz-appearance: none;
    color: #42422f;
}

.plugroup-button-color-default[selected], .plugroup-button-color-1[selected],
.plugroup-button-color-2[selected], .plugroup-button-color-3[selected],
.plugroup-button-color-4[selected], .plugroup-button-color-5[selected],
.plugroup-button-color-6[selected], .plugroup-button-color-7[selected],
.plugroup-button-color-8[selected], .plugroup-button-color-9[selected],
.plugroup-button-color-10[selected], .plugroup-button-color-11[selected] {
    list-style-image: none !important;
    background-position: 0 -32px !important;
    border-width: 4px !important;
    -moz-border-top-colors: #68594a #ababa8 #c9c6c2 #ebe8e4 !important;
    -moz-border-bottom-colors: #d5cac0 #ffffff #fdfbf8 #fcf9f4 !important;
    -moz-border-left-colors: #736251 #c9c9c9 #dcdad5 #f2efea !important;
    -moz-border-right-colors: #b7a493 #fffffd #faf7ee #faf9f1 !important;
}
