/*-----------------------------------------------------------------------------
 *
 * Main Screen Styles
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .main-panel  {
    /*background: #f1faff url(../images/main_panel.gif) repeat-x;*/
    background-color: #f1faff;
    border: 0px solid;
    height: 600px;
    width: 800px;
    padding: 4px 6px;
}

.main-overlay .top-panel {
    background: #000;
    border-bottom: 1px #666 solid;
    padding: 4px;
   -moz-border-radius: 10px 10px 0px 0px;
   -moz-box-pack: center;
 }

.main-overlay .bottom-panel {
    margin-top: 4px;
    max-height: 210px;
    min-height: 210px;
    height: 210px;
}

.main-overlay .main-wait-panel {
    background: white none center center no-repeat;
    height: 140px;
    margin: 314px 212px 314px 212px;
    width: 600px;
}

.main-overlay .main-wait-dialog {
    background: white;
    border: 3px solid #c1ab8e;
    margin: 8px;
    padding: 4px;
    -moz-border-radius: 8px;
}

#statusbar-display .statusbarpanel-text {
    display: none;
}

.main-overlay .function-panel {
    max-width: 500px;
    min-width: 500px;
    width: 500px;
}

.main-overlay .vivifuncpanelecr_button_panel vivibutton {
    padding: 2px;
    -moz-border-radius: 10px;
}

.main-overlay .page-panel .page-buttons {
    background-color: #AAA;
}

.main-overlay .page-panel .cart-column-heading {
    background: #000;
    border-style: solid;
    border-width: 2px 2px 2px 0px;
    color: #FFF;
    height: 40px;
    -moz-appearance: none;
    -moz-border-top-colors:  #555 #888;
    -moz-border-right-colors: #555 #888;
    -moz-border-bottom-colors: #555 #888;
    -moz-border-left-colors: #555 #888;
}

.main-overlay .page-panel button {
    background: black;
    border-width: 1px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    height: 42px;
    margin: 0px 8px;
    min-height: 42px;
    min-width: 70px;
    width: 70px;
    -moz-appearance: none;
    -moz-border-radius: 10px;
}

.main-overlay .top-panel .info-panel {
    background: #000;
    font-weight: bold;
    margin-bottom: 4px;
    padding: 0px;
    -moz-border-radius: 10px;
    -moz-box-align: center;
}

.main-overlay .top-panel .clock-panel {
    background: transparent;
    border: 0px;
    color: #FFF;
}

.main-overlay .top-panel .info-panel .return-mode-panel {
    background: transparent;
    border: 2px solid;
    color: #0F0;
    font-family: monospace;
    font-size: 16pt;
    font-weight: bold !important;
    height: 36px;
    max-height: 36px;
    max-width: 120px;
    min-height: 36px;
    min-width: 120px;
    width: 120px;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.main-overlay .top-panel .info-panel .cartstatus-panel {
    background: transparent;
    border: 2px solid;
    height: 36px;
    margin-right: 10px;
    max-height: 36px;
    max-width: 150px;
    min-height: 36px;
    min-width: 150px;
    width: 150px;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.main-overlay .top-panel .info-panel .btn {
    background: #CCC;
    border: 2px solid;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    height: 36px;
    margin: 0px 5px;
    min-height: 36px;
    min-width: 70px;
    width: 70px;
    -moz-appearance: none;
    -moz-border-top-colors: #424851 #fff;
    -moz-border-right-colors: #424851 #fff;
    -moz-border-bottom-colors: #424851 #fff;
    -moz-border-left-colors: #424851 #fff;
    -moz-border-radius: 10px;
}

.main-overlay .number-panel button {
    background: #B9B0B0 url(../images/btn_function_02.gif) 0% 0% repeat-x;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    height: 51px;
    margin-left: 1px;
    margin-right: 1px;
    max-width: 66px;
    min-width: 66px;
    width: 66px;
    -moz-appearance: none;
    -moz-border-right-colors: #777 #333;
    -moz-border-bottom-colors: #777 #333;
    -moz-border-radius: 10px;
    -moz-user-focus: ignore;
}

.main-overlay .number-panel .inner-row button {
    margin-top: 1px;
    margin-bottom: 1px;
}

.main-overlay .number-panel .top-row button {
    margin-bottom: 1px;
}

.main-overlay .number-panel .bottom-row button {
    margin-top: 1px;
}

.main-overlay .cmd-panel {
    margin-right: 8px;
    max-width: 70px;
    min-width: 70px;
    width: 70px;
}
