/** style 01 **/

.style01 {	
	padding: 1px;
	background: white;
	font-size: 10pt;	
}
.style01 > div {
	width: 160px;
	height: 100px;
	position:relative; 
}
.style01 .topItem {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 158px;
	height: 98px;
}
.style01 .bgItem {
	height: 84px;
	text-align: right;
	color: #ebebeb;
	font-size: 48pt;
	padding: 12px 0px 0 0;
	font-family: 'Arial Black';
	width: 158px;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
.style01 .bottomItem {
  position:absolute;
  bottom: 0;
  left: 0;
	height: 16px;
	text-align: right;
	color: #4c4d4c;
	background: #e1e1e1;
	padding: 2px 8px;
	width: 142px;
	z-index: 40;
}
.style01 .tableData {
	float: right;
	width: 116px;
	margin: 0 2px;
}
.style01 .tableInfo {
	padding: 2px;
}
.style01 .tableInfo .cneckNo,
.style01 .tableInfo .clerk, 
.style01 .tableInfo .total{
	margin-top: 1px;
}
.style01 .tableName {
	border-bottom: 1px dotted #4c4c4d;
	color: #372213;
	padding: 2px;
}
.style01 .checkNum{
	float: right;
	color: #9e0b0f;
}
.style01 .time{
	color: white;
	font-size: 8pt;
	margin-top: 40px;
	font-family: Arial;
}
.style01 .tableNo {
	width: 32px;
	height: 85px;
	margin: 4px 6px;
	text-align: center;
	font-size: 14pt;
	font-family: 'Arial Black';
}
.style01 .remark{
	margin-top: 10px;
}

/* �W�L�ɶ� */
.style01 .overtime {
	background: #9e0b0f;
	
	color: yellow;
	font-weight: bold;
}
/* �W�L�H�� */
.style01 .overpeople {
	color: #9e0b0f;
	font-weight: bold;
}



.style01 .redtable .tableNo {
	background: #9e0b0f;
	color: white;
}

.style01 .bluetable .tableNo {
	background: #354f66;
	color: white;
}

.style01 .greentable .tableNo {
	background: #a2a70f;
	color: white;
}

.style01 .yellowtable .tableNo {
	background: #f2c54e;
	color: white;
}


/************ style 02 ****************/

.style02 {
	padding: 1px;
	background: white;
	font-size: 10pt;
}
.style02 > div {
	width: 160px;
	height: 100px;
	position:relative; 
}
.style02 .topItem {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 158px;
	height: 98px;
}
.style02 .bgItem {
	height: 84px;
	text-align: right;
	color: #ebebeb;
	font-size: 48pt;
	padding: 12px 0px 0 0;
	font-family: 'Arial Black';
	width: 158px;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
.style02 .bottomItem {
  position:absolute;
  bottom: 0;
  left: 0;
	height: 16px;
	text-align: right;
	color: #4c4d4c;
	background: #e1e1e1;
	padding: 2px 8px;
	width: 142px;
	z-index: 40;
}
.style02 .tableData {
	float: right;
	width: 116px;
	margin: 0 2px;
}
.style02 .tableInfo {
	padding: 2px;
}
.style02 .tableInfo .cneckNo,
.style02 .tableInfo .clerk, 
.style02 .tableInfo .total{
	margin-top: 1px;
}
.style02 .tableName {
	border-bottom: 1px dotted #4c4c4d;
	color: #372213;
	padding: 2px;
}
.style02 .checkNum{
	float: right;
	color: #9e0b0f;
}
.style02 .time{
	color: white;
	font-size: 8pt;
	margin-top: 3px;
	font-family: Arial;
}
.style02 .tableNo {
	width: 32px;
	height: 90px;
	margin: 4px 6px;
	text-align: center;
	font-size: 14pt;
	font-family: 'Arial Black';
}
.style02 .remark{
	margin-top: 10px;
}

/* �W�L�ɶ� */
.style02 .overtime {
	background: #9e0b0f;
	
	color: yellow;
	font-weight: bold;
}
/* �W�L�H�� */
.style02 .overpeople {
	color: #9e0b0f;
	font-weight: bold;
}

.style02 .redtable .tableNo {
	background: transparent url(images/style02_red.png) no-repeat top center;
	color: white;
}

.style02 .bluetable .tableNo {
	background: transparent url(images/style02_blue.png) no-repeat top center;
	color: white;
}

.style02 .greentable .tableNo {
	background: transparent url(images/style02_green.png) no-repeat top center;
	color: white;
}

.style02 .yellowtable .tableNo {
	background: transparent url(images/style02_yellow.png) no-repeat top center;
	color: white;
}


/****************** style 03 **********************/

.style03 {
	padding: 1px;
	background: white;
	font-size: 10pt;
}
.style03 > div {
	width: 160px;
	height: 100px;
	position:relative; 
}
.style03 .topItem {
	position:absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 158px;
	height: 98px;
}
.style03 .bgItem {
	text-align: right;
	color: #ebebeb;
	font-size: 48pt;
	font-family: 'Arial Black';
	width: 158px;
	position:absolute;
	top: 20px;
	left: 0;
	z-index: 40;
}
.style03 .bottomItem {
  position:absolute;
  bottom: 0;
  left: 0;
	height: 16px;
	text-align: right;
	color: #4c4d4c;
	padding: 2px 8px;
	width: 142px;
	z-index: 50;
}
.style03 .tableData {
	float: right;
	width: 116px;
	margin: 0 2px;
}
.style03 .tableInfo {
	padding: 4px;
}
.style01 .tableInfo .cneckNo,
.style01 .tableInfo .clerk, 
.style01 .tableInfo .total{
	margin-top: 2px;
}
.style03 .tableName {
	border-bottom: 1px dotted #4c4c4d;
	color: #372213;
	padding: 2px;
}
.style03 .checkNum{
	float: right;
	color: #9e0b0f;
}
.style03 .time{
	color: white;
	font-size: 8pt;
	margin-top: 50px;
	font-family: Arial;
}
.style03 .tableNo {
	width: 32px;
	height: 95px;
	margin: 4px 6px;
	text-align: center;
	font-size: 14pt;
	font-family: 'Arial Black';
}
.style03 .remark{
	margin-top: 10px;
}

/* �W�L�ɶ� */
.style03 .overtime {
	background: #9e0b0f;
	
	color: yellow;
	font-weight: bold;
}
/* �W�L�H�� */
.style03 .overpeople {
	color: #9e0b0f;
	font-weight: bold;
}


.style03 .redtable .tableNo {
	background: #9e0b0f;
	color: white;
}
.style03 .redtable .bottomItem { 
	border-bottom: 4px solid #9e0b0f;	
}

.style03 .bluetable .tableNo {
	background: #354f66;
	color: white;
}
.style03 .bluetable .bottomItem { 
	border-bottom: 4px solid #354f66;	
}

.style03 .greentable .tableNo {
	background: #a2a70f;
	color: white;
}
.style03 .greentable .bottomItem { 
	border-bottom: 4px solid #a2a70f;	
}

.style03 .yellowtable .tableNo {
	background: #f2c54e;
	color: white;
}
.style03 .yellowtable .bottomItem { 
	border-bottom: 4px solid #f2c54e;	
}



/************ style 04 ****************/

.style04 {
	padding: 1px;
	background: white;
	font-size: 10pt;
}
.style04 > div {
	width: 128px;
	height: 78px;
	position:relative;
}
.style04 .topItem {
	position:absolute;
	top: 1px;
	left: 1px;
	z-index: 100;
	/*width: 120px;*/
        width: 100%;/*Mickey*/
	height: 76px;
}
.style04 .bottomItem {
    position:absolute;
    height: 16px;
	color: #4c4d4c;
	border-top: 1px dotted #4c4c4d;
	padding: 1px;
        
        position:absolute;
          /*bottom: 6px;
          right: 10px;
	height: 16px;*/
        bottom: 2px;/*Mickey*/
        right: 0px;/*Mickey*/
        height: 14px;/*Mickey*/
	padding: 0px;
	text-align:right;
	/*width: 60px;*/
        width: 100%;/*Mickey*/
	z-index: 50;
	font-size: 12pt;
}
.style04 .tableData {
	/*width: 146px;*/
        width: 100%;/*Mickey*/
	/*margin-left: 30px;*/
        /*float: right;*/
}

.style04 .tableInfo {
	padding: 4px;
        float: right;/*Mickey*/
        
/*        left: 30px;*/
    /*margin-left: 40px; */
}
.style04 .tableInfo .checkNo,
.style04 .tableInfo .clerk,
.style04 .tableInfo .total,
.style04 .remark {
	margin-top: 25px;
	overflow: hidden;
}
.style04 .tableName {
	color: #372213;
	padding: 2px;
	margin-left: 4px;
	margin-top: 2px;
	word-wrap: break-word;
	word-break:break-all;
}

.style04 .people {
	float: right;
	width: 40px;
	padding-right: 4px;
	text-align: right;
}/*Mickey*/
/*
.style04 .tableInfo .clerk {
	margin-left: 30px;
	width: 100px;
}
.style04 .people {
	float: right;
	width: 40px;
	padding-right: 4px;
	text-align: right;
}
.style04 .tableInfo {
	padding: 2px;
	height: 52px;
}
.style04 .tableInfo .cneckNo,
.style04 .tableInfo .total{
	margin-top: 1px;
}
.style04 .tableName {
    position:absolute;
	border-bottom: 1px dotted #4c4c4d;
	color: #372213;
	padding: 20px 2px 2px 50px;
	background: #e5e5e5;
}
*/
.style04 .checkNum{
	float: left;
	color: #9e0b0f;
}
.style04 .time{
	font-size: 8pt;
	margin-top: 4px;
	text-align: right;
	background: transparent url(images/clock.gif) no-repeat 110px center;
	
}
.style04 .tableNo {
	position:absolute;
	top: 4px;
	left: 6px;
	z-index: 200;
	width: 32px;
	height: 50px;
	padding-top: 3px;
	text-align: center;
	font-size: 14pt;
	font-family: 'Arial Black';
}
.style04 .remark{
	margin-top: 20px;
}

/* �W�L�ɶ� */
.style04 .overtime {
	color: #9e0b0f;
	font-weight: bold;
}
/* �W�L�H�� */
.style04 .overpeople {
	color: white;
	font-weight: bold;
	background: #f26522;
}

.style04 .redtable .tableNo {
	background: transparent url(images/style04_red.png) no-repeat top center;
	color: white;
}
.style04 .redtable {
	border: 1px solid #9e0b0f;
        background-color: #ff8588;/*Mickey*/
}

.style04 .bluetable .tableNo {
	background: transparent url(images/style04_blue.png) no-repeat top center;
	color: white;
}
.style04 .bluetable {
	border: 1px solid #354f66;
        background-color: #97cbf6;/*Mickey*/
}

.style04 .greentable .tableNo {
	background: transparent url(images/style04_green.png) no-repeat top center;
	color: white;
}
.style04 .greentable {
	border: 1px solid #a2a70f;
        background-color: #dade6c;/*Mickey*/
}

.style04 .yellowtable .tableNo {
	background: transparent url(images/style04_yellow.png) no-repeat top center;
	color: white;
}
.style04 .yellowtable {
	border: 1px solid #f2c54e;
}



/****************** style 05 **********************/

.style05 {
	-moz-appearance: none;
    width: 172px;
	max-height: 126px;
    height: 126px !important;
}
.style05 > div {
	font-size: 10pt;
    width: 172px;
	height: 126px;
	position:relative; 
	background: transparent url(images/paper.png) no-repeat center bottom;
}
.style05 .topItem {
	position:absolute;
	top: 12px;
	left: 12px;
	z-index: 100;
	width: 160px;
	height: 91px;
}
.style05 .bgItem {
	text-align: right;
	color: #e8e8e8;
	font-size: 48pt;
	font-weight: bold;
	position:absolute;
	bottom: 10px;
	right: 10px;
    width: 120px;
    height: 65px;
	z-index: 40;
}
.style05 .bottomItem {
  position:absolute;
  bottom: 8px;
  right: 10px;
	height: 16px;
	padding: 0px;
	text-align:right;
	width: 60px;
	z-index: 50;
	font-size: 12pt;
}
.style05 .tableData {
	width: 146px;
	margin-left: 30px;
}
.style05 .tableInfo {
	padding: 4px;
    margin-left: 4px;
}
.style05 .tableInfo .cneckNo,
.style05 .tableInfo .clerk,
.style05 .tableInfo .total,
.style05 .remark {
	margin-top: 2px;
	overflow: hidden;
}
.style05 .tableName {
	color: #372213;
	padding: 2px;
	margin-left: 4px;
	margin-top: 2px;
	word-wrap: break-word;
	word-break:break-all;
}
.style05 .checkNum{
	position:absolute;
	top: 36px;
	right: 16px;
	z-index: 130;
	color: #9e0b0f;
	font-weight: bold;
}
.style05 .clerk{
	float: right;
	text-align: right;
	width: 70px;
}
.style05 .time{
	position:absolute;
	top: 11px;
	right: 38px;
	z-index: 120;
	text-align: right;
	background: transparent url(images/time.png) no-repeat 0px center;
	font-size: 9pt;
	width: 52px;
	color: black;
}
.style05 .tableNo {
	font-size: 20pt;
	font-weight: bold;
    margin: 2px 2px 0 2px;
	padding: 9px 18px 0 2px;
	line-height: 18px;
}


.style05 .thumbtack {
	position:absolute;
	top: 0;
	right: 10px;
	z-index: 110;
	width: 24px;
	height: 35px;
}

/* �W�L�ɶ� */
.style05 .overtime {
	background: #9e0b0f;
	color: yellow;
	font-weight: bold;
}
/* �W�L�H�� */
.style05 .overpeople {
	background: #9e0b0f;
	color: yellow;
	font-weight: bold;
}


.style05 .redtable .tableNo {
	color: #9e0b0f;
	border-bottom: 1px solid #9e0b0f;	
}
.style05 .redtable .thumbtack {
	background: transparent url(images/thumbtack_red.png) no-repeat 0px center;	
}

.style05 .bluetable .tableNo {
	color: #354f66;
	border-bottom: 1px solid #354f66;	
}
.style05 .bluetable .thumbtack {
	background: transparent url(images/thumbtack_blue.png) no-repeat 0px center;	
}
.style05 .bluetable .time {
	background: none;
}

.style05 .greentable .tableNo {
	color: #a2a70f;
	border-bottom: 1px solid #a2a70f;	
}
.style05 .greentable .thumbtack {
	background: transparent url(images/thumbtack_green.png) no-repeat 0px center;	
}
.style05 .greentable .people{
	font-weight: bold;
	font-size: 16pt;
	color:  #ed145b;	
}
.style05 .greentable .bottomItem{
	bottom: 12px;
}
.style05 .greentable .time {
	background: none;
}

.style05 .yellowtable .tableNo {
	color: #f2c54e;
	border-bottom: 1px solid #f2c54e;	
}
.style05 .yellowtable .thumbtack {
	background: transparent url(images/thumbtack_yellow.png) no-repeat 0px center;	
}
.style05 .yellowtable .time {
	background: none;
}
