/*-----------------------------------------------------------------------------
 *
 * CLOCK IN/OUT SCREEN
 *
 *-----------------------------------------------------------------------------
 */

* {
	padding: 0px;
	margin: 0px;
}

.clockinPanel {
    background: #f8f4eb url(../images/ClockInOut.jpg) top left no-repeat;
	border: none;
    height: 1024px;
    width: 1280px;
}

.PageTitle {
	color: black;
	font-size: 20pt;
	margin: 15px 0 0 430px;
}

/*-----------------------------------------------------------------------------
 * USERS
 *-----------------------------------------------------------------------------
 */

.clockuserscrollablepanel {
    margin: 117px 0 0 140px;
    max-height: 570px;
    max-width: 223px;
    min-height: 570px;
    min-width: 223px;
}

/* user buttons */

.userbtn {
    background: transparent url(../images/c_namecard_a.png) center bottom no-repeat;
    border: none;
    color: #3a382f;
    font-size: 15px;
    font-weight: bold !important;
    height: 65px;
    list-style-type: none;
    margin: 0px 0px 2px 14px;
    max-height:65px;
    max-width:208px;
    min-height:65px;
    min-width:208px;
    overflow: hidden;
    padding: 30px 0 0 0px;
    width: 208px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-box-orient: vertical;
    -moz-user-focus: ignore;
}

.userbtn hbox{
    height: 32px;
    max-height: 32px;
}

.userbtn hbox image{
    display: none;
}

.userbtn[disabled=false]:active {
    background: transparent url(../images/c_namecard.png) center bottom no-repeat;
    padding: 20px 0 0 0px;
}

.userbtn[disabled=true] {
    background: none;
}

.userbtn[selected=true] {
    background: transparent url(../images/c_namecard.png) center bottom no-repeat;
    padding: 20px 0 0 0px;
}

/*-----------------------------------------------------------------------------
 * USERS scroll bar
 *-----------------------------------------------------------------------------
 */

.clockuserscrollablepanel .scrollablepanel-scrollbar{
	max-width: 56px;
	min-width: 56px;
        
}

/* scroll bar buttons */

.rightprevbtn {
    background: url(../images/c_userup.png) center center no-repeat;
    border: none;
    height: 50px;
    margin-top: 35px;
    max-width:50px;
    min-width:50px;
    width: 50px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
    
}

.rightprevbtn[disabled=false]:active {
	background: url(../images/c_userup_a.png) center center no-repeat;
}

.rightprevbtn description {
	display: none;
}

.rightnextbtn {
    border: none;
    height: 50px;
    max-width:50px;
    min-width:50px;
    width: 50px;
    background: url(../images/c_userdown.png) center center no-repeat;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
    margin: 0px 0px 0px 0px;
}

.rightnextbtn[disabled=false]:active {
	background: url(../images/c_userdown_a.png) center center no-repeat;
}

.rightnextbtn description {
	display: none;
}

/*-----------------------------------------------------------------------------
 * Number Pad
 *-----------------------------------------------------------------------------
 */

.numpad {
	margin: 22px 5px 0 18px;
	width: 378px;
}

.numberpad sendkeybutton{
    background: transparent url(../images/numbtn_tall.png);
    border: 0px solid;
    color: white;
    font-size: 30px;
    font-weight: bold !important;
    height: 67px;
    list-style-type: none;
    margin: 5px 0 0 5px;
    max-height:67px;
    max-width:82px;
    min-height:67px;
    min-width:82px;
    overflow: hidden;
    padding: 0px;
    width: 82px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}
.numberpad sendkeybutton:active{
	background: transparent url(../images/numbtn_tall_a.png) center center no-repeat;
}

.systembtn {
    background: transparent url(../images/funBtn4.png) center center no-repeat;
    color: #42422f;
    font-size: 14px;
    font-weight: bold !important;
    height: 140px;
    list-style-type: none;
    margin: 5px 0px 0px 5px;
    max-height:140px;
    max-width:90px;
    min-height:140px;
    min-width:90px;
    overflow: hidden;
    padding: 0px;
    text-wrap: normal;
    width: 90px;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-box-align:center;
    -moz-box-pack:center;
    -moz-user-focus: ignore;
}

.systembtn[disabled=false]:active {
    background: transparent url(../images/funBtn4_a.png) center center no-repeat;
}


/*-----------------------------------------------------------------------------
 * Action Pad
 *-----------------------------------------------------------------------------
 */

/* clock-in/clock-out */

.clockinoutbtn {
    background: transparent url(../images/clockin.gif) no-repeat center center;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold !important;
    height: 89px;
    list-style-type: none;
    margin: 0px 8px 0px 0px;
    overflow: hidden;
    padding: 0px;
    width: 91px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
}

.clockinoutbtn[disabled=false]:active {
	background: transparent url(../images/clockin_a.gif) no-repeat center center;
}

.clockinoutbtn label {
    color: #ffffff;
    max-height:89px;
    max-width: 80px;
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

/* view attendance */

.clockinoutbtn2 {
    background: transparent url(../images/viewatt.gif) no-repeat center center;
    border: none;
    color: White;
    font-size: 16px;
    font-weight: bold !important;
    height: 89px;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    width: 120px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
}

.clockinoutbtn2[disabled=false]:active {
	background: transparent url(../images/viewatt_a.gif) no-repeat center center;
}

.clockinoutbtn2 label {
    color: #ffffff;
    max-height:89px;
    max-width: 100px;
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

/* exit button */

.genbtn {
    background: url(../images/exit_1.png) 95% top no-repeat;
    border: none;
    height: 80px;
    margin: 24px 1px 20px 20px;
    padding: 0px;
    overflow: hidden;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
}

.genbtn:hover {
    background: url(../images/exit_2.png) 95% top no-repeat;
}

.genbtn:active {
    background: url(../images/exit_3.png) 95% top no-repeat;
}

.genbtn label {
	display: none;
}

/*-----------------------------------------------------------------------------
 * Password Pad
 *-----------------------------------------------------------------------------
 */

.PwPad {
	margin: 36px 0 0 292px;

}

.pwlabel {
	color: white;
	font-size: 14pt;
	margin-top: 13px;
}

.clocklabel {
	color: #dcf74a;
	font-size: 12pt;
	margin-top: 9px;
}

.pwBox {
	border: 2px solid #b2a59a;
	color: #514f43;
	height: 40px;
    margin-right: 10px;
	margin-top: 5px;
	width: 250px;
	-moz-appearance: none;
	-moz-border-color: #b2a59a;
	-moz-border-radius: 4px;
	font-size: 24px;
}

/*-----------------------------------------------------------------------------
 * Job List
 *-----------------------------------------------------------------------------
 */

.numjobpad {
	background: transparent url(../images/numjob.png) left 3px no-repeat;
	margin: 85px 0 0 19px;

}

.jobpad {
    background: transparent url(../images/jobpad.png) left top no-repeat;
    max-height:398px;
    min-height:398px;
    min-width: 248px;
    padding: 70px 0 0 14px;
    width: 2480px;
}

.jobscrollablepanel {
    height:270px;
    max-width: 185px;
    max-height:270px;
    min-height:270px;
    min-width: 185px;
    width: 185px;
}

.jobBtn {
	background: transparent;
	color: #424242;
	border: none;
	font-size: 16px;
	font-weight: bold;
	height: 50px;
	margin: 0px;
	max-height: 50px;
	max-width: 183px;
	min-height: 50px;
	min-width: 183px;
	padding: 0px;
	width: 183px;
	-moz-appearance: none;
}

.jobBtn[disabled=false]:active{
	background: transparent url(../images/jobsel.png) left center no-repeat;
	color: #336489;
}

.jobBtn[selected]{
	background: transparent url(../images/jobsel.png) left center no-repeat;
	color: #336489;
}

.jobBtn .button-text{
	padding-left: 32px;
	text-align: left;
}

/*job scroll button*/

.jobupBtn {
	background: url(../images/jobupbtn.png) center center  no-repeat;
	border: none;
	height: 47px;
	max-height: 47px;
	max-width: 47px;
	min-height: 47px;
	min-width: 47px;
	width: 47px;
	-moz-appearance: none;
}

.jobupBtn[disabled=false]:active {
	background: url(../images/jobupbtn_a.png) center center  no-repeat;
}

.jobupBtn description{
    display: none;
}

.jobdownBtn {
	background: url(../images/jobdownbtn.png) center center  no-repeat;
	height: 47px;
	max-height: 47px;
	max-width: 47px;
	min-height: 47px;
	min-width: 47px;
	border: none;
	width: 47px;
	-moz-appearance: none;
}

.jobdownBtn[disabled=false]:active {
	background: url(../images/jobdownbtn_a.png) center center  no-repeat;
}

.jobdownBtn description{
    display: none;
}

/*-----------------------------------------------------------------------------
 * Attendance List
 *-----------------------------------------------------------------------------
 */

.listpad {
	background: transparent url(../images/listpad.png) left top no-repeat;
    max-width: 294px;
    min-height: 406px;
    min-width: 294px;
    width:294px;
}

.jobsummary {
    font-size: 12px;
    height:295px;
    margin: 87px 0px 0px 4px;
    max-height: 295px;
    max-width: 284px;
    min-height: 295px;
    min-width: 284px;
    width:284px;
}

.jobsummary .jobsummary {
    margin: 0px;
}

.jobsummary listheader {
    background: #789ebb;
    border: none;
    border-right: 1px solid #fff;
    color: #fff;
    padding: 1px 2px;
    -moz-appearance: none;
    -moz-border-right-colors: #fff;
}

.jobsummary listitem {
    border-bottom: 1 solid #789ebb;
    -moz-appearance: none;
    -moz-border-bottom-colors: #789ebb;
}

listbox {
    border: 0px solid;
    -moz-appearance: none;
}

.jobsummary .clockin_time {
    max-width: 87px;
    min-width: 87px;
}

.jobsummary .clockout_time {
    max-width: 87px;
    min-width: 87px;
}

/* Attendance  Scorll bar  */

.jobsummaryUpbtn {
	background: transparent url(../images/jobupbtn.png) center center no-repeat;
	border: none;
	max-height: 35px;
	max-width: 35px;
	min-height: 35px;
	min-width: 35px;
	-moz-appearance: none;
}

.jobsummaryUpbtn:active {
	background: transparent url(../images/jobupbtn_a.png) center center no-repeat;
}

.jobsummaryDownbtn {
	background: transparent url(../images/jobdownbtn.png) center center no-repeat;
	border: none;
	max-height: 35px;
	max-width: 35px;
	min-height: 35px;
	min-width: 35px;
	-moz-appearance: none;
}

.jobsummaryDownbtn:active {
	background: transparent url(../images/jobdownbtn_a.png) center center no-repeat;
}
