/*-----------------------------------------------------------------------------
 *
 * Main Screen Styles
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .main-panel  {
    background-color: #f1faff;
    border: 0px solid red;
    height: 1024px;
    width: 1280px;
}

.main-overlay .left-panel {
    max-width: 630px;
    min-width: 630px;
    width: 630px;
}

.main-overlay .right-panel {
    max-width: 650px;
    min-width: 650px;
    width: 650px;
}

.main-overlay .function-toolbar {
    min-width: 44px;
    max-width: 44px;
    width: 44px;
}

.main-overlay .main-wait-panel {
    background: white none center center no-repeat;
    height: 140px;
    margin: 314px 212px 314px 212px;
    width: 600px;
}

.main-overlay .main-wait-dialog {
    background: white;
    border: 3px solid #c1ab8e;
    margin: 8px;
    padding: 4px;
    -moz-border-radius: 8px;
}

#statusbar-display .statusbarpanel-text {
    display: none;
}

#customerPanelContainer {
    border: 2px ridge;
}
