
#tool_extension {
  list-style-image: url(chrome://vivipos/skin/images/plugin.png);
}

#img_jsconsole[mode=ok] {
  list-style-image: url(chrome://vivipos/skin/images/valid.png);
}
#img_jsconsole[mode=error] {
  list-style-image: url(chrome://vivipos/skin/images/error.png);
}

#tool_debugger {
  list-style-image: url(chrome://vivipos/skin/images/debugger.png);
}

#tool_inspector {
  list-style-image: url(chrome://vivipos/skin/images/inspector.png);
}

#tool_help {
  list-style-image: url(chrome://vivipos/skin/images/help.png);
}
