/*-----------------------------------------------------------------------------
 *
 * Main Screen Order Status
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .orderstatus {
    background: #555940;
    display: none;
    -moz-appearance: none;
}
.main-overlay .orderstatus .orderstatus {
    border: none;
}

.main-overlay .orderstatus separator {
    background: #fff;
    border: none;
    width: 1px;
    -moz-appearance: none;
}

.main-overlay .orderstatus-field-label {
    background-color: transparent;
    border-width: 0px;
    color: #fff;
    font-size: x-small;
    margin: 0px 5px 0px 2px;
    max-width: 35px;
    padding: 0px 0px 0px 0px;
    -moz-appearance: none;
}

.main-overlay .orderstatus-field-value {
    background-color: transparent;
    border-width: 0px;
    color: #fff;
    font-size: x-small;
    margin: 0px 2px 0px 0px;
    padding: 0px 0px 0px 0px;
    -moz-appearance: none;
}
