/*-----------------------------------------------------------------------------
 *
 * CLOCK IN/OUT SCREEN
 *
 *-----------------------------------------------------------------------------
 */

* {
	padding: 0px;
	margin: 0px;
}

.clockinPanel {
	background: #f8f4eb url(../images/ClockInOut.jpg) top left no-repeat;
	border: none;
	height: 600px;
	width: 800px;
}

.PageTitle {
	color: black;
	font-size: 15pt;
	margin: 10px 40px 0 0px;
}

/*-----------------------------------------------------------------------------
 * USERS
 *-----------------------------------------------------------------------------
 */

.clockuserscrollablepanel {
    margin: 53px 0 0 48px;
    max-height: 336px;
    max-width: 181px;
    min-height: 336px;
    min-width: 181px;
}

.userbtn {
    background: transparent url(../images/c_namecard_a.png) center bottom no-repeat;
    border: none;
    color: #3a382f;
    font-weight: bold !important;
    font-size: 14px;
    height: 53px;
    list-style-type: none;
    margin: 0px 0px 3px 12px;
    max-height:53px;
    max-width:130px;
    min-height:53px;
    min-width:130px;
    overflow: hidden;
    padding: 23px 0 0 0px;
    width: 130px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-box-orient: vertical;
    -moz-user-focus: ignore;
}

.userbtn hbox{
  height: 31px;
  max-height: 31px;
}

.userbtn hbox image{
  display: none;
}

.userbtn[disabled=false]:active {
    background: transparent url(../images/c_namecard.png) center bottom no-repeat;
    padding: 14px 0 0 0px;
}

.userbtn[disabled=true] {
    background: none;
}

.userbtn[selected=true] {
    background: transparent url(../images/c_namecard.png) center bottom no-repeat;
    padding: 14px 0 0 0px;
}

/*-----------------------------------------------------------------------------
 * USERS scroll bar
 *-----------------------------------------------------------------------------
 */

.clockuserscrollablepanel .scrollablepanel-scrollbar{
	max-width: 39px;
	min-width: 39px;
}

.rightprevbtn {
    background: url(../images/c_userup.png) center center no-repeat;
    border: none;
    height: 39px;
    margin-top: 30px;
    max-width:39px;
    min-width:39px;
    width: 39px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
}

.rightprevbtn[disabled=false]:active {
	background: url(../images/c_userup_a.png) center center no-repeat;
}

.rightprevbtn description {
	display: none;
}

.rightnextbtn {
    background: url(../images/c_userdown.png) center center no-repeat;
    border: none;
    height: 39px;
    max-width:39px;
    min-width:39px;
    width: 39px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
}

.rightnextbtn[disabled=false]:active {
	background: url(../images/c_userdown_a.png) center center no-repeat;
}

.rightnextbtn description {
	display: none;
}

/*-----------------------------------------------------------------------------
 * Number Pad
 *-----------------------------------------------------------------------------
 */

.numpad {
	margin: 16px 13px 0 12px;
	width: 265px;
}

.numberpad sendkeybutton{
    background: transparent url(../images/numbtn_tall.png);
    border: 0px solid;
    color: white;
    font-size: 30px;
    font-weight: bold !important;
    height: 52px;
    list-style-type: none;
    margin: 5px 0 0 5px;
    max-height:52px;
    max-width:64px;
    min-height:52px;
    min-width:64px;
    overflow: hidden;
    padding: 0px;
    width: 64px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.systembtn {
    background: transparent url(../images/funBtn4.png) center center no-repeat;
    border: 0px solid;
    color: #42422f;
    font-weight: bold !important;
    font-size: 14px;
    height: 109px;
    list-style-type: none;
    margin: 5px 0px 0px 5px;
    max-height:109px;
    max-width:70px;
    min-height:109px;
    min-width:70px;
    overflow: hidden;
    padding: 0px;
    text-wrap: normal;
    width: 70px;
    word-wrap: break-word;
    -moz-appearance: none;
    -moz-box-align:center;
    -moz-box-pack:center;
    -moz-user-focus: ignore;

}

.systembtn[disabled=false]:active {
    background: transparent url(../images/funBtn4_a.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * Action Pad
 *-----------------------------------------------------------------------------
 */

/* clock-in/clock-out */

.clockinoutbtn {
    background: transparent url(../images/clockin.gif) no-repeat center center;
    border: none;
    color: White;
    font-size: 12px;
    font-weight: bold !important;
    height: 69px;
    list-style-type: none;
    margin: 0px 6px 0px 0px;
    overflow: hidden;
    padding: 0px;
    width: 70px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
}

.clockinoutbtn[disabled=false]:active {
	background: transparent url(../images/clockin_a.gif) no-repeat center center;
}

.clockinoutbtn label {
    color: #ffffff;
    max-height:69px;
    max-width: 50px; 
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

/* view attendance */

.clockinoutbtn2 {
    background: transparent url(../images/viewatt.gif) no-repeat center center;
    border: none;
    color: White;
    font-size: 12px;
    font-weight: bold !important;
    height: 69px;
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    padding: 0px;
    width: 93px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
}

.clockinoutbtn2[disabled=false]:active {
	background: transparent url(../images/viewatt_a.gif) no-repeat center center;
}

.clockinoutbtn2 label {
    color: #ffffff;
    max-height:69px;
    max-width: 88px; 
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

/* exit button */

.genbtn {
    background: url(../images/exit_1.png) 95% top no-repeat;
    border: none;
    height: 69px;
    margin: 24px 1px 20px 20px;
    overflow: hidden;
    padding: 0px;
    -moz-appearance: none;
    -moz-background-clip: border;
    -moz-user-focus: ignore;
}

.genbtn:hover {
    background: url(../images/exit_2.png) 95% top no-repeat;
}

.genbtn:active {
    background: url(../images/exit_3.png) 95% top no-repeat;
}

.genbtn label {
	display: none;
}

/*-----------------------------------------------------------------------------
 * Password Pad
 *-----------------------------------------------------------------------------
 */

.PwPad {
	margin: 32px 0 0 225px;
	
}

.pwlabel {
	color: white;
	font-size: 12pt; 
	margin-top: 13px;
}

.clocklabel {
	color: #dcf74a;
	font-size: 11pt; 
	margin-top: 9px;
}

.pwBox {
	border: 2px solid #b2a59a;
	color: #514f43;
	font-size: 21px;
	height: 36px;
	margin-top: 5px;
    margin-right: 10px;
	width: 190px;
	-moz-appearance: none;
	-moz-border-color: #b2a59a;
	-moz-border-radius: 4px;
}

/*-----------------------------------------------------------------------------
 * Job List
 *-----------------------------------------------------------------------------
 */

.numjobpad {
	background: transparent url(../images/numjob.png) left 3px no-repeat;
	margin: 65px 0 0 12px;
	
}

.jobpad {
	background: transparent url(../images/jobpad.png) left top no-repeat;
	max-height:310px;
    min-height:310px;
	min-width: 160px;
	padding: 62px 0 0 14px;
	width: 160px;
}

.jobscrollablepanel {
    height:220px;
	max-height:220px;
    max-width: 174px;
    min-height:220px;
    min-width: 174px;
    width: 174px;
}

.jobBtn {
	background: transparent;
	border: none;
	color: #424242;
	font-size: 14px;
	font-weight: bold;
	height: 34px;
	margin: 0px;
	max-height: 34px;
	max-width: 143px;
	min-height: 34px;
	min-width: 143px;
	padding: 0px;
	width: 143px;
	-moz-appearance: none;
}

.jobBtn[disabled=false]:active{
	background: transparent url(../images/jobsel.png) left center no-repeat;
	color: #336489;
}

.jobBtn[selected]{
	background: transparent url(../images/jobsel.png) left center no-repeat;
	color: #336489;
}

.jobBtn .button-text{
	text-align: left;
	padding-left: 25px;
}

/*job scroll button*/

.jobupBtn {
	background: url(../images/jobupbtn.png) center center  no-repeat;
	border: none;
	height: 32px;
	max-height: 32px;
	max-width: 32px;
	min-height: 32px;
	min-width: 32px;
	width: 32px;
	-moz-appearance: none;
}

.jobupBtn[disabled=false]:active {
	background: url(../images/jobupbtn_a.png) center center  no-repeat;
}

.jobupBtn description{
    display: none;
}

.jobdownBtn {
	background: url(../images/jobdownbtn.png) center center  no-repeat;
	border: none;
	height: 32px;
	max-height: 32px;
	max-width: 32px;
	min-height: 32px;
	min-width: 32px;
	width: 32px;
	-moz-appearance: none;
}

.jobdownBtn[disabled=false]:active {
	background: url(../images/jobdownbtn_a.png) center center  no-repeat;
}

.jobdownBtn description{
    display: none;
}

/*-----------------------------------------------------------------------------
 * Attendance List
 *-----------------------------------------------------------------------------
 */

.listpad {
	background: transparent url(../images/listpad.png) left top no-repeat;
    max-width: 228px;
    min-height: 316px;
    min-width: 228px;
    width:228px;
}

.jobsummary {
    font-size: 9px;
    height:225px;
    margin: 68px 0px 0 3px;
    max-height: 225px;
    max-width: 222px;
    min-height: 225px;
    min-width: 222px;
    width:222px;
}

.jobsummary .jobsummary {
    margin: 0px;
}

.jobsummary listheader {
    background: #789ebb;
    border: none;
    border-right: 1px solid #fff;
    color: #fff;
    padding: 1px 2px; 
    -moz-appearance: none;
    -moz-border-right-colors: #fff;
}

.jobsummary listitem {
    border-bottom: 1 solid #789ebb;
    -moz-appearance: none;
    -moz-border-bottom-colors: #789ebb;
}

listbox {
    border: 0px solid;
    -moz-appearance: none;
}

.jobsummary .clockin_time {
    max-width: 68px;
    min-width: 68px;
}

.jobsummary .clockout_time {
    max-width: 68px;
    min-width: 68px;
}

.jobsummaryUpbtn {
	background: transparent url(../images/jobupbtn.png) center center no-repeat;
	border: none;
	max-height: 32px;
	max-width: 32px;
	min-height: 32px;
	min-width: 32px;
	-moz-appearance: none;
}
.jobsummaryUpbtn:active {
    background: transparent url(../images/jobupbtn_a.png) center center no-repeat;
}
.jobsummaryDownbtn {
	background: transparent url(../images/jobdownbtn.png) center center no-repeat;
	border: none;
	max-height: 32px;
	max-width: 32px;
	min-height: 32px;
	min-width: 32px;
	-moz-appearance: none;
}
.jobsummaryDownbtn:active {
	background: transparent url(../images/jobdownbtn_a.png) center center no-repeat;
}
