/*--------------------------------------------------------------------------
 *
 * FRONT-END FUNCTION BUTTON COLORS
 *
 *--------------------------------------------------------------------------
 */

.main-overlay vivifuncpanelecr vivibutton {
    background: transparent none;
    border-width: 0px !important;
    padding: 12px 0px 4px 0px;
    -moz-appearance: none;
}
