/*-----------------------------------------------------------------------------
 *
 * Front End terminal status
 *
 *-----------------------------------------------------------------------------
 */
#status-bar {
    margin: 0px;
    padding: 0px;
}

#status-bar .console-terminal-no {
    background-color: transparent;
    border-color: black;
    border-width: 1px;
    color: black;
    font-size: x-small;
    text-align: center;
}

#status-bar .console-current-user {
    background-color: transparent;
    border-width: 1px;
    color: black;
    font-size: x-small;
    text-align: center;
}

#status-bar .console-sale-period {
    background-color: transparent;
    border-color: blue;
    border-style: solid;
    border-width: 0px;
    color: black;
    text-align: center;
}

#status-bar .console-message-value {
    background-color: transparent;
    border-width: 1px;
    color: black;
    font-size: x-small;
    min-width: 80px;
}

#status-bar .console-clock {
    background-color: transparent;
    font-size: small;
}

#status-bar .receiptStatus[status=on] {
    list-style-image: url("chrome://viviecr/skin/images/gtk-yes.png");
    margin: 0 10px 0 10px;
    max-width: 18px;
    max-height: 18px;
}

#status-bar .receiptStatus[status=off] {
    list-style-image: url("chrome://viviecr/skin/images/gtk-cancel.png");
    margin: 0 10px 0 10px;
    max-width: 18px;
    max-height: 18px;
}

.statusbarpanel-text {
    display: none;
}
