@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url(""http://www.w3.org/1999/xhtml"");

/******** for xul ********/
.reportbox {
    overflow-y:auto;
}

/******** for html ********/
.report {
	height: 1px;
	min-height: 1px;
  padding: 7px;
	margin: 0px;
	background: #f7f4ed url(chrome://viviecr/content/skin/images/report_bg.gif) repeat-x top center;
}

.paper {
	margin: 0px auto;
	width: 1200px;
	min-height: 360px;
	padding: 10px;
	background: #fff;
	border: solid #655e4c;
	border-width: 1px;
	border-right-width: 3px;
	border-bottom-width: 3px;
}

.PageTitle  {
	text-align: center;
	font-size: 14pt;
	color: #534741;
	font-weight: bold;
	border-bottom: 3px #b5b093 double;
	background: url(chrome://viviecr/content/skin/images/report_title_bg.gif) repeat-x bottom center;
	padding: 8px;
	margin: 10px 0;
}

/* who print, when, time range, ...etc */
.ReportDate {
	font-size: 8pt;
	color: black;
	background-color: #f5f2e9;
	padding: 10px;
	width: 98%;
	margin: 15px auto;	
}
.ReportDate td {
	font-size: 8pt;
}
.ReportDate > h1 {
	font-size: 10pt;
	text-decoration: underline;
}


#body-table {
  width: 98%;
  margin: 0px auto 0px auto;
/*  font: 100% sans-serif; */
  border-collapse: collapse;
  empty-cells: show;
}

#body-table > caption, .caption {
  text-align: left;
  font-weight: bold;
  font-size: 9pt;
  color: #292929;
  margin: 3px 5px;
  list-style-image: url(chrome://viviecr/content/skin/images/table_title.gif);
}

.subtitle{
text-align: left !important;
font-weight: bold !important;
font-size: 10pt !important;
color: #292929 !important;
margin: 10px 5px !important;
padding: 4px !important;
}

/* basic shared rules */
#body-table th,
#body-table td {
  text-align: right;
  border-bottom: 1px solid #c3c3c3;
  }

#body-table th {
  font-weight: bold;
  padding-left: .5em;
  }


/* header */
#body-table > thead > tr:first-child > th, .fields {
  text-align: center;
  color: #56523a;
  border-top: 2px solid #b5b093;
  border-bottom: 1px solid #b5b093;
  background-color: #f5f2ec;
  font-size: 9pt;
  padding: 4px;
}
/*
#body-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
  }
*/
/* fix size of superscript */
#body-table sup {
  font-size: 75%;
  }

/* body */
#body-table td {
  padding:4px 8px;
  font-size: 9pt;
  color: #484848;
}

#body-table tbody th:after {
  /*content: ":";*/
  }


/* footer */
#body-table tfoot {
  font-weight: bold;
  }

#body-table tfoot th {
  color: #2e2e2e;
  }

#body-table tfoot th:after {
  /*content: ":";*/
  }

#body-table > tfoot td {
  
}

#body-table > tfoot > tr:first-child td {
  border-top: 2pt solid #c3c3c3;
  padding: 4px;
  border-bottom: none;
  font-size: 9pt;
}

.heading_p {
margin: 3px 5px;
font-size: 9pt;
}

.heading_store {
margin: 3px 5px;
font-size: 9pt;
text-align: center;
}

td.hyperlink {
    color: blue !important;
    font-style: normal;
    font-weight: bold;
    text-decoration: underline;
}

td.hyperlink:hover {
    cursor: pointer;
}

#condition-table {
  width: 100%;
  margin: 0px auto 0px auto;
/*  font: 100% sans-serif; */
  border-collapse: collapse;
  text-align:left;
  empty-cells: show;
}

#condition-table .condition-title{
    width: 15%;
    white-space:nowrap;
}

/** for print use **/
@media print {
	.report {
		padding: 0px;
		margin: 0px;
		background: white;
	}
	
	.paper {
		width: 27.5cm;
		padding: 10px;
		background: none;
		border: none;
	}

	.ReportDate {
		border: 1px solid #555;
	}
		
	#body-table > thead {
		display: table-header-group;
	}

	#body-table > thead > tr:first-child > th, .fields {
	  background-color: #f5f2ec;
	}
	
	/* Mickey adds those below. */
	#body-table > thead > tr:first-child > th, .fields {
	  text-align: center;
	  color: #56523a;
	  border-top: 2px solid #b5b093;
	  border-bottom: 1px solid #b5b093;
	  background-color: #f5f2ec;
	  font-size: 8pt;
	  padding: 4px;
		}

	/* body */
	#body-table td {
	  padding:4px 8px;
	  font-size: 8pt;
	  color: #484848;
	}

	#body-table > tfoot > tr:first-child td {
	  border-top: 2pt solid #c3c3c3;
	  padding: 4px;
	  border-bottom: none;
	  font-size: 8pt;
	}
	
	td.hyperlink {
		color: black !important;
		font-style: normal;
		font-weight: normal;
		text-decoration: none;
	}

	td.hyperlink:hover {
		cursor: pointer;
	}
}
