@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url(""http://www.w3.org/1999/xhtml"");

/******** for xul ********/
.reportbox {
    overflow-y:auto;
}

/******** for html ********/
.report {
	width: 1px;
    height: 1px;
	min-height: 1px;
    padding: 10px;
	margin: 0px;
	background: #aaa;
	border: dot;
    border-width: 1px;
}

.paper {
	width: 500px;
	min-height: 340px;
    padding: 10px;
	margin: 10px;
	background: #fff;
	border: solid;
    border-width: 1px;
    font-size:16px;
    border-right-width: 3px;
    border-bottom-width: 3px;
}

#body-table {
  width: 95%;
  margin: 0px auto 0px auto;
/*  font: 100% sans-serif; */
  background-color: #def;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #4ca;
  }

#body-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 120%;
  border-bottom: .2em solid #7a7;
  margin-bottom: .5em;
  }


/* basic shared rules */
#body-table th,
#body-table td {
  text-align: right;
  padding-right: .3em;
  border-bottom: 1px dotted #bbb;
  }

#body-table th {
  font-weight: bold;
  padding-left: .5em;
  }


/* header */
#body-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;
  }

#body-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
  }

/* fix size of superscript */
#body-table sup {
  font-size: 75%;
  }

/* body */
#body-table td {
  background-color: #eef;
  padding:.1em .5em .1em .5em;
  }

#body-table tbody th:after {
  content: ":";
  }


/* footer */
#body-table tfoot {
  font-weight: bold;
  }

#body-table tfoot th {
  color: blue;
  }

#body-table tfoot th:after {
  content: ":";
  }

#body-table > tfoot td {
  background-color: #cee;
  }

#body-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
  padding:.1em .5em .5em .5em;
  }

 #condition-table {
  width: 100%;
  margin: 0px auto 0px auto;
/*  font: 100% sans-serif; */
  border-collapse: collapse;
  text-align:left;
  clear:both;
  empty-cells: show;
  }

#condition-table .condition-title{
    width: 20%;
    white-space:nowrap;
}
  
#printhead {
    width: 160px;
    height: 40px;
    background-image: url(logo.png);
}

#printhead > img {
    display: none;
}
