/*-----------------------------------------------------------------------------
 *
 * Back-End Layouts
 *
 *-----------------------------------------------------------------------------
 */

.layout-be {
     width: 800px;
     min-width: 800px;
     max-width: 800px;
     overflow: hidden;
}

/*-----------------------------------------------------------------------------
 *
 * Layout A is for vertical panels with fixed widths toolbar at bottom
 *
 *-----------------------------------------------------------------------------
 */

.layout-be .layout-a .block-flex {

}

.layout-be .layout-a .block-50  {
    /* 50% */
    width: 400px;
    min-width: 400px;
    max-width: 400px;
}

.layout-be .layout-a .block-33  {
    /* 33% */
    width: 264px;
    min-width: 264px;
    max-width: 264px;
}

.layout-be .layout-a .block-66  {
    /* 66% */
    width: 536px;
    min-width: 536px;
    max-width: 536px;
}

.layout-be .layout-a .block-25  {
    /* 25% */
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.layout-be .layout-a .block-75  {
    /* 75% */
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}

.layout-be .layout-a .block-20  {
    /* 20% */
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.layout-be .layout-a .block-80  {
    /* 80% */
    width: 640px;
    min-width: 640px;
    max-width: 640px;
}

.layout-be .layout-a .block-40  {
    /* 40% */
    width: 320px;
    min-width: 320px;
    max-width: 320px;
}

.layout-be .layout-a .block-60  {
    /* 60% */
    width: 480px;
    min-width: 480px;
    max-width: 480px;
}

.layout-be .layout-a .block-30  {
    /* 30% */
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}

/*-----------------------------------------------------------------------------
 *
 * Layout B is for horizontal panels with fixed height
 *
 *-----------------------------------------------------------------------------
 */

.layout-be .layout-b block-flex {

}

.layout-be .layout-b .block-50 {
    /* 50% */
    height: 300px;
    min-height: 300px;
    max-height: 300px;
}

.layout-be .layout-b .block-33 {
    /* 33% */
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}

.layout-be .layout-b .block-66 {
    /* 66% */
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}

.layout-be .layout-b .block-25 {
    /* 25% */
    height: 150px;
    min-height: 150px;
    max-height: 150px;
}

.layout-be .layout-b .block-75 {
    /* 75% */
    height: 450px;
    min-height: 450px;
    max-height: 450px;
}

.layout-be .layout-b .block-20 {
    /* 20% */
    height: 120px;
    min-height: 120px;
    max-height: 120px;
}

.layout-be .layout-b .block-80 {
    /* 80% */
    height: 480px;
    min-height: 480px;
    max-height: 480px;
}
