/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Currency Exchange
 *
 *-----------------------------------------------------------------------------
 */

.custom-content-field-title {
    background: none !important;
    min-height: 8pt !important;
}

.custom-content-field-title label {
    font-size: 8pt !important;
    color: #736357 !important;
}
