/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Products
 *
 *-----------------------------------------------------------------------------
 */

.custom-content-product-image-area {
    background: white;
    padding: 8px;
    margin: 8px;
    -moz-box-pack: center;
    -moz-box-align: center;
}

.custom-content-product-image {
    height: 96px;
    width: 96px;
}

.custom-container-button-color-fontsize-picker {
    margin: 4px 6px 4px 4px;
    background: #f1ede5;
}

.custom-container-button-color-fontsize-picker vbox {
    margin: 5px;
    padding: 5px;
}

.custom-content-color-picker button {
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
}

.custom-content-plusetlist tree {
    font-size: small;
}

.custom-content-plusetlist tree #label {
    text-align: left;
}

.custom-content-plusetlist tree #preset,
.custom-content-plusetlist tree #linkgroup,
.custom-content-plusetlist tree #reduction_label {
    text-align: center;
}

.custom-content-plusetlist tree #quantity,
.custom-content-plusetlist tree #baseprice {
    text-align: right;
}

.custom-content-tabbox {
    margin: 4px;
}

.custom-content-tabbox tab {
    background: white ;
    border:none;
    color: #4f4f51;
    font-size: 15pt;
    padding: 10px 17px;
    -moz-appearance: none;
}

.custom-content-tabbox tab hbox {
    -moz-box-orient: vertical;
    -moz-box-align: center;
}

.custom-content-tabbox tab[selected=true] {
    background-color: #847860;
    background-image: none;
    color: white;
    font-weight: bold;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-user-focus: ignore;
}

.custom-content-tabbox tabpanels {
    background: none;
    border: none;
    -moz-appearance: none;
}

.custom-content-tabbox tabpanel {
    border-top: 1px solid #c1ab8e;
    padding-top: 5px;
}
