/*-----------------------------------------------------------------------------
 *
 * Function Panel
 *
 *-----------------------------------------------------------------------------
 */

.RetailFunctionPnl {
    margin: 25px 0 0 7px;
}

.vivifuncpanelecr_function_panel {
    background: none;
    border-width: 1px;
    margin: 0;
    padding: 0px 0px 0px 0px;
    min-width: 226px;
}

.RetailFunctionPnl .vivifuncpanelecr_function_panel > hbox {
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
}
.RetailFunctionPnl .vivifuncpanelecr_function_panel > hbox > vbox:first-child {
    -moz-box-orient: horizontal;
    min-width: 226px;
    max-height: 40px;
}


.vivifuncpanelecr_spacer {
    min-width: 1px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.fspacer {
    max-width: 2px;
    max-height: 380px;
    min-height: 380px;
}
/*-----------------------------------------------------------------------------
 * Function Panel button panel
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_button_panel {
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.vivifuncpanelecr_button_panel .vivifuncpanelecr_button_panel{
    border-bottom: 1px solid;
    -moz-border-bottom-colors: #fff;
}
/*-----------------------------------------------------------------------------
 * Function Panel mapped buttons
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_matrix_button_mapped {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px;
    color: #3c3c3c;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 0px solid;
    border-bottom: 0px solid;
    -moz-border-top-colors: #fff;
    -moz-border-left-colors: #fff;
    background: transparent url(images/funColor01.png);
}
.vivifuncpanelecr_matrix_button_mapped:hover {
    color: #8b2718 !important;
}

.vivifuncpanelecr_matrix_button_mapped[disabled=true] description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * Function Panel unmapped buttons
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_matrix_button_nomap {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px;
    border-top: 1px solid !important;
    border-left: 1px solid !important;
    border-right: 0px solid;
    border-bottom: 0px solid;
    -moz-border-top-colors: #fff !important;
    -moz-border-left-colors: #fff !important;
}

/*-----------------------------------------------------------------------------
 * Function Panel configure-mode buttons
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_matrix_button_configure {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    border-width: 1px;
    -moz-border-top-colors: #fff;
    -moz-border-left-colors: #fff;
    -moz-border-right-colors: #fff;
    -moz-border-bottom-colors: #fff;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px;
}

.vivifuncpanelecr_matrix_button_configure[checked=true] {
    border-width: 3px;
    -moz-border-top-colors: black ;
    -moz-border-bottom-colors: black ;
    -moz-border-left-colors: black ;
    -moz-border-right-colors: black ;
}

/*-----------------------------------------------------------------------------
 * Function Panel control panel
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_control_panel {
    min-width: 42px;
    max-width: 42px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
    -moz-box-align: center;
}

/*-----------------------------------------------------------------------------
 * Function Panel scrollbar
 *-----------------------------------------------------------------------------
 */

.vivifuncpanelecr_control_scroll_left {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/scrollup.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;  
}

.vivifuncpanelecr_control_scroll_left[disabled=false]:active {
    background-position:-40px 0;
}

.vivifuncpanelecr_control_scroll_right {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/scrolldown.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;   
}
.vivifuncpanelecr_control_scroll_right[disabled=false]:active {
	  background-position:-40px 0;
}

.vivifuncpanelecr_control_home {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    margin: 0px 0 2px 0;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/scrollhome.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px; 
}
.vivifuncpanelecr_control_home[disabled=false]:active {
	  background-position:-40px 0;
}

.vivifuncpanelecr_control_label {
    color: #2e7877;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 10.5pt;
    border-width: 1px;
    background: transparent;
    border-color: transparent;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px; 
}
.vivifuncpanelecr_control_label .button-text{
    margin: 0px;
    padding: 0px;
}

/*-----------------------------------------------------------------------------
 * Function Panel buttons
 *-----------------------------------------------------------------------------
 */

/* button active */

vivifunctionpanelecr vivibutton[disabled=false]:active {
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}

/*-----------------------------------------------------------------------------
 * Function Panel toolbar
 *-----------------------------------------------------------------------------
 */

#toolbar {
    margin: 8px 0 10px 0;
    -moz-box-align: center;
    max-height: 50px;
}

#toolbar vivibutton {
    -moz-user-focus: ignore;
    -moz-appearance: none;
    border: none;
    min-height: 40px;
    min-width: 40px;
    max-width: 50px;
    margin: 0 4px;
}


/* toggle button */

.togglefunctionpanel {
  border: 0px solid;
  max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
  margin: 0px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglefunctionpanel[state=true] {
  border: 0px solid;
  background: transparent url(images/maximize.png) -40px 0 no-repeat !important;
  max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
  margin: 0px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglefunctionpanel[state=true]:active {
	background-position: -40px 0;
}

.togglefunctionpanel[state=false] {
    background: transparent url(images/minimize.png) 0 0 no-repeat;
}

.togglefunctionpanel[state=false]:active {
	background-position: -40px 0;
}

/* clockin/out button */

.clockinout {
    background: transparent url(images/clock.png) center center no-repeat;
    margin: 2px;
    height: 47px;
}

.options {
    background: transparent url(images/option.png) center center no-repeat;
    margin: 2px;
    height: 45px;
}
