/*-----------------------------------------------------------------------------
 *
 * Number Pad
 *
 *-----------------------------------------------------------------------------
 */

#numberpadPanelContainer {
    margin: 0px 0px 2px 0px;
}

/*-----------------------------------------------------------------------------
 * Number Pad function buttons
 *-----------------------------------------------------------------------------
 */

.fixedbtn {
    min-width:92px;
    max-width:92px;
    width: 92px;
    min-height:55px;
    max-height:55px;
    height: 50px;
    margin:  2px 0px 0px 3px;
    padding: 0px;
    list-style-type: none;
    color: #12293f;
    font-weight: bold !important;
    font-size: 15px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    background: transparent url(images/funBtn.png) center center no-repeat;
}

.fixedbtn:active {
    background: transparent url(images/funBtn_a.png) center center no-repeat;
}

.fixedbtn[disabled=true] {
    background: transparent url(images/funBtn_disabled.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * Front End Number Pad numeric keypad
 *-----------------------------------------------------------------------------
 */

.numpad {
	background: none;
	border: none;
	-moz-background-clip: border;
	padding: 27px 10px 10px 5px;
}

.nopad {
    background: transparent url(images/numberpad.png) center center no-repeat;
    max-height: 314px;
    min-height: 314px;
    max-width: 221px;
    min-width: 221px;
    padding: 34px 0 0 6px;
    margin-top: 15px;
}


.fe-numberpad sendkeybutton{
    min-width:70px;
    max-width:70px;
    width: 70px;
    min-height:64px;
    max-height:64px;
    margin: 1px 0px 0px 1px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 34px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: none;
    color: #132c46;
}

.fe-numberpad sendkeybutton:active{
	background: transparent url(images/numberclick.png) center center no-repeat;
}

.fe-numberpad sendkeybutton description {
    display: none;
}
/*-----------------------------------------------------------------------------
 * Number Pad toolbar
 *-----------------------------------------------------------------------------
 */

#toolbar {
    margin-left: 2px;
    margin-right: 2px;
}

/* Number Pad toggle button */

.togglenumpad {
  border: 0px solid;
  background: transparent url(images/maximize.png) 0 0 no-repeat;
  max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
  margin: 0px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglenumpad[state=true] {
  border: 0px solid;
  background: transparent url(images/maximize.png) 0 0 no-repeat;
  max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
  margin: 0px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglenumpad[state=true]:active {
	background-position: -40px 0;
}

.togglenumpad[state=false] {
    background: transparent url(images/minimize.png) 0 0 no-repeat;
}

.togglenumpad[state=false]:active {
	background-position: -40px 0;
}

/* Number Pad clockin/out button */

.clockinout {
    background: transparent url(images/clock.png) center center no-repeat;
    margin: 2px;
}

.options {
    background: transparent url(images/option.png) center center no-repeat;
    margin: 2px;
}
