/*  skin for main screen ------------------------------------------------------------- */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@namespace html url("http://www.w3.org/1999/xhtml");


.mainpanel  {
    width: 1024px;
    height: 768px;
    background: #fff url(images/mainbg.jpg) 0 0 no-repeat;
    border: 0px solid red;
}

.leftPanel {
    width: 504px;
    min-width: 504px;
    max-width: 504px;
    overflow: hidden;
}

.rightPanel {
    width: 520px;
    min-width: 520px;
    max-width: 520px;
    overflow: hidden;
}

.panelSpacer {
    width: 4px;
}

.productPanel {
    border: 0px;
    overflow: hidden;

    margin-right: 0px;
    margin-bottom: 0px;

}

.functionPanel {
    border: 0px;
    overflow: hidden;

    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.roundedContainerBorder {
    border: 3px solid #a1a1a1;
    margin: 4px;
    padding: 4px;
    -moz-border-radius: 6px;
    overflow: hidden;
}

#staticCondimentsPanel vivibutton image {
    display: none;
}

.mainWaitPanel {
    width: 600px;
    height: 180px;
    background: white none center center no-repeat;
    margin: 294px 212px 294px 212px;
}

.mainWaitDialog {
    border: 3px solid #c1ab8e;
    background: white;
    -moz-border-radius: 8px;
    margin: 8px;
    padding: 4px;
}
