/*--------------------------------------------------------------------------
 *
 * PRODUCT COLORS
 *
 *--------------------------------------------------------------------------
 */

.product-button-color-default {
    background: #fff !important;
    color: #433b34 !important;
}
.product-button-color-default[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #999999 #9f9f9f #c3c3c3 #ebebeb !important;
    -moz-border-bottom-colors: #a81600 #fff #fff #fff #fff !important;
    -moz-border-left-colors: #a81600 #acacac #c1c1c1 #dadada #f3f3f3 !important;
    -moz-border-right-colors: #a81600 #fff #fff #fff #dbdee1 !important;
}

.product-button-color-1 {
    background: #fff3a3 !important;
    color: #433b34 !important;
}
.product-button-color-1[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #999262 #9f9866 #c3ba7d #ebe096 !important;
    -moz-border-bottom-colors: #a81600 #fffad6 #fff9cf #fff7c3 #fff3a3 !important;
    -moz-border-left-colors: #a81600 #aca46e #c1b87b #dad08b #f3e89b !important;
    -moz-border-right-colors: #a81600 #fffad6 #fff9cf #fff7c3 #fff3a3 !important;
}

.product-button-color-2 {
    background: #efbdc6 !important;
    color: #7f365f !important;
}
.product-button-color-2[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #8f7177 #95767b #b79197 #dcaeb6 !important;
    -moz-border-bottom-colors: #a81600 #f8e2e6 #f7dde1 #f5d4da #f1c6ce !important;
    -moz-border-left-colors: #a81600 #dcaeb6 #a17f86 #cca2a9 #e4b4bd !important;
    -moz-border-right-colors: #a81600 #f8e2e6 #f7dde1 #f5d4da #f1c6ce !important;
}

.product-button-color-3 {
    background: #53abb8 !important;
    color: #fff !important;
}
.product-button-color-3[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #32676e #346b73 #3f838d #4c9eaa !important;
    -moz-border-bottom-colors: #a81600 #7cbfc9 #7abec8 #72bac5 #60b1bd !important;
    -moz-border-left-colors: #a81600 #38737c #3f818b #47929d #4fa3af !important;
    -moz-border-right-colors: #a81600 #7cbfc9 #7abec8 #72bac5 #60b1bd !important;
}

.product-button-color-4 {
    background: #fec98b !important;
    color: #433b34 !important;
}
.product-button-color-4[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #987953 #9e7d57 #c29a6a #eab980 !important;
    -moz-border-bottom-colors: #a81600 #ffe7cc #fee3c3 #fedcb3 #fed09a !important;
    -moz-border-left-colors: #a81600 #ab885e #c09869 #d9ac77 #f2c084 !important;
    -moz-border-right-colors: #a81600 #ffe7cc #fee3c3 #fedcb3 #fed09a !important;
}

.product-button-color-5 {
    background: #8c7d84 !important;
    color: #fff !important;
}
.product-button-color-5[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #544b4f #574e52 #6b6065 #81737a !important;
    -moz-border-bottom-colors: #a81600 #ccc5c8 #c3bcbf #b4aaae #9b8e94 !important;
    -moz-border-left-colors: #a81600 #5e5459 #6a5f64 #786b71 #85777e !important;
    -moz-border-right-colors: #a81600 #ccc5c8 #c3bcbf #b4aaae #9b8e94 !important;
}

.product-button-color-6 {
    background: #95704b !important;
    color: #fff !important;
}
.product-button-color-6[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #59432d #5d462f #725639 #896745 !important;
    -moz-border-bottom-colors: #a81600 #d0c0af #c8b5a2 #baa189 #a38363 !important;
    -moz-border-left-colors: #a81600 #654c33 #715539 #7f6040 #8e6b47 !important;
    -moz-border-right-colors: #a81600 #d0c0af #c8b5a2 #baa189 #a38363 !important;
}

.product-button-color-7 {
    background: #bce2dd !important;
    color: #004f48 !important;
}
.product-button-color-7[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #718885 #758d8a #90ada9 #add0cc !important;
    -moz-border-bottom-colors: #a81600 #e1f2f0 #dcf0ed #d3ece9 #c5e6e2 !important;
    -moz-border-left-colors: #a81600 #7f9895 #8eaba7 #a1c1bd #b3d7d3  !important;
    -moz-border-right-colors: #a81600 #e1f2f0 #dcf0ed #d3ece9 #c5e6e2 !important;
}

.product-button-color-8 {
    background: #d7e797 !important;
    color: #304c10 !important;
 }
 .product-button-color-8[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #818b5b #86905e #a4b173 #c6d58b !important;
    -moz-border-bottom-colors: #a81600 #edf4d1 #eaf3c9 #e5efbb #dceaa5 !important;
    -moz-border-left-colors: #a81600 #919c66 #a3af72 #b8c581 #cddc90 !important;
    -moz-border-right-colors: #a81600 #edf4d1 #eaf3c9 #e5efbb #dceaa5 !important;
}

.product-button-color-9 {
    background: #d1d4ef !important;
    color: #31323a !important;
}
 .product-button-color-9[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #7d7f8f #828495 #a0a2b7 #c1c3dc !important;
    -moz-border-bottom-colors: #a81600 #ebecf8 #e7e9f7 #e1e3f5 #d7daf1 !important;
    -moz-border-left-colors: #a81600 #8d8fa1 #9ea0b5 #b3b5cc #c7cae4 !important;
    -moz-border-right-colors: #a81600 #ebecf8 #e7e9f7 #e1e3f5 #d7daf1 !important;
}


.product-button-color-10 {
    background: #9c992f !important;
    color: #fff !important;
}
 .product-button-color-10[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #5e5c1c #615f1d #777524 #908d2b !important;
    -moz-border-bottom-colors: #a81600 #d3d2a3 #ccca93 #bebc77 #a9a74b !important;
    -moz-border-left-colors: #a81600 #696720 #767424 #858328 #95922d !important;
    -moz-border-right-colors: #a81600 #d3d2a3 #ccca93 #bebc77 #a9a74b !important;
}


.product-button-color-11 {
    background: #cc4b4d !important;
    color: #fff !important;
}
.product-button-color-11[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #a81600 #7a2d2e #7f2f30 #9c393b #bc4547 !important;
    -moz-border-bottom-colors: #a81600 #e4bbbc #dfafb0 #d79a9b #ca7a7b !important;
    -moz-border-left-colors: #a81600 #a81600 #8a3334 #9a393a #ba6163 !important;
    -moz-border-right-colors: #a81600 #e4bbbc #dfafb0 #d79a9b #c24749 !important;
}


.product-button-color-default[selected], .product-button-color-1[selected],
.product-button-color-2[selected], .product-button-color-3[selected],
.product-button-color-4[selected], .product-button-color-5[selected],
.product-button-color-6[selected], .product-button-color-7[selected],
.product-button-color-8[selected], .product-button-color-9[selected],
.product-button-color-10[selected], .product-button-color-11[selected] {
    list-style-image: none;
    background-position: 0 -100px !important;
}

button_colorpicker .product-button-color-default[selected],.product-button-color-1[selected],
.product-button-color-2[selected], .product-button-color-3[selected],
.product-button-color-4[selected], .product-button-color-5[selected],
.product-button-color-6[selected], .product-button-color-7[selected],
.product-button-color-8[selected], .product-button-color-9[selected],
.product-button-color-10[selected], .product-button-color-11[selected] {
    list-style-image: url(chrome://viviecr/skin/images/con_sel.png);
}

.product-button {
    min-height:50px;
    min-width: 50px;
    border: 1px solid;
    -moz-appearance: none;
    margin: 2px 2px 2px 2px;
    padding: 0px;

    -moz-box-pack: center;
    -moz-user-focus: ignore;

    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
}
.product-button hbox{
    -moz-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-button[disabled] {
    background-color: #efede9;
}
