/*--------------------------------------------------------------------------
 *
 * DEPARTMENT PANEL
 *
 *--------------------------------------------------------------------------
 */

.catescrollablepanel{
    background: transparent url(images/departbg.png) 1px top repeat-y;
    margin: 0px;
    padding: 3px;
}
.catescrollablepanel > hbox {
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
}

.catescrollablepanel .catescrollablepanel{
    border: none;
    -moz-appearance: none;
    background: none;
}

.catescrollablepanel .scrollablepanel-scrollbar{
    -moz-box-orient: horizontal;
}
.categoryPanel {
    margin: 10px 1px 0 3px;
}

.DepartTop {
    background: transparent url(images/departTop.png) 0 0 no-repeat;
    min-height: 25px;
    max-height: 25px;
    min-width: 185px;
    max-width: 185px;
}
.DepartBottom {
    background: transparent url(images/departBottom.png) 1px 0 no-repeat;
    min-height: 70px;
    max-height: 70px;
    min-width: 185px;
    max-width: 185px;
}

/*--------------------------------------------------------------------------
 * SCROLLBAR
 *--------------------------------------------------------------------------
 */

.depart_scroll_up {
    max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 2px 0px 0px 0px;
    padding: 0px;
    background: transparent url(images/scrollup.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}

.depart_scroll_up[disabled=false]:active {
	  background-position: -40px 0;
}

.depart_scroll_up label {
	  display: none;
}

.depart_scroll_up description {
	  display: none;
}

.depart_scroll_down {
    max-height: 40px;
    min-height: 40px;
    max-width: 40px;
    min-width: 40px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
    background: transparent url(images/scrolldown.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}

.depart_scroll_down[disabled=false]:active {
	  background-position: -40px 0;
}

.depart_scroll_down label {
	display: none;
}

.depart_scroll_down description {
	display: none;
}

/*--------------------------------------------------------------------------
 *
 * PLU PANEL
 *
 *--------------------------------------------------------------------------
 */
.prodscrollablepanel {
	-moz-appearance: none;
	-moz-background-clip: border;
	margin: 1px 2px 30px 2px;
	background: none;
	padding: 0px 0 0 2px;
    -moz-box-orient: horizontal;
}

.prodscrollablepanel > hbox {
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
}

.prodscrollablepanel vivibuttonpanel {
	margin: 4px 4px 0px 0px;
}

/*--------------------------------------------------------------------------
 * SCROLLBAR
 *--------------------------------------------------------------------------
 */

.prodscrollablepanel .scrollablepanel-scrollbar {
	margin: 2px 0 2px 2px;
    -moz-box-orient: horizontal;
}

.prodscrollablepanel image {
	width: 32px;
	height: 32px;
}
