#selectSetItemPanel #plusetscrollablepanel {
    min-width: 300px;
    max-width: 300px;
    width: 300px;
}

.SubTitle {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.pluset-button {
    min-height:50px;
    min-width: 50px;
    border: 1px solid;
    -moz-appearance: none;
    margin: 2px 2px 2px 2px;
    padding: 0px;

    -moz-box-pack: center;
    -moz-user-focus: ignore;

    -moz-border-top-colors: #red;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;

    list-style-image: none;
}

.pluset-button[selected] {
    border-width: 5px !important;
    -moz-border-top-colors: #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: #dde0e3 #e0e2e5 #dee0e4 #dbdee1 !important;
}

.pluset-button image {
    display: none;
}