/*-----------------------------------------------------------------------------
 *
 * Main Screen Input line
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .main-input-line {
    background: transparent;
    border: 0px;
    color: white;
    font-family: monospace;
    font-size: 18px !important;
    font-weight: bold !important;
    padding: 0px 0px;
    margin: 2px 5px 2px 5px;
    -moz-appearance: none;
}
