/*-----------------------------------------------------------------------------
 *
 * Main Screen VFD
 *
 *-----------------------------------------------------------------------------
 */

.main-overlay .vfd-pad {
}

.main-overlay .vfd-vbox {
}

.main-overlay .vfd-vbox textbox {
    background-color: transparent;
    border: 0px !important;
    color: #FFF;
    font-family: monospace;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-user-select: none;
    -moz-user-input: none;
}

.main-overlay .vfd-vbox .messageRowClass {
    border-top: 1px solid #141C7D;
    padding: 2px 5px;
    -moz-appearance: none;
}

.main-overlay .vfd-vbox .messageLabelClass {
    display: none;
}

.main-overlay .vfd-vbox .messageValueClass {
    color: yellow;
    font-size: 14pt;
    font-weight: bold !important;
}

.main-overlay .vfd-vbox .summaryRowClass {
    border-top: 1px solid #141C7D;
    padding: 12px 5px;
    -moz-appearance: none;
}

.main-overlay .vfd-vbox .smallLabelClass {
    font-size: 12pt;
}

.main-overlay .vfd-vbox .smallValueClass {
    font-size: 12pt;
    text-align: right;
}

.main-overlay .vfd-vbox .totalClass {
    margin-left: 25px;
}

.main-overlay .vfd-vbox .totalLabelClass {
    font-size: 20pt;
    font-weight: bold !important;
}

.main-overlay .vfd-vbox .totalValueClass {
    color: red;
    font-size: 22pt;
    font-weight: bold !important;
    text-align: right;
}

.main-overlay .vfd-pad-training {
    background-color: #604020;
}

.main-overlay .vfd-pad-training textbox {
    color: black !important;
}
