/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Devices
 *
 *-----------------------------------------------------------------------------
 */

.custom-content-device {
    background: #f0efe8;
    padding: 8px;
    -moz-border-radius: 8px;
}

.custom-content-device-details {
    background-color: white !important;
}

.custom-content-device-details .data-form {
    background-color: white !important;
}

.custom-content-device-block {
    max-width: 470px;
    min-width: 470px;
    width: 470px;
}