.wag
{
  max-width:800px;
  min-width:800px;
  max-height:600px;
  min-height:600px;  
  width:800px;
  height:600px;
  background:url(../images/backends_bg.jpg) no-repeat;
  
}

.menubtn {
  margin-left:200px;
  margin-top:110px;
  }

.menubtn vbox
{
  max-width:135px;
  min-width:135px;
  width:135px;
  }

.menubtn hbox
{
  max-height:115px;
  min-height:115px;
  height:115px;
  -moz-box-orient: vertical;
  }
.menubtn button
{
    
    min-width:123px;
    max-width:123px;
    min-height:110px;
    max-height:110px;
    height: 110px;
    width: 123px;
    margin: 4px 3px 3px 2px;
    padding: 0px;
    color: black;
    font-size: 10pt;
    overflow: hidden;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: none;
    border:none;
    -moz-background-clip: border;
}
.menubtn button:hover {
	cursor: pointer;
}
.menubtn image{
	width: 87px;
	height: 73px;
}
.menubtn description{
	padding: 5px 0 0 0;
	width: 87px;
	height: 25px;
}

.setting_btn{
    margin-left:55px;
    margin-top:80px;
}

.setting_btn button
{
    min-width:53px;
    max-width:53px;
    min-height:53px;
    max-height:53px;
    height: 53px;
    width: 53px;
    padding: 0;
    overflow: hidden;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: transparent url(../images/backends_advSetting.png) bottom left no-repeat;
    border: none;
    -moz-background-clip: border;
}
.setting_btn button:hover {
	cursor: pointer;
}

.versionInfo
{
  color: #041e15;
  font-size:7pt;
  margin-left:165px;
  margin-top:75px;
}

.exitbtn
{
  margin-left:385px;
  margin-top:80px;
}

.exitbtn button
{
    min-width:54px;
    max-width:54px;
    min-height:46px;
    max-height:46px;
    height: 46px;
    width: 54px;
    padding: 0;
    overflow: hidden;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: transparent url(../images/backends_exit.png) bottom left no-repeat;
    border: none;
    -moz-background-clip: border;
}
.exitbtn button:hover {
	cursor: pointer;
}