/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Condiments
 *
 *-----------------------------------------------------------------------------
 */

.custom-layout-condiment-panel {
    min-width: 270px;
}

.custom-container-button-color-fontsize-picker {
    margin: 0px 8px 0px 4px;
    background: #f1ede5;
}

.custom-container-button-color-fontsize-picker vbox {
    margin: 3px;
    padding: 3px;
}

.custom-content-color-picker button {
    max-width: 55px;
    max-height: 55px;
    min-width: 55px;
    min-height: 55px;
}

.preset-condiment description {
    font-style: italic;
}

.not-preset-condiment {
}
