/*-----------------------------------------------------------------------------
 *
 * Back-End Content Styles
 *
 *-----------------------------------------------------------------------------
 */

/*-----------------------------------------------------------------------------
 * Standard text box
 *-----------------------------------------------------------------------------
 */

.container-main textbox {
  background: white url(images/tboxbg.png) left center repeat-x;
  border: 3px solid;
  color: #444;
  font-size: 18px;
  min-height: 32px;
  padding: 2px 2px;
  -moz-appearance: none;
  -moz-border-top-colors: #a7a7a7 #c5c5c5 #dcdcdc;
  -moz-border-right-colors: #e7e7e7 #f7f7f7 #fefefe;
  -moz-border-bottom-colors: #e7e7e7 #f7f7f7 #fefefe;
  -moz-border-left-colors: #a7a7a7 #c5c5c5 #dcdcdc;
}

.container-main textbox[readonly=true] {
  background: white url(images/tboxbg_readonly.png) left center repeat-x;
  border: 1px solid #bdbcb8;
}

/*-----------------------------------------------------------------------------
 * Standard number text box
 *-----------------------------------------------------------------------------
 */

.container-main .numberbox-input-box {
    background: none;
    border: none;
    padding-right: 5px;
    -moz-appearance: none;
}

/*-----------------------------------------------------------------------------
 * Button panel
 *-----------------------------------------------------------------------------
 */

.content-buttonpanel {
  background: #f2f1eb;
  -moz-border-radius: 8px;
  padding: 5px;
  margin: 5px;
}

/*-----------------------------------------------------------------------------
 * Scroll up button for button panel
 *-----------------------------------------------------------------------------
 */

.scroll-up-button {
    background: transparent url(../images/optionsUp.png) 0 0 no-repeat;
    border: 0px;
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.scroll-up-button[disabled=false]:active {
    background-position:-32px 0;
}

.scroll-up-button description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * Scroll up button for button panel
 *-----------------------------------------------------------------------------
 */

.scroll-down-button {
    border: 0px;
    background: transparent url(../images/optionsDown.png) 0 0 no-repeat;
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.scroll-down-button[disabled=false]:active {
    background-position:-32px 0;
}

.scroll-down-button description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * Data forms
 *-----------------------------------------------------------------------------
 */

.data-form {
	border-right: 2px solid white;
	background: #f0efe8;
    margin: 4px;
}

.data-form row {
	border-bottom: 2px solid white;
    height: 40px;
    -moz-box-align: center;
}

.data-form column {
	border-right: 2px solid white;
	padding: 6px;
}

.data-form label {
    font-size: 10pt;
    color: #372213;
}

.data-form-2 {
	border-right: 2px solid white;
	background: #f0efe8;
    margin: 4px;
}

.data-form-2 row {
	border-bottom: 2px solid white;
    height: 40px;
}

.data-form-2 column {
	border-right: 2px solid white;
	padding: 6px;
}

.data-form-2 label {
    font-size: 10pt;
    color: #372213;
}

/*-----------------------------------------------------------------------------
 * Tool bar
 *-----------------------------------------------------------------------------
 */

.toolbar {
    background: #e8d1b1;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    margin: 0px 2px 2px 2px;
    padding: 5px 5px;
    -moz-border-radius: 8px;
}

.toolbar button,
.toolbar vivibutton {
    background-color: white ;
    background-image: none;
    border: 1px solid;
    color: #4d4234;
    font-size: 12pt;
    margin: 0px 5px;
    min-height: 40px;
    min-width: 80px;
    padding: 0 8px;
    -moz-appearance: none;
    -moz-border-top-colors: #918570;
    -moz-border-left-colors: #918570;
    -moz-border-right-colors: #918570;
    -moz-border-bottom-colors: #918570;
    -moz-border-radius: 6px;
}

.toolbar button:active,
.toolbar vivibutton:active {
    border: 2px solid;
    -moz-border-top-colors: gray black;
    -moz-border-left-colors: gray black;
    -moz-border-right-colors: gray #918570;
    -moz-border-bottom-colors: gray #918570;
}

.toolbar button[disabled=true],
.toolbar vivibutton[disabled=true] {
    background-color: #fff6e8 ;
    border-width: 0px !important
}

.toolbar button[disabled=false]:hover, .toolbar vivibutton[disabled=false]:hover {
    color: #148c9c;
    text-decoration: underline;
    -moz-appearance: none;
}

/*-----------------------------------------------------------------------------
 * Exit bar
 *-----------------------------------------------------------------------------
 */

.exitbar {
  background: #eee3d6;
  height: 60px;
  margin: 0px 0px 2px 2px;
  max-height: 60px;
  min-height: 60px;
  padding: 5px 8px;
  -moz-border-radius: 8px;
  -moz-box-align: center;
  -moz-box-pack: end;
}
.exitbar button {
  background: none;
  border: none;
  height: 50px;
  max-height: 50px;
  max-width: 60px;
  min-height: 50px;
  min-width: 60px;
  width: 60px;
  -moz-appearance: none;
}

/*-----------------------------------------------------------------------------
 * Drop-down List
 *-----------------------------------------------------------------------------
 */

menulist {
    -moz-appearance: none;
    border: 3px solid;
    -moz-border-top-colors: #f0efe8 #eeede8 #e2e1dc;
    -moz-border-right-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-bottom-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-left-colors: #f0efe8 #eeede8 #e2e1dc;
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    min-height: 38px;
    text-align: right;
    list-style-image: url(../images/dropdown.png);
}

menulist hbox {
    -moz-box-direction: reverse;
}

menulist hbox label {
    -moz-appearance: none;
    background: none;
    border-right: 1px solid ;
    -moz-border-right-colors: #a1a1ba;
    padding: 0 5px;
}

.popup-internal-box {
    -moz-appearance: none;
    background: white;
    border: 1px solid #666;
}

/*-----------------------------------------------------------------------------
 * Wait panel
 *-----------------------------------------------------------------------------
 */

.wait-panel {
  background: white;
  border: 3px solid #c1ab8e;
  padding: 30px;
  -moz-border-radius: 8px;
}

/*-----------------------------------------------------------------------------
 * number pad
 *-----------------------------------------------------------------------------
 */

.numpad row, .numpad column {
    border: 0px;
    padding: 0px;
}

.numpad sendkeybutton{
    min-width:77px;
    max-width:77px;
    width: 77px;
    height: 42px;
    margin: 2px 0px 0px 3px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: transparent url(images/m_numbtn.png) center center no-repeat;
    color: #47657d;
}

.numpad sendkeybutton:active{
	background: transparent url(images/m_numbtn_a.png) center center no-repeat;
}
