/*-----------------------------------------------------------------------------
 *
 * Back-End Content Styles
 *
 *-----------------------------------------------------------------------------
 */

/*-----------------------------------------------------------------------------
 * Standard text boxes
 *-----------------------------------------------------------------------------
 */

.container-be textbox {
    background: white url(../images/tboxbg.png) left center repeat-x;
    border: 3px solid;
    color: #444;
    font-size: 18px;
    min-height: 32px;
    padding: 2px;
    -moz-appearance: none;
    -moz-border-top-colors: #a7a7a7 #c5c5c5 #dcdcdc;
    -moz-border-right-colors: #e7e7e7 #f7f7f7 #fefefe;
    -moz-border-bottom-colors: #e7e7e7 #f7f7f7 #fefefe;
    -moz-border-left-colors: #a7a7a7 #c5c5c5 #dcdcdc;
}

.container-be textbox[readonly=true] {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 1px solid #bdbcb8 !important;
    -moz-user-focus: ignore;
    -moz-user-input: none;
}

/*-----------------------------------------------------------------------------
 * Standard number text box
 *-----------------------------------------------------------------------------
 */

.container-be .numberbox-input-box {
    background: none;
    border: none;
    padding-right: 5px;
    -moz-appearance: none;
}

/*-----------------------------------------------------------------------------
 * Button panel
 *-----------------------------------------------------------------------------
 */

.container-be .content-buttonpanel {
    background: #f2f1eb;
    margin: 5px;
    padding: 5px;
    -moz-border-radius: 8px;
}

.container-be .content-buttonpanel vivibutton {
    margin: 2px;
}

.container-be .content-buttonpanel checkbox {
    margin: 6px;
}

/*-----------------------------------------------------------------------------
 * List box
 *-----------------------------------------------------------------------------
 */

.container-be .content-listbox {
    background: #f2f1eb;
    -moz-border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

/*-----------------------------------------------------------------------------
 * Form box
 *-----------------------------------------------------------------------------
 */

.container-be .content-formbox {
    background: #f2f1eb;
    padding: 5px;
    margin: 5px;
}

.container-be .content-formbox label {
    font-size: 10pt;
    color: #372213;
}

/*-----------------------------------------------------------------------------
 * Option box
 *-----------------------------------------------------------------------------
 */

.container-be .content-optionbox {
    border: 1px solid #a98f6e;
    margin: 5px;
    padding: 5px;
}

/*-----------------------------------------------------------------------------
 * General box
 *-----------------------------------------------------------------------------
 */

.container-be .content-box {
    background: #f2f1eb;
    -moz-border-radius: 8px;
    padding: 5px;
    margin: 5px;
}

/*-----------------------------------------------------------------------------
 * Data forms
 *-----------------------------------------------------------------------------
 */

.container-be .data-form {
    border-right: 2px solid white;
    background: #f0efe8;
    margin: 4px;
}

.container-be .data-form > rows > row {
    border-bottom: 2px solid white;
    min-height: 44px;
    padding: 2px 0px 4px 0px;
    -moz-box-align: center;
}

.container-be .data-form > columns > column {
    border-right: 2px solid white;
    padding: 6px;
}

.container-be .data-form label {
    font-size: 10pt;
    color: #372213;
}

.container-be .data-form button label {
    font-size: inherit;
}

.container-be .data-form-2 {
    border-right: 2px solid white;
    background: #f0efe8;
    margin: 4px;
}

.container-be .data-form-2 > rows > row {
    border-bottom: 2px solid white;
    min-height: 40px;
    padding: 2px 0px 4px 0px;
}

.container-be .data-form-2 > columns > column {
    border-right: 2px solid white;
    padding: 6px;
}

.container-be .data-form-2 label {
    font-size: 10pt;
    color: #372213;
}

.container-be .data-form-2 button label {
    font-size: inherit;
}

.container-be .data-form-options {
    margin: 0px !important;
    padding: 0px !important;
}

/*-----------------------------------------------------------------------------
 * Scroll up button for button panel
 *-----------------------------------------------------------------------------
 */

.container-be .scroll-up-button {
    background: transparent url(../images/optionsUp.png) 0 0 no-repeat;
    border: 0px;
    margin: 0px;
    max-height: 32px;
    max-width: 32px;
    min-height: 32px;
    min-width: 32px;
    padding: 0px 0px 0px 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.container-be .scroll-up-button[disabled=false]:active {
    background-position:-32px 0;
}

.container-be .scroll-up-button[disabled=true] {
    background-position:-64px 0;
}

.container-be .scroll-up-button description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * Back-end department buttons
 *-----------------------------------------------------------------------------
 */

.container-be .button-department {
    min-height:40px;
    min-width: 40px;
    padding: 0px;

    -moz-appearance: none;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
}

.container-be .button-department[disabled=true] {
    background: #e1dfdb;
    border: none;
}

.container-be .button-department hbox {
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
}

.container-be .button-department description {
    text-wrap: normal;
    word-wrap: break-word;
}

/*-----------------------------------------------------------------------------
 * Back-end product group buttons
 *-----------------------------------------------------------------------------
 */

.container-be .button-plugroup {
    min-height:40px;
    min-width: 40px;
    padding: 0px;

    -moz-appearance: none;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
}

.container-be .button-plugroup[disabled=true] {
    background: #e1dfdb;
    border: none;
}

.container-be .button-plugroup hbox {
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
}

.container-be .button-plugroup description {
    text-wrap: normal;
    word-wrap: break-word;
}

/*-----------------------------------------------------------------------------
 * Back-end condiment buttons
 *-----------------------------------------------------------------------------
 */

.container-be .button-condiment {
    min-height:40px;
    min-width: 40px;
    padding: 0px;

    -moz-appearance: none;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
}

.container-be .button-condiment[disabled=true] {
    border: none;
    background: #e1dfdb;
}

.container-be .button-condiment hbox {
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
}

.container-be .button-condiment description {
    text-wrap: normal;
    word-wrap: break-word;
}

/*-----------------------------------------------------------------------------
 * Back-end PLU buttons
 *-----------------------------------------------------------------------------
 */

.container-be .button-plu {
    min-height:40px;
    min-width: 40px;
    padding: 0px;

    -moz-appearance: none;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
}

.container-be .button-plu[disabled=true] {
    border: none;
    background: #e1dfdb;
}

.container-be .button-plu hbox {
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-orient: vertical;
}

.container-be .button-plu description {
    text-wrap: normal;
    word-wrap: break-word;
}

/*-----------------------------------------------------------------------------
 * Scroll up button for button panel
 *-----------------------------------------------------------------------------
 */

.container-be .scroll-down-button {
    border: 0px;
    background: transparent url(../images/optionsDown.png) 0 0 no-repeat;
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}

.container-be .scroll-down-button[disabled=false]:active {
    background-position:-32px 0;
}

.container-be .scroll-down-button[disabled=true] {
    background-position:-64px 0;
}

.container-be .scroll-down-button description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * Tool bar
 *-----------------------------------------------------------------------------
 */

.container-be .toolbar[toolbarmode=horizontal] {
    background: #e8d1b1;
    height: 60px;
    margin: 2px;
    max-height: 60px;
    min-height: 60px;
    padding: 5px;
    -moz-border-radius: 8px;
}

.container-be .toolbar[toolbarmode=vertical] {
    background: #e8d1b1;
    margin: 2px;
    padding: 5px;
    -moz-border-radius: 8px;
}

.container-be .toolbar button,
.container-be .toolbar vivibutton {
    background-color: white ;
    background-image: none;
    border: 2px solid;
    color: #4d4234;
    font-size: 12pt;
    margin: 5px;
    min-height: 40px;
    min-width: 75px;
    padding: 8px;
    -moz-appearance: none;
    -moz-border-top-colors: #918570 white;
    -moz-border-left-colors: #918570 white;
    -moz-border-right-colors: #918570 white;
    -moz-border-bottom-colors: #918570 white;
    -moz-border-radius: 6px;
}

.container-be .toolbar button:active,
.container-be .toolbar vivibutton:active {
    -moz-border-top-colors: gray black;
    -moz-border-left-colors: gray black;
    -moz-border-right-colors: gray #918570;
    -moz-border-bottom-colors: gray #918570;
}

.container-be .toolbar button[disabled=true],
.container-be .toolbar vivibutton[disabled=true] {
    background-color: #fff6e8 ;
    border-width: 0px !important
}

/*-----------------------------------------------------------------------------
 * Exit bar
 *-----------------------------------------------------------------------------
 */

.container-be .exitbar {
    background: #eee3d6;
    height: 60px;
    margin: 2px;
    max-height: 60px;
    min-height: 60px;
    padding: 5px;
    -moz-border-radius: 8px;
    -moz-box-align: center;
    -moz-box-pack: end;
}

.container-be .exitbar button {
    background: none;
    border: none;
    height: 50px;
    max-height: 50px;
    max-width: 60px;
    min-height: 50px;
    min-width: 60px;
    width: 60px;
    -moz-appearance: none;
}

/*-----------------------------------------------------------------------------
 * Tabbox
 *-----------------------------------------------------------------------------
 */

.container-be .content-tabbox {
    margin: 4px;
}

.container-be .content-tabbox-no-tabs-right .tabs-right {
    display: none;
}

.container-be .content-tabbox tab {
    background: white url(../images/sep.png) center right no-repeat;
    border:none;
    color: #393939;
    margin-bottom: 5px;
    padding: 15px 8px;
    -moz-appearance: none;
}

.container-be .content-tabbox tab[selected=true] {
    background-color: #847860;
    background-image: none;
    color: white;
    font-weight: bold;
    -moz-user-focus: ignore;
}

.container-be .content-tabbox > tabs > tab label,
.container-be windowdragbox radio label,
.container-be .content-tabbox > arrowscrollbox label {
    font-size: 12px;
    font-weight: bold;
}

.container-be .content-tabbox tabpanels {
    background: none;
    border: none;
    -moz-appearance: none;
}

.container-be .content-tabbox tabpanel {
    border-top: 1px solid #c1ab8e;
    padding-top: 5px;
}

/*-----------------------------------------------------------------------------
 * Arrow scrollbox
 *-----------------------------------------------------------------------------
 */

.container-be .content-arrow-scrollbox .autorepeatbutton-up {
    width: 40px;
}

.container-be .content-arrow-scrollbox .autorepeatbutton-down {
    width: 40px;
}

/*-----------------------------------------------------------------------------
 * Drop-down List
 *-----------------------------------------------------------------------------
 */

.container-be menulist {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid;
    list-style-image: url(../images/dropdown.png);
    min-height: 38px;
    text-align: right;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #eeede8 #e2e1dc;
    -moz-border-right-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-bottom-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-left-colors: #f0efe8 #eeede8 #e2e1dc;
}

.container-be menulist hbox {
    -moz-box-direction: reverse;
}

.container-be menulist hbox label {
    background: none;
    border-right: 1px solid ;
    padding: 0 5px;
    -moz-appearance: none;
    -moz-border-right-colors: #a1a1ba;
}

.container-be .popup-internal-box {
    background: white;
    border: 1px solid #666;
    -moz-appearance: none;
}

.container-be menuitem {
    min-height: 32px;
    text-align: right;
}

.container-be menuitem[selected] {
    background-color: #7e7259;
    color: white;
    -moz-appearance: none;
}

.container-be .menulist-editable-box{
    font-size: 18px;
    padding: 10px;
    -moz-appearance: none;
}

.container-be spinbuttons {
    background: none;
    border: none;
    -moz-appearance: none;
}

.container-be .spinbuttons-box{
    margin-left: 3px;
	-moz-box-orient: horizontal;
}

.container-be .spinbuttons-button{
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 2px solid ;
    cursor: pointer;
    min-width: 32px;
    -moz-appearance: none;
    -moz-border-top-colors: #b6b6b6 #fff;
    -moz-border-right-colors: #b6b6b6 #fff;
    -moz-border-bottom-colors: #b6b6b6 #fff;
    -moz-border-left-colors: #b6b6b6 #fff;
}

.container-be .spinbuttons-button[disabled=true] {
    background: #ddd;
    -moz-border-top-colors: #bababa #bababa !important;
    -moz-border-right-colors: #bababa #bababa !important;
    -moz-border-bottom-colors: #bababa #bababa !important;
    -moz-border-left-colors: #bababa #bababa !important;
}

.container-be .spinbuttons-button:active {
    -moz-border-top-colors: #00a99d #00a99d;
    -moz-border-right-colors: #00a99d #00a99d;
    -moz-border-bottom-colors: #00a99d #00a99d;
    -moz-border-left-colors: #00a99d #00a99d;
}

.container-be .spinbuttons-button hbox{
    -moz-box-pack: center;
}

.container-be .spinbuttons-button label{
    display: none;
}

.container-be .spinbuttons-button image {
    margin-left: -10px;
}

.container-be .spinbuttons-up {
    list-style-image: url(../images/spinup.png);
}

.container-be .spinbuttons-down{
	list-style-image: url(../images/spindown.png);
}

/*-----------------------------------------------------------------------------
 * Number pad for use with vivitextbox
 *-----------------------------------------------------------------------------
 */

.container-be .numpad row,
.container-be .numpad column {
    border: 0px;
    padding: 0px;
}

.container-be .numpad sendkeybutton{
    background: transparent url(../images/m_numbtn.png) center center no-repeat;
    border: 0px solid;
    color: #47657d;
    font-size: 30px;
    font-weight: bold !important;
    height: 42px;
    list-style-type: none;
    margin: 2px 0px 0px 3px;
    max-width:77px;
    min-width:77px;
    overflow: hidden;
    padding: 0px;
    width: 77px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
}

.container-be .numpad sendkeybutton:active{
	background: transparent url(../images/m_numbtn_a.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * Spin buttons
 *-----------------------------------------------------------------------------
 */

.container-be spinbuttons {
    background: none;
    border: none;
    -moz-appearance: none;
}

.container-be .spinbuttons-box {
    margin-left: 3px;
	-moz-box-orient: horizontal;
}

.container-be .spinbuttons-button {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 2px solid ;
    cursor: pointer;
    min-width: 32px;
    -moz-appearance: none;
    -moz-border-top-colors: #b6b6b6 #fff;
    -moz-border-right-colors: #b6b6b6 #fff;
    -moz-border-bottom-colors: #b6b6b6 #fff;
    -moz-border-left-colors: #b6b6b6 #fff;
}

.container-be .spinbuttons-button[disabled=true] {
    background: #ddd;
    -moz-appearance: none;
    -moz-border-top-colors: #bababa #bababa !important;
    -moz-border-right-colors: #bababa #bababa !important;
    -moz-border-bottom-colors: #bababa #bababa !important;
    -moz-border-left-colors: #bababa #bababa !important;
}

.container-be .spinbuttons-button:active {
    border: 2px solid ;
    -moz-border-top-colors: #00a99d #00a99d;
    -moz-border-right-colors: #00a99d #00a99d;
    -moz-border-bottom-colors: #00a99d #00a99d;
    -moz-border-left-colors: #00a99d #00a99d;
}

.container-be .spinbuttons-button hbox {
  -moz-box-pack: center;
}

.container-be .spinbuttons-button label {
    display: none;
}

.container-be .spinbuttons-button image {
    margin-left: -10px;
}

.container-be .spinbuttons-up {
    list-style-image: url(../images/spinup.png);
}

.container-be .spinbuttons-down {
	list-style-image: url(../images/spindown.png);
}

