/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Report Panel
 *
 *-----------------------------------------------------------------------------
 */

.custom-button-report {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid;
    color: #372213;
    font-size: 11pt;
    min-height: 36px;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-radius: 8px;
}

.custom-button-report[disabled=true] {
    background: #ececec;
    border: none;
    -moz-appearance: none;
}

.custom-button-report[disabled=false]:active {
    border: 2px solid;
    color: #603913 !important;
    -moz-appearance: none;
    -moz-border-top-colors: #ee9400 #ee9400 !important;
    -moz-border-right-colors: #ee9400 #ee9400 !important;
    -moz-border-bottom-colors: #ee9400 #ee9400 !important;
    -moz-border-left-colors: #ee9400 #ee9400 !important;
}

.custom-button-report hbox {
    -moz-box-orient: vertical;
}

.custom-content-loading-panel {
    border: 10px solid;
    background: white;
    height:160px;
    margin-left: 175px;
    margin-top: 200px;
    width:450px;
    -moz-box-align: center;
    -moz-border-top-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-left-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-right-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-bottom-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-radius: 8px;
}

.custom-content-loading-panel label {
    color: #534741;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 5px;
}
