/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for General Options
 *
 *-----------------------------------------------------------------------------
 */

.prefWindow-dlgbuttons {
    background: #eee3d6;
    height: 60px;
    margin: 2px;
    max-height: 60px;
    min-height: 60px;
    padding: 5px;
    -moz-border-radius: 8px;
    -moz-box-align: center;
    -moz-box-pack: end;
}

.prefWindow-dlgbuttons button {
    border: none;
    height: 50px;
    max-height: 50px;
    max-width: 60px;
    min-height: 50px;
    min-width: 60px;
    width: 60px;
    -moz-appearance: none;
}

.prefWindow-dlgbuttons button image,
.prefWindow-dlgbuttons button label {
    display: none;
}

.prefWindow-dlgbuttons button[dlgtype=extra1] {
    background: transparent url(../images/SaveBtn.png) center center no-repeat !important;
}

.prefWindow-dlgbuttons button[dlgtype=cancel] {
    background: transparent url(../images/VkbBtn.png) center center no-repeat !important;
}

.content-arrow-scrollbox {
    border: none;
    border-bottom: 1px solid #c1ab8e;
    -moz-appearance: none;
    -moz-box-orient: vertical;
}

.paneSelector {
    margin-top: 0px !important;
    -moz-appearance: none !important;
}

radio {
    background: white url(../images/sep.png) center right no-repeat;
    border:none;
    color: #4b4b4b;
    margin-bottom: 5px;
    padding: 16px 8px;
    -moz-appearance: none;
}

radio[selected=true], radio[selected=true]:hover {
    background-color: #92856a !important;
    background-image: none;
    color: white;
    font-weight: bold;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

radio:hover {
    background: #f0efe8 !important;
    -moz-appearance: none;
}

radio image {
    display: none;
}

#prefwin {
    background: white;
    border: 10px solid;
    padding: 4px;
    -moz-appearance: none;
    -moz-border-top-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-left-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-right-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-bottom-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-radius: 18px;
}

.numberbox-input-box{
    background: none;
    border: none;
    padding-right: 10px;
    -moz-appearance: none;
}
