/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for General Options
 *
 *-----------------------------------------------------------------------------
 */

.prefWindow-dlgbuttons {
    background: #eee3d6;
    height: 60px;
    margin: 2px;
    max-height: 60px;
    min-height: 60px;
    padding: 5px;
    -moz-border-radius: 8px;
    -moz-box-align: center;
    -moz-box-pack: end;
}

.prefWindow-dlgbuttons button {
    border: none;
    height: 50px;
    max-height: 50px;
    max-width: 60px;
    min-height: 50px;
    min-width: 60px;
    width: 60px;
    -moz-appearance: none;
}

.prefWindow-dlgbuttons button image,
.prefWindow-dlgbuttons button label {
    display: none;
}

.prefWindow-dlgbuttons button[dlgtype=extra1] {
    background: transparent url(../images/SaveBtn.png) center center no-repeat !important;
}

.prefWindow-dlgbuttons button[dlgtype=cancel] {
    background: transparent url(../images/VkbBtn.png) center center no-repeat !important;
}

.MainPnl {
    margin: 18px;
}

radiogroup {
    -moz-box-orient: vertical;
    -moz-appearance: none;
    border: none;
    border-bottom: 1px solid #c1ab8e;
}

radio {
    -moz-appearance: none;
    padding: 16px 8px;
    background: white url(../images/sep.png) center right no-repeat;
    border:none;
    color: #4b4b4b;
    margin-bottom: 5px;
}
radio[selected=true], radio[selected=true]:hover {
    -moz-user-focus: ignore;
    background-color: #92856a !important;
    background-image: none;
    color: white;
    font-weight: bold;
    -moz-appearance: none;
}
radio:hover {
    background: #f0efe8 !important;
    -moz-appearance: none;
}
radio image {
    display: none;
}

#prefwin {
    background: white;
    -moz-appearance: none;
    border: 10px solid;
    -moz-border-top-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-left-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-right-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-bottom-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    padding: 4px;
}

prefpane {
    
}

.numberbox-input-box{
    background: none;
    border: none;
    -moz-appearance: none;
    padding-right: 10px;
}

.DataFormB row{
	border-bottom: 2px solid white;
	font-size: 10pt;
	padding: 6px;
}
.DataFormB {
	border-right: 2px solid white;
	background: #f1ede5;
    margin: 0px 8px 0px 10px;
}
.DataFormB column{
	border-right: 2px solid white;
	padding: 8px;
}

.DataFormC row{
	border-bottom: 2px solid white;
	font-size: 10pt;
	padding: 2px;
    -moz-box-align: center;
}
.DataFormC {
	border-right: 2px solid white;
	background: #f1ede5;
    margin: 0 8px 5px 10px;
}
.DataFormC column{
	padding: 0px;
}

.DataFormD row{
	border-bottom: 2px solid white;
	font-size: 10pt;
	padding: 6px;
    -moz-box-align: center;
}
.DataFormD row hbox {
    -moz-box-align: center;
}
.DataFormD {
	border-right: 2px solid white;
	background: #f1ede5;
    margin: 0 5px 1px 5px;
}
.DataFormD column{
	padding: 8px;
}
.RightPnlB label, .DataFormB label,
.DataFormC label, .DataFormD label{
	font-size: 10pt;
    color: #534741;
}

.DataForm {
    margin: 10px 8px 8px 10px;
}

.DataForm row grid row {
    padding: 0;
    border: none;
}

.DataForm row grid column {
    padding: 0;
    border: none;
}

.ItemButtonA {
    min-height: 50px;
}

.WidthSet {
    margin-left: 20px;
}

.TopArea {
    margin: 10px;
    background: #f0efe8;
    padding: 8px;
}

.scale-thumb {
    cursor: pointer;
    min-height: 32px;
    min-width: 32px;
}

.scale-slider {
    cursor: pointer;
    height: 40px;
    min-height: 40px;
}

.MainL {
    border-right: 1px solid #c1ab8e;
    margin-top: 4px;
}

.LeftPnl {
    padding: 8px 8px 8px 4px;
}

.RightPnlB {
    padding: 8px;
    margin: 0 8px 10px 10px;
    -moz-box-align: center;
}

