/* global skin ------------------------------------------------------------- */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@import url(chrome://global/skin/);


/* toolbar ----------------------------------------------------------------- */

toolbar[mode="icons"] .toolbarbutton-text {
  display: none !important;
}

toolbar[mode="text"] .toolbarbutton-icon {
  display: none;
}

toolbarbutton {
  -moz-box-orient: vertical;
}

#titleBox {
    background: url(images/body.png);
    background-color: #FFFFFF;
}
#titleBox0 {
    background: url(images/body.png);
    background-color: #FFFFFF;
}