/*-----------------------------------------------------------------------------
 *
 * Custom Styles for Condiment Dialogs
 *
 *-----------------------------------------------------------------------------
 */

.container-dialog .condiment-button-color-default[disabled=false][selected], .container-dialog .condiment-button-color-1[disabled=false][selected],
.container-dialog .condiment-button-color-2[disabled=false][selected], .container-dialog .condiment-button-color-3[disabled=false][selected],
.container-dialog .condiment-button-color-4[disabled=false][selected], .container-dialog .condiment-button-color-5[disabled=false][selected],
.container-dialog .condiment-button-color-6[disabled=false][selected], .container-dialog .condiment-button-color-7[disabled=false][selected],
.container-dialog .condiment-button-color-8[disabled=false][selected], .container-dialog .condiment-button-color-9[disabled=false][selected],
.container-dialog .condiment-button-color-10[disabled=false][selected], .container-dialog .condiment-button-color-11[disabled=false][selected] {
    border-width: 3px !important;
    list-style-image: url(../images/con_sel.png) !important;
    -moz-border-top-colors: threeddarkshadow !important;
    -moz-border-left-colors: threeddarkshadow !important;
    -moz-border-bottom-colors: threedshadow !important;
    -moz-border-right-colors: threedshadow !important;
}
