/*-----------------------------------------------------------------------------
 *
 * Dialog Layouts
 *
 *-----------------------------------------------------------------------------
 */

.layout-dialog {
}

.layout-dialog .layout-fullscreen {
    background: white;
    height: 600px;
    max-height: 600px;
    max-width: 800px;
    min-height: 600px;
    min-width: 800px;
    overflow: hidden;
    width: 800px;
}

.layout-dialog .layout-popup-memo {
    background: white;
    height: 560px;
    margin: 20px 100px;
    max-height: 560px;
    max-width: 600px;
    min-height: 560px;
    min-width: 600px;
    overflow: hidden;
    width: 600px;
}

.layout-dialog .layout-popup-prompt {
    background: white;
    height: 580px;
    margin: 10px 150px;
    max-height: 580px;
    max-width: 500px;
    min-height: 580px;
    min-width: 500px;
    overflow: hidden;
    width: 500px;
}

.layout-dialog .layout-popup-password {
    background: white;
    height: 380px;
    margin: 110px 150px;
    max-height: 380px;
    max-width: 500px;
    min-height: 380px;
    min-width: 500px;
    overflow: hidden;
    width: 500px;
}

/*-----------------------------------------------------------------------------
 *
 * Layout A is for vertical panels with fixed widths toolbar at bottom
 *
 *-----------------------------------------------------------------------------
 */

.layout-dialog .layout-a .block-flex {

}

.layout-dialog .layout-a .block-50  {
    /* 50% */
    width: 400px;
    min-width: 400px;
    max-width: 400px;
}

.layout-dialog .layout-a .block-33  {
    /* 33% */
    width: 264px;
    min-width: 264px;
    max-width: 264px;
}

.layout-dialog .layout-a .block-66  {
    /* 66% */
    width: 536px;
    min-width: 536px;
    max-width: 536px;
}

.layout-dialog .layout-a .block-25  {
    /* 25% */
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.layout-dialog .layout-a .block-75  {
    /* 75% */
    width: 600px;
    min-width: 600px;
    max-width: 600px;
}

.layout-dialog .layout-a .block-20  {
    /* 20% */
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.layout-dialog .layout-a .block-80  {
    /* 80% */
    width: 640px;
    min-width: 640px;
    max-width: 640px;
}

.layout-dialog .layout-a .block-40  {
    /* 40% */
    width: 320px;
    min-width: 320px;
    max-width: 320px;
}

.layout-dialog .layout-a .block-60  {
    /* 60% */
    width: 480px;
    min-width: 480px;
    max-width: 480px;
}

/*-----------------------------------------------------------------------------
 *
 * Layout B is for horizontal panels with fixed height
 *
 *-----------------------------------------------------------------------------
 */

.layout-dialog .layout-b block-flex {

}

.layout-dialog .layout-b .block-50 {
    /* 50% */
    height: 290px;
    min-height: 290px;
    max-height: 290px;
}

.layout-dialog .layout-b .block-33 {
    /* 33% */
    height: 200px;
    min-height: 200px;
    max-height: 200px;
}

.layout-dialog .layout-b .block-66 {
    /* 66% */
    height: 400px;
    min-height: 400px;
    max-height: 400px;
}

.layout-dialog .layout-b .block-25 {
    /* 25% */
    height: 150px;
    min-height: 150px;
    max-height: 150px;
}

.layout-dialog .layout-b .block-75 {
    /* 75% */
    height: 450px;
    min-height: 450px;
    max-height: 450px;
}

.layout-dialog .layout-b .block-20 {
    /* 20% */
    height: 120px;
    min-height: 120px;
    max-height: 120px;
}

.layout-dialog .layout-b .block-80 {
    /* 80% */
    height: 480px;
    min-height: 480px;
    max-height: 480px;
}

.layout-dialog .layout-b .block-40 {
    /* 40% */
    height: 240px;
    min-height: 240px;
    max-height: 240px;
}

.layout-dialog .layout-b .block-60 {
    /* 60% */
    height: 360px;
    min-height: 360px;
    max-height: 360px;
}
