.vivifuncpanelecr_function_panel {
    background: transparent;
    max-width: 344px;
    min-width: 344px;
    height: 225px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.vivifuncpanelecr_spacer {
    min-width: 2px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.vivifuncpanelecr_button_panel {
    border-width: 0px;
    border-style: solid;
    border-color: green;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.vivifuncpanelecr_matrix_button_mapped {
    min-width: 40px;
    min-height: 40px;
    margin: 4px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 2px; 
    border: 0px;
}

.vivifuncpanelecr_matrix_button_nomap {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    margin: 4px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 2px; 
    border: 0px;
    background: #e1ddd2;
}

.vivifuncpanelecr_matrix_button_configure {
    min-width: 40px;
    min-height: 40px;
    width: 40px;
    margin: 4px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 2px; 
     border: 0px;
}

.vivifuncpanelecr_control_panel {
    min-width: 32px;
    max-width: 32px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-width: 0px;
    border-style: solid;
    overflow: hidden;
  border-left: 1px dotted #908c83;
  border-right: 1px dotted #908c83;
  -moz-box-align: center;
}

.vivifuncpanelecr_control_scroll_left {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/funUp.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;  
}
.vivifuncpanelecr_control_scroll_left:active {
	background: transparent url(images/funUp_a.png) center center no-repeat;
}

.vivifuncpanelecr_control_scroll_right {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/funDown.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;   
}
.vivifuncpanelecr_control_scroll_right:active {
	background: transparent url(images/funDown_a.png) center center no-repeat;
}

.vivifuncpanelecr_control_home {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    margin: 2px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/funTop.png) center center no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px; 
}
.vivifuncpanelecr_control_home:active {
	background: transparent url(images/funTop_a.png) center center no-repeat;
}

.vivifuncpanelecr_control_label {
    color: #67625c;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    font-size: 10.5pt;
    border-width: 1px;
    background: transparent;
    border-color: transparent;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 0px; 
}

.buttoncolor_baseclass {
    min-height: 40px;
    max-height: 40px;
    max-width: 60px;
}

.buttonfontsize_baseclass {
    min-height: 30px;
    max-height: 40px;
    max-width: 60px;
}
