/* global skin ------------------------------------------------------------- */
@import url(chrome://viviecr/skin/bindings.css);
@import url(chrome://viviecr/skin/buttons.css);
@import url(chrome://viviecr/skin/product.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@namespace html url("http://www.w3.org/1999/xhtml");


.mainpanel  {
    width: 800px;
    height: 600px;
    background: #f8f4eb url(images/background.gif);
    border: 0px solid red;
}

.productPanel {

/*    min-width: 100px;*/
    width: 220px;
    
    border: 0px solid blue;
    overflow: hidden;
    
    margin-right: 4px;
    margin-bottom: 0px;

}

.functionPanel {

/*    min-width: 100px;*/
    width: 220px;
    
    border: 0px solid blue;
    overflow: hidden;
    
    margin-right: 4px;
    margin-bottom: 0px;

}

.rightPanel {
/*    min-width: 100px;*/
    border: 0px solid green;
    border-left: 1px dotted #908c83;
    width: 448px;
    max-width: 448px;
    -moz-background-clip: border;
}


.prodscrollablepanel {
	border: 1px solid #5c5751;
	-moz-border-radius-topright: 8px; 
	-moz-border-radius-bottomright: 8px;
	-moz-appearance: none;
	-moz-background-clip: border;
	min-width: 339px;
	width: 339px;
	margin: 1px 0 4px 4px;
	background: #ffffff;	
	padding: 0px;
}
.prodscrollablepanel .prodscrollablepanel{
	border: none;
}

.prodscrollablepanel .scrollablepanel-scrollbar {
	background: transparent url(images/plubg.gif) 50% 50% no-repeat;
}

.catescrollablepanel{
  background: transparent url(images/map.png) top right no-repeat;
}

.catescrollablepanel .scrollablepanel-scrollbar {
  border-left: 1px dotted #908c83;
  border-right: 1px dotted #908c83;
}


.numberpad {
    border: 0px solid red;
}

.numberpad button{
    min-width:64px;
    max-width:64px;
    min-height:52px;
    max-height:52px;
    height: 52px;
    width: 64px;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: transparent url(images/numbtn.png);
    color: white;
}
.numberpad button:active{
	background: transparent url(images/numbtn_a.png) center center no-repeat;
}

.rightprevbtn {
    min-width:32px;
    height: 50px;
    width: 32px;
    list-style-image: url(chrome://viviecr/skin/images/up.png);
    -moz-user-focus: ignore;
    -moz-border-radius-topright: 16px; 
    -moz-border-radius-topleft: 16px; 
    margin: 0px 1px 1px 0px; 
}

.rightnextbtn {
    min-width:32px;
    height: 50px;
    width: 32px;
    list-style-image: url(chrome://viviecr/skin/images/down.png);
    -moz-user-focus: ignore;
    -moz-border-radius-bottomright: 16px;
    -moz-border-radius-bottomleft: 16px;
    margin: 0px 1px 1px 0px;
}

.rightprevbtn[disabled] {
    /* list-style-image: none; */
}

.rightnextbtn[disabled] {
    /* list-style-image: none; */
}

.rightprevbtn label, .rightnextbtn label{
	display: none;
}

.systoolbtn {
    max-width:42px;
    min-width:36px;
    height: 53px;
    width: 42px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
    border: 0px;
    background: transparent;
}
.systoolbtn label {
    display: none;
}

.nolabelbtn label{
    display: none;
}

.noimagebtn image {
   display: none;
}

.smallimagebtn image {
	width: 16px;
	height: 16px;
}

.mediumimagebtn image {
	width: 32px;
	height: 32px;
}

.largeimagebtn image {
	width: 64px;
	height: 64px;
}
.imageThumbBtn, .imageThumbBtn[checked]{
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    overflow: hidden;
}
.imageThumbBtn hbox {
    -moz-box-orient: vertical;
}


#shiftPriceStatus, #shiftTaxStatus {
    font-size: 18px;
    color: red;
    font-weight: bold;
}



/************************************************/
.cartlistbox{
  font-size: 14px;
  border-right: 1px dotted #908c83;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background: transparent url(images/cart.png) bottom right no-repeat;
}
.cartlistbox listitem{
  height: 32px;
  border-bottom-color: #aaa;
  -moz-box-align: center;
}

.cartlistbox .label_sell_qty, .cartlistbox .label_sell_price, .cartlistbox .label_sell_subtotal {
  text-align: right;
}
.funcscrollablepanel {
   max-height: 102px;
   min-height: 102px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.cartList{
  font-size: 14px;
  min-height: 252px;
  border-bottom: 1px dotted #908c83;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background: transparent;
}
.cartList .scrollablepanel-scrollbar {
  border-left: 1px dotted #908c83;	
}
.cartList treechildren{
  background: #f8f4eb url(images/cart.png) bottom right no-repeat;
}
	
.cartScrollUp {
	border: 0px solid;
	background: transparent url(images/chatup.png) 0 0 no-repeat;
	max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
	height: 32px;
	width: 32px;
	margin: 4px;
	-moz-user-focus: ignore;
	-moz-appearance: none;
}
.cartScrollUp:active {
	background-position:-32px 0;
}
.cartScrollDown {
	border: 0px solid;
	background: transparent url(images/chatdown.png) 0 0 no-repeat;
	max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
	height: 32px;
	width: 32px;
	margin: 4px;
	-moz-user-focus: ignore;
	-moz-appearance: none;
}
.cartScrollDown:active {
	background-position:-32px 0;
}

.cartScrollUp label, .cartScrollDown label {
	display: none;
}

/************************************************/


.togglenumpad[state=true] {
  border: 0px solid;
  background: transparent url(images/minimize.png) 0 0 no-repeat;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin: 2px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}
.togglenumpad[state=true]:active {
	background-position:-32px 0;
}


.togglenumpad[state=false] {
    background: transparent url(images/maxm.png) 0 0 no-repeat;
}
.togglenumpad[state=false]:active {
	background-position:-32px 0;
}


.pad40 {
    padding: 5px;
}

.pad60 {
    padding: 20px;
}

.pad80 {
    padding: 30px;
}

.pad100 {
    padding: 40px;
}

.panel40 {
    padding: 5px;
    background-image: url(images/bg_gray.png);
}

.footlogo {
    padding: 0px;
    overflow: auto;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url(images/vivipos_icon1.png);
}

.config {
    min-height:32px;
}

.prodsimplelistbox {
  min-height: 200px;
  max-height: 200px;
  min-width: 400px;
  max-width: 400px;
  width:400px;
  height:200px;
}
.prodsimplelistbox > listbox {
  -moz-box-shadow: #777 4px 3px 2px;
  margin-right: 4px;
  margin-bottom: 3px;
}
.prodsimplelistbox > listbox > listitem{
  height: 28px;
  border-bottom-color: #aaa;
}
.prodsimplelistbox treechildren::-moz-tree-row(selected) { height: 30px; background-color: #FFFFAA; }
.prodsimplelistbox treechildren::-moz-tree-row(odd) {  height: 30px; background-color: #DDDDDD;}
.prodsimplelistbox treechildren::-moz-tree-row(odd, selected) {  height: 30px; background-color: #FFFFAA; }
.prodsimplelistbox treechildren::-moz-tree-cell-text(selected) {  height: 30px; color: #000000;}
.prodsimplelistbox treechildren::-moz-tree-cell-text(odd, selected) {  height: 30px; color: #000000;}
treechildren::-moz-tree-row {
  height: 28px;
}

treeitem {
  min-height: 30px;
}

.report {
  min-width: 320px;
  max-width: 320px;
  width:320px;
}
.jobs1 {
  min-width: 180px;
  max-width: 180px;
  width:180px;

  min-height: 300px;
  max-height: 300px;
  height:300px;
}
.jobssummary1 {
  min-width: 220px;
  max-width: 220px;
  width:220px;

  min-height: 300px;
  max-height: 300px;
  height:300px;
}

.usersimplelistbox {
  min-height: 170px;
  max-height: 170px;
  min-width: 600px;
  max-width: 600px;
  width:600px;
  height:170px;
}

.usersimplelistbox listbox {
  min-height: 170px;
  max-height: 170px;
  width: 600px;
  height: 170px;
  margin-right: 4px;
  margin-bottom: 3px;
}
.usersimplelistbox listbox listitem{
  height: 28px;
  border-bottom-color: #aaa;
}
.user {
  min-width: 600px;
  max-width: 600px;
  width:600px;
  min-height: 170px;
  max-height: 170px;
  height: 170px;
}

.taxsimplelistbox {
  min-height: 200px;
  max-height: 200px;
  min-width: 380px;
  max-width: 380px;
  width:380px;
  height:200px;

}
.taxsimplelistbox listitem{
  height: 28px;
  border-bottom-color: #aaa;
}

.taxcombinesimplelistbox {
  min-height: 85px;
  max-height: 85px;
  min-width: 310px;
  max-width: 310px;
  width:310px;
  height:85px;
}
.taxcombinesimplelistbox listitem{
  height: 28px;
  border-bottom-color: #aaa;
}
.taxaddonsimplelistbox {
  min-height: 85px;
  max-height: 85px;
  min-width: 310px;
  max-width: 310px;
  width:310px;
  height:85px;
}
.taxaddonsimplelistbox listitem{
  height: 28px;
  border-bottom-color: #aaa;
}

.simplelistbox listboxbody {
  min-height: 220px;
  max-height: 220px;
  width: 200px;
  height: 320px;
	overflow: auto;
}

.queuesimplelistbox {
  min-height: 300px;
  max-height: 300px;
  min-width: 280px;
  max-width: 280px;
  width:280px;
  height:300px;
}

.queuesimplelistbox listbox {

  min-height: 300px;
  max-height: 300px;
  width: 280px;
  height: 300px;
  margin-right: 4px;
  margin-bottom: 3px;
}
.queuesimplelistbox listbox listitem{
  height: 32px;
  border-bottom-color: #aaa;
}

.clockuserscrollablepanel {
   max-height: 153px;
   min-height: 153px;
  margin-right: 3px;
  margin-bottom: 5px;
}


.clockinoutbtn {
    min-width:120px;
    max-width:120px;
    min-height:70px;
    max-height:70px;
    margin: 0px 1px 1px 0px;
    padding: 0px;
    list-style-type: none;
    color: White;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    background-color:#008040;
    text-align: center;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    background: url(images/btn_green.png);
    -moz-background-clip: border;
    -moz-box-align:center;
    -moz-box-pack:center;
}
.clockinoutbtn label {
    max-width:100px;
    width: 40px;
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}
.vbox_foot {
  background: url(images/logo.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  border: 0px solid black;
  padding: 0px;
  margin: 0px;
  height: 40px;
}

.label_foot {
  color: #555;
  font-size: 14px;
  text-align: left;
  -moz-box-align: center;
  vertical-align: bottom;
/*  text-shadow: #888 2px 2px 1px; */
}

.vbox_vfd {
  background-color: #28231f;
  border: 0px solid black;
  border-left: 1px solid #564e47;
  padding: 3px;
  margin-left: 0px;
  height: 26px;
  }

.label_vfd {
  color: #def44a;
  font-size: 18pt;
  font-family: monospace;
  font-weight: bold !important;
  }

.catplufuncpad {
    min-height:50px;
    max-height:50px;
    height: 50px;
    margin: 0px 1px 1px 0px;
    padding-left: 3px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.labeltitle {
  color: #000;
  font-size: 20px;
  background-color:#bbb;
  font-weight: bold !important;
  }

/***
 *	Dialog Class
 */

.dialogbtns button, .editbtns, .widebtns {
    min-width:100px;
    max-width:100px;
    min-height:45px;
    max-height:45px;
    height: 45px;
    width: 100px;
    margin: 0px 1px 1px 0px;
    padding: 0px;
    list-style-type: none;
    color: white;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 1px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius: 8px;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
    /* background: white; */
    background: url(images/white.png);
    color: black;
}
.widebtns {
    min-width:160px;
    max-width:160px;
    min-height:45px;
    max-height:45px;
    height: 45px;
    width: 160px;
}
.dialogbtns button hbox{
  max-height: 50px;
  height: 50px;
}
.dialogbtns button hbox image{
  max-height: 24px;
  max-width: 24px;
}
.dialogbtns button hbox label{
  max-width: 100px;
  width: 100px;
  text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
    text-wrap: normal;
    word-wrap: break-word;
}
.dialogbtns button:active , .editbtns:active {
    background-position:0pt -60px;
    border: 2px solid;
    -moz-border-top-colors: #444 #222;
    -moz-border-right-colors: #444 #ddd;
    -moz-border-bottom-colors: #444 #ddd;
    -moz-border-left-colors: #444 #222;
}

.marcobtn {
    min-width:80px;
    max-width:80px;
    min-height:50px;
    max-height:50px;
    height: 50px;
    width: 80px;
}

.marcocabtn {
    min-width:80px;
    max-width:80px;
    min-height:50px;
    max-height:50px;
    height: 50px;
    width: 80px;
}


/*
.systembtn {
    min-width:80px;
    max-width:80px;
    min-height:50px;
    max-height:50px;
    margin: 1px 1px 0px 0px;
    padding: 0px;
}*/
/*Function Btn 1*/
.systembtn {
    min-width:89px;
    max-width:89px;
    min-height:52px;
    max-height:52px;
    height: 52px;
    width: 89px;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    list-style-type: none;
    color: #42422f;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    /* background: white; */
    background: transparent url(images/funBtn1.png) center center no-repeat;
}
.systembtn:active {
    background: transparent url(images/funBtn1_a.png) center center no-repeat;
}
.systembtn[disabled=true] {
    background: url(images/btn_gray.png);
    background-position:0pt -64px;
}
.systembtn label {
    max-width:85px;
    width: 40px; 
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}
/*Function Btn 2*/
.systembtn2 {
    min-width:89px;
    max-width:89px;
    min-height:46px;
    max-height:46px;
    height: 46px;
    width: 89px;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    list-style-type: none;
    color: #42422f;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    /* background: white; */
    background: transparent url(images/funBtn2.png) center center  no-repeat;
}
.systembtn2:active {
    background: transparent url(images/funBtn2_a.png) center center no-repeat;
}
.systembtn2[disabled=true] {
    background: url(images/btn_gray.png);
    background-position:0pt -64px;
}
.systembtn2 label {
    max-width:85px;
    width: 40px; 
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}
/*Function Btn 3*/
.systembtn3 {
    min-width:64px;
    max-width:64px;
    min-height:46px;
    max-height:46px;
    height: 46px;
    width: 64px;
    margin: 5px 0px 0px 5px;
    padding: 0px;
    list-style-type: none;
    color: #42422f;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    /* background: white; */
    background: transparent url(images/funBtn3.png) center center no-repeat;
}
.systembtn3:active {
    background: transparent url(images/funBtn3_a.png) center center no-repeat;
}
.systembtn3[disabled=true] {
    background: url(images/btn_gray.png);
    background-position:0pt -64px;
}
.systembtn3 label {
    max-width:60px;
    width: 40px; 
    text-align: center;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.iconbtn {
    width:  42px;
    height: 42px;
    min-height:42px;
    min-width: 42px;
    margin: 2px 2px 2px 2px;
    padding: 0px;
    list-style-type: none;
    overflow: hidden;
    color: White;
    font-weight: bold !important;
    font-size: 18px;
    overflow: hidden;
    background: url(images/white.png);
    -moz-appearance: none;
    -moz-user-focus: ignore;
    border: 1px solid;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
}
.iconbtn:active {
  background-position:0pt -64px;
}
.iconbtn[checked=true] {
  background-position:0pt -64px;
}
.image32 image {
  height: 24px;
  width: 24px;
}

.cartList scrollbar {
    display: none;
}
