/*-----------------------------------------------------------------------------
 *
 * Standard buttons
 *
 *-----------------------------------------------------------------------------
 */

/*-----------------------------------------------------------------------------
 * System buttons
 *-----------------------------------------------bu------------------------------
 */

.button-system {
    background: url(../images/white.png);
    border: 1px solid;
    color: black;
    font-size: 14px;
    font-weight: bold !important;
    height: 49px;
    list-style-type: none;
    margin: 0px 1px 1px 0px;
    min-width:80px;
    min-height:49px;
    overflow: hidden;
    padding: 0px;
    text-wrap: normal;
    width: 80px;
    word-wrap: break-word;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-border-radius: 8px;
    -moz-border-top-colors: #444;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.button-system[disabled=true] {
    background: url(../images/btn_gray.png);
    background-position:0pt -64px;
}

.button-system label {
    max-width:100px;
    text-align: center;
    width: 40px;
    -moz-box-align:center;
    -moz-box-pack:center;
}

/*-----------------------------------------------------------------------------
 * Execute buttons
 *-----------------------------------------------------------------------------
 */


.button-execute {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid;
    color: #6c6050;
    font-size: 12pt;
    margin: 0px 5px;
    max-height: 70px;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-radius: 6px;
    -moz-user-focus: ignore;
}

.button-execute:active {
    border: 2px solid;
    color: #603913;
    -moz-border-top-colors: #ee9400 #ee9400;
    -moz-border-right-colors: #ee9400 #ee9400;
    -moz-border-bottom-colors: #ee9400 #ee9400;
    -moz-border-left-colors: #ee9400 #ee9400;
}

.button-execute[disabled=true] {
    background-color: #e1dfdb !important;
    border-width: 1px !important;
}

/*-----------------------------------------------------------------------------
 * +/- & vkb buttons
 *-----------------------------------------------------------------------------
 */

.button-plus {
    background: transparent url(../images/prod-add.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-minus {
    background: transparent url(../images/prod-remove.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-up {
    background: transparent url(../images/go-up.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-down {
    background: transparent url(../images/go-down.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-gotop {
    margin: 0px;
    height: 36px;
    border-width: 0px;
    min-width: 40px;
    max-width: 40px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
    background: transparent url(../images/optionsUp.png) 0 0 no-repeat;
}

.button-soldout {
    margin: 0px;
    padding: 0px;
    height: 42px;
    min-width: 40px;
    width: 40px;
    max-width: 40px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
    border: 2px solid black !important;
    background: transparent url(../images/prohibitsale.png) center center no-repeat;
}

.button-soldout[checked=true] {
    background: yellow url(../images/prohibitsale.png) center center no-repeat;
}

.button-clone {
    background: transparent url(../images/copy-32x32.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-select-all {
    background: transparent url(../images/check.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-clear-all {
    background: transparent url(../images/uncheck.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-clockinout {
    background: transparent url(../images/clock.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-options {
    background: transparent url(../images/option.png) center center no-repeat;
    -moz-user-focus: ignore;
}

.button-toolbar-vkb {
    background: transparent;
    list-style-image: url(../images/keyboard.png);
    -moz-user-focus: ignore;
}

.button-toolbar-clockinout {
    background: transparent;
    list-style-image: url(../images/clock.png);
    -moz-user-focus: ignore;
}

.button-toolbar-options {
    background: transparent;
    list-style-image: url(../images/option.png);
    -moz-user-focus: ignore;
}

.button-toggle {
  border: 0px solid;
  height: 40px;
  margin: 2px;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  width: 40px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.button-toggle:active {
	background-position:-40px 0;
}

.button-toggle[state=true] {
  background: transparent url(../images/maximize.png) -40px 0 no-repeat !important;
}

.button-toggle[state=false] {
    background: transparent url(../images/minimize.png) 0 0 no-repeat;
}

/*-----------------------------------------------------------------------------
 * Systool button
 *-----------------------------------------------------------------------------
 */

.button-systool {
    border: none;
    height: 48px;
    margin: 0px;
    max-width: 40px;
    min-width: 40px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.button-systool label {
    display: none;
}

.button-systool description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * iconic buttons
 *-----------------------------------------------------------------------------
 */

.button-iconic {
    border: none;
    height: 48px;
    margin: 0px;
    max-width: 48px;
    min-width: 48px;
    width: 48px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.button-iconic label {
    display: none;
}

.button-iconic description {
    display: none;
}

.button-iconic:not([disabled=true]) {
    background-color: white;
    border: 2px solid black;
}

.button-iconic[disabled=true] {
    background-color: transparent;
    border: 0px solid gray;
}

/*-----------------------------------------------------------------------------
 * Standard button colors
 *-----------------------------------------------------------------------------
 */

.button-gray {
    background-image: url(../images/gray.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.button-blue {
    background-image: url(../images/blue.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.button-red {
    background-image: url(../images/red.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}


.button-orange {
    background-image: url(../images/orange.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.button-fuchsia {
    background-image: url(../images/fuchsia.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.button-teal {
    background-image: url(../images/teal.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.button-green {
    background-image: url(../images/green.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.button-yellow {
    background-image: url(../images/yellow.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
 }

 .button-aqua {
    background-image: url(../images/aqua.png);
    color: black;
     min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
 }


.button-black {
    background-image: url(../images/black.png);
    color: white;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.button-white {
    background-image: url(../images/white.png);
    color: black;
    min-height: 50px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.button-default[selected], .button-gray[selected], .button-blue[selected], .button-red[selected], .button-orange[selected], .button-teal[selected],
.button-fuchsia[selected], .button-green[selected], .button-yellow[selected], .button-aqua[selected], .button-black[selected], .button-white[selected] {
    list-style-image: url(chrome://viviecr/skin/images/gtk-yes.png);
}

/*-----------------------------------------------------------------------------
 * Standard button image sizes
 *-----------------------------------------------------------------------------
 */

.button-no-image image {
   display: none;
}

.button-small-image image {
	width: 16px;
	height: 16px;
}

.button-medium-image image {
	width: 32px;
	height: 32px;
}

.button-large-image image {
	width: 48px;
	height: 48px;
}

.button-xlarge-image image {
	width: 64px;
	height: 64px;
}

.button-no-label description {
   display: none;
}

/*-----------------------------------------------------------------------------
 * Standard font sizes
 *-----------------------------------------------------------------------------
 */

.font-xlarge {
    font-weight: bold !important;
    font-size: 20px;
}

.font-large {
    font-weight: bold !important;
    font-size: 16px;
}

.font-small {
    font-weight: bold !important;
    font-size: 10px;
}

.font-medium {
    font-weight: bold !important;
    font-size: 12px;
}

/*-----------------------------------------------------------------------------
 * button color picker
 *-----------------------------------------------------------------------------
 */

button_colorpicker {
    margin: 2px 2px 2px 2px;
    padding: 0px;
    -moz-box-pack: center;
    -moz-user-focus: ignore;
}

button_colorpicker button hbox {
    -moz-box-orient: vertical;
}

button_colorpicker button {
    margin: 4px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

button_colorpicker:not([disabled=true]) button[selected] {
    list-style-image: url(chrome://viviecr/skin/images/con_sel.png);
}

/*-----------------------------------------------------------------------------
 * button fontsize picker
 *-----------------------------------------------------------------------------
 */

button_fontsizepicker {
    margin: 2px 2px 2px 2px;
    padding: 0px;
    -moz-user-focus: ignore;
}

button_fontsizepicker button hbox {
    -moz-box-orient: horizontal;
}

button_fontsizepicker button {
    margin: 4px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

button_fontsizepicker:not([disabled=true]) button[selected] {
    list-style-image: url(chrome://viviecr/skin/images/con_sel.png);
}

/*-----------------------------------------------------------------------------
 * button style item-a, often used in master button panels
 *-----------------------------------------------------------------------------
 */

.button-item-a {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid !important;
    color: #3b312b;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-user-focus: ignore;
}

.button-item-a:not([disabled=true]):active {
    -moz-border-top-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #f0efe8 #e8e8e1 #d9d9d2;
}

.button-item-a[selected]:not([disabled=true]),
.button-item-a[checked]:not([disabled=true]) {
    background: white url(../images/itembtnA_sel.png) left center repeat-x;
    border: 2px solid;
    color: #603913;
    -moz-border-top-colors: #ee9400 #ee9400 !important;
    -moz-border-right-colors: #ee9400 #ee9400 !important;
    -moz-border-bottom-colors: #ee9400 #ee9400 !important;
    -moz-border-left-colors: #ee9400 #ee9400 !important;
}

.button-item-a[disabled=true] {
    background: #e1dfdb !important;
    border: none !important;
}

/*-----------------------------------------------------------------------------
 * button style item-b, often used in detail button panels
 *-----------------------------------------------------------------------------
 */

.button-item-b {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid !important;
    color: #3c322d;
    min-height: 36px;
    -moz-appearance: none;
    -moz-border-top-colors: #f1ede5 #e8e4dc #d6d2cb !important;
    -moz-border-right-colors: #d6d2cb #bab7b1 #979590 !important;
    -moz-border-bottom-colors: #d6d2cb #bab7b1 #979590 !important;
    -moz-border-left-colors: #f1ede5 #e8e4dc #d6d2cb !important;
    -moz-user-focus: ignore;
}

.button-item-b[disabled=false]:active {
    -moz-border-top-colors: #d6d2cb #bab7b1 #979590 !important;
    -moz-border-left-colors: #d6d2cb #bab7b1 #979590 !important;
    -moz-border-bottom-colors: #f1ede5 #e8e4dc #d6d2cb !important;
    -moz-border-right-colors: #f1ede5 #e8e4dc #d6d2cb !important;
}

.button-item-b[disabled=true] {
    background: #e1dfdb !important;
    border: none !important;
}

.button-item-b[selected]:not([disabled=true]),
.button-item-b[checked]:not([disabled=true]) {
    background: white url(../images/itembtnB_sel.png) left center repeat-x;
    border: 2px solid;
    color: #32787a;
    -moz-border-top-colors: #00a99d #00a99d !important;
    -moz-border-right-colors: #00a99d #00a99d !important;
    -moz-border-bottom-colors: #00a99d #00a99d !important;
    -moz-border-left-colors: #00a99d #00a99d !important;
    -moz-appearance: none;
}

/*-----------------------------------------------------------------------------
 * button style item-c for use with selection textboxes
 *-----------------------------------------------------------------------------
 */

.button-item-c {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 2px solid !important;
    color: #3b312b;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-user-input: inherit !important;
    -moz-user-focus: ignore;
}

.button-item-c[disabled=false]:active {
    -moz-border-top-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-right-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-border-bottom-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-border-left-colors: #d9d9d2 #c3c2bc #a5a49f !important;
}

.button-item-c[disabled=true] {
    border-width: 1px !important;
    -moz-border-bottom-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
    -moz-border-left-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-top-colors: #d9d9d2 #c3c2bc #a5a49f !important;
    -moz-border-right-colors: #f0efe8 #e8e8e1 #d9d9d2 !important;
}

/*-----------------------------------------------------------------------------
 * common button icons
 *-----------------------------------------------------------------------------
 */

.button-delete {
    list-style-image: url(../images/icon_del.png);
    -moz-user-focus: ignore;
}

.button-modify {
    list-style-image: url(../images/icon_mod.png);
    -moz-user-focus: ignore;
}

.button-add {
    list-style-image: url(../images/icon_add.png);
    -moz-user-focus: ignore;
}

.button-exit {
    background: transparent url(../images/ExitBtn.png) center center no-repeat !important;
    -moz-user-focus: ignore;
}

.button-save {
    background: transparent url(../images/SaveBtn.png) center center no-repeat !important;
    -moz-user-focus: ignore;
}

.button-vkb {
    background: transparent url(../images/VkbBtn.png) center center no-repeat !important;
    -moz-user-focus: ignore;
}

.button-exit label,
.button-save label,
.button-vkb label {
  display: none;
}

.button-reset {
    list-style-image: url(../images/icon_reset.png);
    -moz-user-focus: ignore;
}

.button-reset[disabled=true] {
    list-style-image: url(../images/icon_reset-d.png);
    -moz-user-focus: ignore;
}

.button-set {
    list-style-image: url(../images/icon_set.png);
    -moz-user-focus: ignore;
}

.button-set[disabled=true] {
    list-style-image: url(../images/icon_set-d.png);
    -moz-user-focus: ignore;
}

.button-enable {
    list-style-image: url(../images/icon_enable.png);
    -moz-user-focus: ignore;
}

.button-enable[disabled=true] {
    list-style-image: url(../images/icon_enable-d.png);
}

.button-disable {
    list-style-image: url(../images/icon_disable.png);
    -moz-user-focus: ignore;
}

.button-disable[disabled=true] {
    list-style-image: url(../images/icon_disable-d.png);
}

.button-merge {
    list-style-image: url(../images/icon_merge.png);
    -moz-user-focus: ignore;
}

.button-merge[disabled=true] {
    list-style-image: url(../images/icon_merge-d.png);
}

.button-remove {
    list-style-image: url(../images/icon_remove.png);
    -moz-user-focus: ignore;
}

.button-remove[disabled=true] {
    list-style-image: url(../images/icon_remove-d.png);
}

/*-----------------------------------------------------------------------------
 * Fixed sized buttons suitable for number and function keys
 *-----------------------------------------------------------------------------
 */

.button-fixed {
    background: transparent url(../images/funBtn.png) center center no-repeat;
    border: 0px solid;
    color: #1d3144;
    font-size: 14px;
    font-weight: bold !important;
    height: 55px;
    list-style-type: none;
    margin:  2px 0px 0px 3px;
    max-height:55px;
    max-width:92px;
    min-height:55px;
    min-width:92px;
    overflow: hidden;
    padding: 0px;
    text-wrap: normal;
    width: 92px;
    word-wrap: break-word;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;
}

.button-fixed[disabled=false]:active {
    background: transparent url(../images/funBtn_a.png) center center no-repeat;
}

.button-fixed[disabled=true] {
    background: transparent url(../images/funBtn_disabled.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * Fixed sized buttons suitable for selection boxes
 *-----------------------------------------------------------------------------
 */

.button-selections {
    background: white;
    border: 1px solid #a1a1a1;
    border-bottom: 2px solid;
    color: #3f3f3f;
    font-size: 10pt;
    margin: 5px;
    max-height: 75px;
    max-width: 120px;
    min-height: 75px;
    min-width: 120px;
    padding: 4px;
    -moz-appearance: none;
    -moz-border-top-colors: #a1a1a1 ;
    -moz-border-right-colors: #a1a1a1 ;
    -moz-border-bottom-colors: #a1a1a1 #a1a1a1;
    -moz-border-left-colors: #a1a1a1;
    -moz-border-radius: 6px;
    -moz-user-focus: ignore;
}

.button-selections hbox {
    word-wrap: break-word;
    -moz-box-orient: vertical;
}

.button-selections image{
    display: none;
}

.button-selections[disabled=false]:active {
    background: #93cbcc;
    border: 1px solid #a1a1a1;
    -moz-border-top-colors: #a1a1a1 ;
    -moz-border-right-colors: #a1a1a1 ;
    -moz-border-bottom-colors: #a1a1a1;
    -moz-border-left-colors: #a1a1a1;
}

.button-selections[disabled=false][selected] {
    background: #93cbcc;
    border: 3px solid;
    color: white;
    font-weight: bold;
    padding: 2px;
    -moz-border-top-colors: #84b6b7 #8abfc0 #90c7c8 ;
    -moz-border-right-colors: #a3d3d4 #9acecf #9dd0d1;
    -moz-border-bottom-colors: #a3d3d4 #9acecf #9dd0d1;
    -moz-border-left-colors: #84b6b7 #8abfc0 #90c7c8;
}

.button-selections[disabled=true] {
    background: transparent;
    border: 0px;
}
