/*-----------------------------------------------------------------------------
 *
 * Report CSS
 *
 *-----------------------------------------------------------------------------
 */

.container-report .container-main {
    background: white;
    border: 3px solid #c1ab8e;
    margin: 8px;
    padding: 4px;
    -moz-border-radius: 8px;
}

/*-----------------------------------------------------------------------------
 * Data forms
 *-----------------------------------------------------------------------------
 */

.container-report .data-form {
	border-right: 2px solid white;
	background: #f0efe8;
    margin: 4px;
}

.container-report .data-form row {
	border-bottom: 2px solid white;
    min-height: 44px;
    padding: 2px 0px 4px 0px;
    -moz-box-align: center;
}

.container-report .data-form column {
	border-right: 2px solid white;
	padding: 6px;
}

.container-report .data-form label {
    font-size: 10pt;
    color: #372213;
}

.container-report .data-form-2 {
	border-right: 2px solid white;
	background: #f0efe8;
    margin: 4px;
}

.container-report .data-form-2 row {
	border-bottom: 2px solid white;
    min-height: 40px;
    padding: 2px 0px 4px 0px;
}

.container-report .data-form-2 column {
	border-right: 2px solid white;
	padding: 6px;
}

.container-report .data-form-2 label {
    font-size: 10pt;
    color: #372213;
}

/*-----------------------------------------------------------------------------
 * Drop-down List
 *-----------------------------------------------------------------------------
 */

.container-report menulist {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid;
    list-style-image: url(../images/dropdown.png);
    min-height: 38px;
    text-align: right;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #eeede8 #e2e1dc;
    -moz-border-right-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-bottom-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-left-colors: #f0efe8 #eeede8 #e2e1dc;
}

.container-report menulist hbox {
    -moz-box-direction: reverse;
}

.container-report menulist hbox label {
    background: none;
    border-right: 1px solid ;
    padding: 0 5px;
    -moz-appearance: none;
    -moz-border-right-colors: #a1a1ba;
}

.container-report .popup-internal-box {
    background: white;
    border: 1px solid #666;
    -moz-appearance: none;
}

.container-report menuitem {
    min-height: 32px;
    text-align: right;
}

.container-report menuitem[selected=true] {
    background-color: #7e7259;
    color: white;
    -moz-appearance: none;
}

.container-report .menulist-editable-box{
    font-size: 18px;
    padding: 10px;
    -moz-appearance: none;
}

.container-report spinbuttons {
    background: none;
    border: none;
    -moz-appearance: none;
}

.container-report .spinbuttons-box{
    margin-left: 3px;
	-moz-box-orient: horizontal;
}

.container-report .spinbuttons-button{
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 2px solid ;
    cursor: pointer;
    min-width: 32px;
    -moz-appearance: none;
    -moz-border-top-colors: #b6b6b6 #fff;
    -moz-border-right-colors: #b6b6b6 #fff;
    -moz-border-bottom-colors: #b6b6b6 #fff;
    -moz-border-left-colors: #b6b6b6 #fff;
}

.container-report .spinbuttons-button[disabled=true] {
    background: #ddd;
    -moz-border-top-colors: #bababa #bababa !important;
    -moz-border-right-colors: #bababa #bababa !important;
    -moz-border-bottom-colors: #bababa #bababa !important;
    -moz-border-left-colors: #bababa #bababa !important;
}

.container-report .spinbuttons-button:active {
    -moz-border-top-colors: #00a99d #00a99d;
    -moz-border-right-colors: #00a99d #00a99d;
    -moz-border-bottom-colors: #00a99d #00a99d;
    -moz-border-left-colors: #00a99d #00a99d;
}

.container-report .spinbuttons-button hbox{
    -moz-box-pack: center;
}

.container-report .spinbuttons-button label{
    display: none;
}

.container-report .spinbuttons-button image {
    margin-left: -10px;
}

.container-report .spinbuttons-up {
    list-style-image: url(../images/spinup.png);
}

.container-report .spinbuttons-down{
	list-style-image: url(../images/spindown.png);
}

/*-----------------------------------------------------------------------------
 * Standard text boxes
 *-----------------------------------------------------------------------------
 */

.container-report textbox {
    background: white url(../images/tboxbg.png) left center repeat-x;
    border: 3px solid;
    color: #444;
    font-size: 18px;
    min-height: 32px;
    padding: 2px;
    -moz-appearance: none;
    -moz-border-top-colors: #a7a7a7 #c5c5c5 #dcdcdc;
    -moz-border-right-colors: #e7e7e7 #f7f7f7 #fefefe;
    -moz-border-bottom-colors: #e7e7e7 #f7f7f7 #fefefe;
    -moz-border-left-colors: #a7a7a7 #c5c5c5 #dcdcdc;
}

.container-report textbox[readonly=true] {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 1px solid #bdbcb8 !important;
    -moz-user-focus: ignore;
    -moz-user-input: none;
}

/*-----------------------------------------------------------------------------
 * Arrow scrollbox
 *-----------------------------------------------------------------------------
 */

.container-report .arrowScrollBox .autorepeatbutton-up {
    width: 40px;
}

.container-report .arrowScrollBox .autorepeatbutton-down {
    width: 40px;
}

/*-----------------------------------------------------------------------------
 * Buttons and other widgets
 *-----------------------------------------------------------------------------
 */

.container-report .ExeBtn {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid;
    color: #6c6050;
    font-size: 12pt;
    margin: 0 5px;
    max-height: 70px;
    min-height: 50px;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-radius: 6px;
}

.container-report .ExeBtn:active {
    border: 2px solid;
    color: #603913;
    -moz-border-top-colors: #ee9400 #ee9400;
    -moz-border-right-colors: #ee9400 #ee9400;
    -moz-border-bottom-colors: #ee9400 #ee9400;
    -moz-border-left-colors: #ee9400 #ee9400;
}

.container-report .TopPnl {
    border-bottom: 1px solid #c1ab8e;
    padding-bottom: 4px;
    padding-top: 2px;
}

.container-report .LoadingPnl {
    background: white;
    border: 10px solid;
    height:160px;
    left: 175px;
    top: 200px;
    width:450px;
    -moz-box-align: center;
    -moz-border-top-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-left-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-right-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-bottom-colors: white white white white white white white #c1ab8e #c1ab8e #c1ab8e;
    -moz-border-radius: 8px;
}

.container-report .LoadingPnl label {
    color: #534741;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 5px;
}

.container-report .ReportButton image {
    
}

.container-report .ReportButton hbox {
    -moz-box-orient: vertical;
}

.container-report .ReportButton {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 3px solid;
    color: #372213;
    font-size: 11pt;
    min-height: 36px;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-radius: 8px;
}

container-report.ReportButton[disabled=true] {
    background: #ececec;
    border: none;
    -moz-appearance: none;
}

.container-report .ReportButton:active {
    border: 2px solid;
    color: #603913 !important;
    -moz-border-top-colors: #ee9400 #ee9400 !important;
    -moz-border-right-colors: #ee9400 #ee9400 !important;
    -moz-border-bottom-colors: #ee9400 #ee9400 !important;
    -moz-border-left-colors: #ee9400 #ee9400 !important;
    -moz-appearance: none;
}

/* Exit Bar */

.container-report .exitbar {
    background: #eee3d6;
    height: 60px;
    margin: 0px 0px 2px 2px;
    max-height: 60px;
    min-height: 60px;
    padding: 5px 8px;
    -moz-border-radius: 8px;
}
.container-report .exitbar button {
  background: none;
  border: none;
  height: 50px;
  max-height: 50px;
  max-width: 60px;
  min-height: 50px;
  min-width: 60px;
  width: 60px;
  -moz-appearance: none;
}

/* Tool Bar */

.container-report .ReportTool {
    background: #e8d1b1;
    height: 70px;
    margin: 0px 2px 2px 2px;
    max-height: 70px;
    min-height: 70px;
    padding: 10px 5px;
    -moz-border-radius: 8px;
}

.container-report .ReportTool button,
.container-report .ReportTool vivibutton {
    background: none;
    border: none;
    border-right: solid 1px white;
    max-height: 45px;
    max-width: 58px;
    min-height: 45px;
    min-width: 58px;
    -moz-appearance: none;
    -moz-border-right-colors: white;
}

.container-report .ReportTool button description,
.container-report .ReportTool button label,
.container-report .ReportTool vivibutton description,
.container-report .ReportTool vivibutton label{
	display: none;
}

.container-report .PrintBtn {
	background: transparent url(../images/icon_print.png) center left no-repeat !important;
	height: 60px;
	padding-left: 58px;
	-moz-appearance: none;
}

.container-report .PrintBtn[disabled=true] {
	background: transparent url(../images/icon_print-d.png) center center no-repeat !important;
}

.container-report .PrintReportBtn {
	height: 60px;
	padding-left: 58px;
	-moz-appearance: none;
	background: transparent url(../icons/icon_printer.png) center center no-repeat !important;
}

.container-report .PrintReportBtn[disabled=true] {
	background: transparent url(../icons/icon_printer.png) center center no-repeat !important;
}

.container-report .ZoomBtn {
	background: transparent url(../images/icon_zoom.png) center left no-repeat !important;
	height: 60px;
	padding-left: 58px;
	-moz-appearance: none;
}

.container-report .ZoomBtn[disabled=true] {
	background: transparent url(../images/icon_zoom-d.png) center center no-repeat !important;
}

.container-report .CsvBtn {
	background: transparent url(../images/icon_exportcsv.png) center center no-repeat !important;
}

.container-report .CsvBtn[disabled=true] {
	background: transparent url(../images/icon_exportcsv-d.png) center center no-repeat !important;
}

.container-report .PdfBtn {
	background: transparent url(../images/icon_exportpdf.png) center center no-repeat !important;
}

.container-report .PdfBtn[disabled=true] {
	background: transparent url(../images/icon_exportpdf-d.png) center center no-repeat !important;
}

.container-report .previousPage {
	background: transparent url(../images/go-previous.png) center center no-repeat !important;
}

.container-report .previousPage[disabled=true] {
	background: transparent url(../images/previous.png) center center no-repeat !important;
}

.container-report .nextPage {
	background: transparent url(../images/go-next.png) center center no-repeat !important;
}

.container-report .nextPage[disabled=true] {
	background: transparent url(../images/next.png) center center no-repeat !important;
}

.container-report .reportbox {
    padding: 10px;
}

.container-report .reportbox iframe {
	border: 0px;
	padding: 0px;
	height: 0px;
}
