/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Condiments
 *
 *-----------------------------------------------------------------------------
 */

.custom-layout-condiment-panel {
    min-width: 270px;
}

.custom-container-button-color-fontsize-picker {
    margin: 0px 8px 0px 4px;
    background: #f1ede5;
}

.custom-container-button-color-fontsize-picker vbox {
    margin: 5px;
    padding: 5px;
}

.custom-content-color-picker button {
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
}

.condiment-button-color-default[disabled=false][selected], .condiment-button-color-1[disabled=false][selected],
.condiment-button-color-2[disabled=false][selected], .condiment-button-color-3[disabled=false][selected],
.condiment-button-color-4[disabled=false][selected], .condiment-button-color-5[disabled=false][selected],
.condiment-button-color-6[disabled=false][selected], .condiment-button-color-7[disabled=false][selected],
.condiment-button-color-8[disabled=false][selected], .condiment-button-color-9[disabled=false][selected],
.condiment-button-color-10[disabled=false][selected], .condiment-button-color-11[disabled=false][selected] {
    border-width: 3px;
    list-style-image: url(../images/con_sel.png);
    -moz-border-top-colors: threeddarkshadow !important;
    -moz-border-left-colors: threeddarkshadow !important;
    -moz-border-bottom-colors: threedshadow !important;
    -moz-border-right-colors: threedshadow !important;
}
