/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Product Groups
 *
 *-----------------------------------------------------------------------------
 */

.custom-container-button-color-fontsize-picker {
    margin: 4px 6px 4px 4px;
    background: #f1ede5;
}

.custom-container-button-color-fontsize-picker vbox {
    margin: 3px;
    padding: 3px;
}

.custom-content-color-picker button {
    max-width: 60px;
    max-height: 60px;
    min-width: 60px;
    min-height: 60px;
}
