/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Function Panel Manager
 *
 *-----------------------------------------------------------------------------
 */

.custom-container-button-color-fontsize-picker {
    background: white !important;
    margin: 4px 6px 4px 4px;
}

.custom-container-button-color-fontsize-picker vbox {
    background: #f1ede5;
    margin: 5px;
    padding: 5px;
}

.custom-content-color-picker {
    margin: 4px;
}

.custom-content-color-picker vbox {
    margin: 5px;
    padding: 5px;
}

.custom-content-color-picker button {
    border-width: 1px;
    max-width: 80px;
    max-height: 80px;
    min-width: 80px;
    min-height: 80px;
    -moz-box-orient: vertical;
}

.custom-content-fontsize-picker {
    margin: 4px;
}

.custom-content-fontsize-picker button {
    margin-top: 2px;
    margin-bottom: 2px;
}

.custom-content-page-number-panel {
    padding: 4px 8px;
}

.custom-content-page-number-panel label {
    color: #372213;
    font-size: 10pt;
}

.custom-content-page-number-panel textbox {
    margin: 0 2px;
    max-width: 100px;
}

.custom-content-page-number-panel button {
    margin: 0 2px;
}

.custom-content-button-action {
    min-height: 36px;
}

.custom-content-data-form {
    margin: 0 6px 3px 6px;
}

.custom-content-data-form row {
    background: #f0efe8;
    border-bottom: 2px solid white;
    font-size: 10pt;
    min-height: 44px;
    padding: 4px;
}

.custom-content-data-form column {
    padding: 4px;
}

.custom-content-data-form row label {
    font-size: 12pt;
    color: #372213;
}

.custom-content-data-form row button label {
    font-size: inherit;
}

#vivifuncpanelecr_prefs_keymap_function_tree #version,
#vivifuncpanelecr_prefs_gkeymap_function_tree #version {
    text-align: center;
}
