/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Layout Manager
 *
 *-----------------------------------------------------------------------------
 */

.custom-content-layout-listbox {
    height: 590px;
}

.custom-content-layout-listbox richlistitem {
    border: 2px solid #7e7259;
}

.custom-content-layout-listbox richlistitem[selected=true] {
    background-color: #7e7259 !important;
    color: white !important;
    font-weight: bold !important;
}

.custom-content-layout-listbox label {
    color: #534741;
    font-size: 12pt;
    font-weight: bold;
    padding: 5px 8px;
}

.custom-content-layout-listbox textbox {
    font-size: 16px !important;
    background: white !important;
}