/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Sync Settings
 *
 *-----------------------------------------------------------------------------
 */

#ircListBox {
    max-width: 335px;
    min-width: 335px;
    width: 335px;
}

#ircListBox #filesize {
    text-align: center;
}

#ircDetailClientsTree #downloaded,
#ircDetailClientsTree #updated {
    text-align: center;
}