/*-----------------------------------------------------------------------------
 *
 * Back-End Custom Styles for Administration Tools
 *
 *-----------------------------------------------------------------------------
 */

.custom-sync-enabled {
    list-style-image: url(../images/icon_enable.png);
    -moz-user-focus: ignore;
}

.custom-sync-disabled {
    list-style-image: url(../images/icon_disable.png);
    -moz-user-focus: ignore;
}

.custom-sync-tree #datasource,
.custom-sync-tree #database,
.custom-sync-tree #index,
.custom-sync-tree #clientid,
.custom-sync-tree #synced {
    text-align: center;
}

.custom-textbox-center {
    text-align: center;
}

.custom-dsbackup-tree #model,
.custom-dsbackup-tree #size {
    text-align: center;
}

.custom-ircpackage-tree #pkg,
.custom-ircpackage-tree #source,
.custom-ircpackage-tree #size {
    text-align: center;
}
