.maindialog {
    width: 1024px;
    height: 768px;

    background-attachment: fixed;
    background-color: white;
    background-image: url(../images/Tablebgjpg.jpg);
    background-position: 0 0

}
.EmptyArea {
    height: 138px;
}
.MainPanel {
    margin-left: 0px;
}
.TableBtns {
    top: 250px;
    left: 60px;
}
.TableBtns button{
    margin: 5px 10px 0px 9px;
    -moz-appearance: none;
    background: none;
    border: none;
    max-width: 54px;
    max-height: 41px;
    min-width: 54px;
    min-height: 41px;
}
.tbButton[selected], .tbButtonn[checked]{
    background: #85775b !important;
    -moz-appearance: none;
}
.TableBtns button label{
    display: none;
}

.TablePanel {
    background: none;
    border: none;
    margin-left: 155px;
    max-height: 520px;
    min-height: 520px;
}
.TablePanel row {
    max-height: 128px;
}

.tbButton{
    -moz-appearance: none;
    margin: 1px;
    border: none;
    background: none;
    height: 120px;
    max-height: 128px;
    width: 174px;
}

.dialogbtn {
  padding: 5px 8px;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  margin: 45px 0px 2px 2px;
  -moz-box-pack: end;
}
.dialogbtn button {
  max-height: 50px;
  max-width: 60px;
  min-height: 50px;
  min-width: 60px;
  height: 50px;
  width: 60px;
  -moz-appearance: none;
  background: none;
  border: none;
  margin-top: 2px;
}
.dialogbtn button label {
    display: none;
}
.dialogbtn button:hover {
    -moz-appearance: none;
    background-color: white !important;
    border: none;
}
.ExitBtn {
  background: transparent url(../images/ExitBtn.png) center center no-repeat !important;
}
.RefrashBtn {
  background: transparent url(../images/refrash.png) top center no-repeat !important;
}

.mergeBtn {
    background: transparent url(../icons/mergeTable.png) center center no-repeat !important;
}
.mergeBtn[checked] {
    background: transparent url(../icons/mergeTable_selected.png) center center no-repeat !important;
}
.unmergeBtn {
    background: transparent url(../icons/unmergeTable.png) center center no-repeat !important;
}
.unmergeBtn[checked] {
    background: transparent url(../icons/unmergeTable_selected.png) center center no-repeat !important;
}
.selectBtn {
    background: transparent url(../icons/selectTable.png) center center no-repeat !important;
}
.selectBtn[checked] {
    background: transparent url(../icons/selectTable_selected.png) center center no-repeat !important;
}

.changeBtn {
    background: transparent url(../icons/changeTable.png) center center no-repeat !important;
}
.newTableBtn {
    background: transparent url(../icons/newTable.png) center center no-repeat !important;
}
.mergecBtn2 {
    background: transparent url(../icons/mergeCheck2.png) center center no-repeat !important;
}
.splitcBtn2 {
    background: transparent url(../icons/splitCheck2.png) center center no-repeat !important;
}
.selectcBtn2 {
    background: transparent url(../icons/selectCheck2.png) center center no-repeat !important;
}
.bookcBtn2 {
    background: transparent url(../icons/bookTable2.png) center center no-repeat !important;
}
.addMarkBtn {
    background: transparent url(../icons/addMark.png) center center no-repeat !important;
}
.addMarkBtn[checked] {
    background: transparent url(../icons/addMark_selected.png) center center no-repeat !important;
}
.clearMarkBtn {
    background: transparent url(../icons/clearMark.png) center center no-repeat !important;
}
.clearMarkBtn[checked] {
    background: transparent url(../icons/clearMark_selected.png) center center no-repeat !important;
}
.addMarksBtn {
    background: transparent url(../icons/addMarks.png) center center no-repeat !important;
}
.clearMarksBtn {
    background: transparent url(../icons/clearMarks.png) center center no-repeat !important;
}

.RightBtns {
    left: 880px;
    top: 180px;
    width: 320px;
}
.RightBtns button {
    -moz-appearance: none;
    background: none;
    border: none;
    max-width: 66px;
    max-height: 44px;
    min-width: 66px;
    min-height: 44px;
    margin: 5px 5px;
}
.clerkBtn {
    max-width: 43px !important;
    min-width: 43px;
    max-height: 63px;
    min-height: 63px !important;
    background: transparent url(../icons/clerk.png) center center no-repeat !important;
}
.RightBtns button label{
    display: none;
}

.space{
    height: 20px;
}
.space2{
    width: 50px;
}

.tbScrollUp {
    min-height: 45px;
    max-height: 45px;
    min-width: 48px;
    max-width: 48px;
    margin: 6px 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(../images/tableup.png) top left no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}
.tbScrollUp description, .tbScrollDown description {
    display: none;
}
.tbScrollDown {
    min-height: 45px;
    max-height: 45px;
    min-width: 48px;
    max-width: 48px;
    margin: 6px 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(../images/tabledown.png) bottom right no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}


.CheckBtns{
    margin-top: 5px;
}
.CheckBtns button{
    -moz-appearance: none;
    background: none;
    border: none;
    max-width: 78px;
    max-height: 56px;
    min-width: 78px;
    min-height: 56px;
    margin-left: 17px;
}
.CheckBtns button:hover {
    -moz-appearance: none;
    border: 1px solid #fff;
    -moz-border-top-colors: white !important;
    -moz-border-bottom-colors: white !important;
    -moz-border-right-colors: white !important;
    -moz-border-left-colors: white !important;
}
.CheckBtns button label{
    display: none;
}
.mergecBtn {
    background: transparent url(../icons/mergeCheck.png) center center no-repeat !important;
}
.splitcBtn {
    background: transparent url(../icons/splitCheck.png) center center no-repeat !important;
}
.selectcBtn {
    background: transparent url(../icons/selectCheck.png) center center no-repeat !important;
}
.bookcBtn {
    background: transparent url(../icons/bookTable.png) center center no-repeat !important;
}
.closecBtn {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-left: 55px !important;
    background: transparent url(../images/close.png) center center no-repeat !important;
}

.CheckTabbox {
    margin-top: 20px;
    margin-left: 10px;
}
.CheckTabbox tab {
    -moz-appearance: none;
    padding: 5px 20px;
    background: white url(../images/sep.png) center right no-repeat;
    border:none;
    color: #393939;
}
.CheckTabbox tab[selected=true] {
    -moz-user-focus: ignore;
    background-color: #847860;
    background-image: none;
    color: white;
    font-weight: bold;
}
 .CheckTabbox tabpanels {
    -moz-appearance: none;
    background: none;
    border: none;
}

.PromptPnl {
/*  background: transparent url(../images/checkbg.gif) center center no-repeat; */
/*  -moz-appearance: none; */
  border: none;
/*  padding: 2px; */
  width:854px;
  height: 659px;
}

.PromptPnlBg {
  background: transparent url(../images/checkbg.png) left top no-repeat;
}

.PromptBox {
  padding: 22px 35px 12px 45px;
}

.PromptBox2 {
  padding: 2px 80px;
}

.MsgPnl {
    -moz-appearance: none;
    border: none;
    width: 708px;
    height: 160px;
    background: transparent url(../images/msgbg.gif) center center no-repeat;
}
.MsgPnl2 {
    -moz-appearance: none;
    background: transparent url(../images/msgbg2.png) center center repeat;
}

.CancelBtn {
    -moz-appearance: none;
    background: none;
    border: none;
    max-width: 78px;
    max-height: 40px;
    min-width: 78px;
    min-height: 40px;
    margin-bottom: 20px;
    font-size: 12pt;
    color: #76675b;
    margin-right: 25px;
}

.PromptLabel {
    color: #fff;
}

.PromptLabel1 {
    font-size: 16px;
    color: #164770;
    font-weight: bold;
}

.PromptLabel2 {
    color: #636363;
    text-indent : 100px;
    list-style: circle inside;
}

.PromptLabel3 {
    color: #636363;
    font-size: 10pt;
    text-align: right;
}

.whitefont {
	font-size: 12px;
	color: #333;
}
.yellowfont {
	font-size: 17px;
	color: #7f3100;
    padding: 4px 0 4px 26px;
    background: transparent url(../images/current.png) left center no-repeat;
}

ol {
    list-style-type: decimal;
}

#prevdayBtn, #todayBtn, #nextdayBtn,
#prevweekBtn, #weekBtn, #nextweekBtn,
#prevmonthBtn, #monthBtn, #nextmonthBtn
{
    background-color: white ;
    background-image: none;
    border: 2px solid;
    color: #4d4234;
    font-size: 12pt;
    margin: 5px;
    min-height: 40px;
    min-width: 75px;
    padding: 8px;
    -moz-appearance: none;
    -moz-border-top-colors: #918570 white;
    -moz-border-left-colors: #918570 white;
    -moz-border-right-colors: #918570 white;
    -moz-border-bottom-colors: #918570 white;
    -moz-border-radius: 6px;
}

#prevdayBtn[disabled=true], #todayBtn[disabled=true], #nextdayBtn[disabled=true],
#prevweekBtn[disabled=true], #weekBtn[disabled=true], #nextweekBtn[disabled=true],
#prevmonthBtn[disabled=true], #monthBtn[disabled=true], #nextmonthBtn[disabled=true]
{
    background-color: #fff6e8 ;
    border-width: 0px !important
}

#order_display_div {
    width: 754px;
    max-width: 754px;
}
.autorepeatbutton-up, .autorepeatbutton-down {
    min-width: 36px;
}

#todayBtn[checked], #weekBtn[checked], #monthBtn[checked] {
    background-color: yellow;
    background-image: none;
    border: 2px solid;
    color: #4d4234;
    font-size: 12pt;
    margin: 5px;
    min-height: 40px;
    min-width: 75px;
    padding: 8px;
    -moz-appearance: none;
    -moz-border-top-colors: #918570 red;
    -moz-border-left-colors: #918570 red;
    -moz-border-right-colors: #918570 red;
    -moz-border-bottom-colors: #918570 red;
    -moz-border-radius: 6px;
}
