/*--------------------------------------------------------------------------
 *
 * PRODUCT COLORS
 *
 *--------------------------------------------------------------------------
 */

.product-button-color-default {
    color: #000;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-default:not([disabled=true]):active,
.product-button-color-default[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3a3a3b #3d3e3f #737678 #afb4b7 !important;
    -moz-border-bottom-colors: white #f1f2f3 #eff0f1 #ebecee #e6e7e9 !important;
    -moz-border-left-colors: white #555658 #76777a #9b9ea0 #cacccf !important;
    -moz-border-right-colors: white #e0e2e5 #dee0e4 #dde0e3 #dbdee1 !important;
}

.product-button-color-1 {
    color: #000D93;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-1:not([disabled=true]):active,
.product-button-color-1[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #25290a #2a2e0b #40470c #636d14 !important;
    -moz-border-bottom-colors: white #dde4a0 #d7e092 #ced979 #c0ce52 !important;
    -moz-border-left-colors: white #2f340a #40470d #576012 #6f7b18 !important;
    -moz-border-right-colors: white #c7d466 #c7d364 #c3d05a #bccb47 !important;
}

.product-button-color-2 {
    color: #00330F;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-2:not([disabled=true]):active,
.product-button-color-2[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3f3415 #493b17 #8b6601 #d49c03 !important;
    -moz-border-bottom-colors: white #fdf1cf #fdefc8 #fcebbb #fce5a7 !important;
    -moz-border-left-colors: white #614907 #876405 #b4870e #e3ac16 !important;
    -moz-border-right-colors: white #fce8b1 #fce7b0 #fbe096 #fbe3a1 !important;
}

.product-button-color-3 {
    color: #1C5119;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-3:not([disabled=true]):active,
.product-button-color-3[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3b1502 #441902 #843106 #c94d0b !important;
    -moz-border-bottom-colors: white #fecfb6 #fec8ab #febb98 #fda779 !important;
    -moz-border-left-colors: white #5d2609 #81330a #ac4610 #d95814 !important;
    -moz-border-right-colors: white #fdb189 #fdb087 #fdab80 #fda171 !important;
}

.product-button-color-4 {
    color: #213088;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-4:not([disabled=true]):active,
.product-button-color-4[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #28363c #2d3e45 #557786 #7fb5cb !important;
    -moz-border-bottom-colors: white #9ad9f6 #8bd4f5 #70caf3 #46baef !important;
    -moz-border-left-colors: white #11455d #1d6281 #1f80ac #27a1d9 !important;
    -moz-border-right-colors: white #a2daf2 #a5dbf2 #9bd7f1 #8fd2ef !important;
}

.product-button-color-5 {
    color: #9D0861;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-5:not([disabled=true]):active,
.product-button-color-5[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #31281b #382e1e #66502b #9d7a44 !important;
    -moz-border-bottom-colors: white #faf3e7 #faf1e4 #f8eddd #f6e8d3 !important;
    -moz-border-left-colors: white #4a3b23 #675231 #886b3e #ad8952 !important;
    -moz-border-right-colors: white #f7ebd8 #f7ebd8 #f7e9d5 #f6e7d1 !important;
}

.product-button-color-6 {
    color: #312861;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-6:not([disabled=true]):active,
.product-button-color-6[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #351518 #3d171b #762b32 #9f212f !important;
    -moz-border-bottom-colors: white #f8c8ce #f7c0c6 #f6b2ba #f39ba5 !important;
    -moz-border-left-colors: white #491016 #661720 #881f2b #ac2736 !important;
    -moz-border-right-colors: white #f4a7af #f4a6ae #f3a0a9 #f2959f !important;
}

.product-button-color-7 {
    color: #582891;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-7:not([disabled=true]):active,
.product-button-color-7[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: black #010101 #030303 #060606 #090909 !important;
    -moz-border-bottom-colors: white #8e8e8e #7d7d7d #606060 #313131 !important;
    -moz-border-left-colors: black #010101 #030303 #040404 #050505 !important;
    -moz-border-right-colors: white #494949 #464646 #3b3b3b #242424 !important;
}

.product-button-color-8 {
    color: #285161;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
 }

.product-button-color-8:not([disabled=true]):active,
.product-button-color-8[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #3c2a31 #452e36 #875564 #d07f96 !important;
    -moz-border-bottom-colors: white #fbd6df #fbcfda #fac4d1 #f8b2c3 !important;
    -moz-border-left-colors: white #603a45 #85515f #b16b7f #df87a0 !important;
    -moz-border-right-colors: white #f9b9c8 #f9b8c7 #f8b4c5 #f8aabd !important;
}

.product-button-color-9 {
    color: #5F1E56;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-9:not([disabled=true]):active,
.product-button-color-9[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #16293c #193045 #215387 #2d7acd !important;
    -moz-border-bottom-colors: white #92b4ee #82a9eb #6596e7 #3877e0 !important;
    -moz-border-left-colors: white #0b2756 #113a7a #1951a4 #2068cf !important;
    -moz-border-right-colors: white #4f86e3 #4c85e3 #417de1 #2b6ede !important;
}


.product-button-color-10 {
    color: #4E4E4E;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-10:not([disabled=true]):active,
.product-button-color-10[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #202e10 #233411 #2e5512 #2d7309 !important;
    -moz-border-bottom-colors: white #bcde8e #b2d97d #a1d05f #85c230 !important;
    -moz-border-left-colors: white #153503 #1d4a04 #266206 #307b07 !important;
    -moz-border-right-colors: white #93c948 #91c845 #8bc53a #7dbe23 !important;
}


.product-button-color-11 {
    color: #301F3E;
    background: url(../images/btn_background_01.png) center top repeat-y;
    -moz-appearance: none;
}

.product-button-color-11:not([disabled=true]):active,
.product-button-color-11[selected]:not([disabled=true]) {
    border-width: 5px !important;
    -moz-border-top-colors: white #404040 #3c4145 #747e86 #b1c1cc !important;
    -moz-border-bottom-colors: white #fff #fff #fff #fff !important;
    -moz-border-left-colors: white #646464 #8b8b8b #b9b9b9 #e9e9e9 !important;
    -moz-border-right-colors: white #fff #fff #fff #fff !important;
}


.product-button-color-default[selected]:not([disabled=true]), .product-button-color-1[selected]:not([disabled=true]),
.product-button-color-2[selected]:not([disabled=true]), .product-button-color-3[selected]:not([disabled=true]),
.product-button-color-4[selected]:not([disabled=true]), .product-button-color-5[selected]:not([disabled=true]),
.product-button-color-6[selected]:not([disabled=true]), .product-button-color-7[selected]:not([disabled=true]),
.product-button-color-8[selected]:not([disabled=true]), .product-button-color-9[selected]:not([disabled=true]),
.product-button-color-10[selected]:not([disabled=true]), .product-button-color-11[selected]:not([disabled=true]) {
    /*list-style-image: url(chrome://viviecr/skin/images/con_sel.png);*/
    /*background-position: 0 -100px !important;*/
    font-size: italic;
}
