/*-----------------------------------------------------------------------------
 *
 * PRINTER DASHBOARD SCREEN
 *
 *-----------------------------------------------------------------------------
 */

.printer-status {
    background-color:silver;
    border: 0px;
    color: #3b312b;
    list-style-image: url(../icons/icon_devices.png);
    margin: 4px;
    padding: 5px;
    -moz-appearance: none;
    -moz-border-top-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-border-right-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-bottom-colors: #d9d9d2 #c3c2bc #a5a49f;
    -moz-border-left-colors: #f0efe8 #e8e8e1 #d9d9d2;
    -moz-box-orient: vertical;
    -moz-border-radius: 8px;
}

.printer-status[checked][disabled=false] {
    background-color: green;
    border: 3px solid;
    -moz-border-top-colors: #bcde8e #b2d97d #a1d05f #85c230 !important;
    -moz-border-bottom-colors: #202e10 #233411 #2e5512 #2d7309 !important;
    -moz-border-left-colors: #93c948 #91c845 #8bc53a #7dbe23 !important;
    -moz-border-right-colors: #153503 #1d4a04 #266206 #307b07 !important;
}

.printer-status[disabled=false] {
    background-color: red;
    border: 3px solid;
    -moz-border-bottom-colors: #f8c8ce #f7c0c6 #f6b2ba #f39ba5 !important;
    -moz-border-top-colors: #351518 #3d171b #762b32 #9f212f !important;
    -moz-border-right-colors: #f4a7af #f4a6ae #f3a0a9 #f2959f !important;
    -moz-border-left-colors: #491016 #661720 #881f2b #ac2736 !important;
}