/*-----------------------------------------------------------------------------
 *
 * Merge Check Dialog
 *
 *-----------------------------------------------------------------------------
 */

.custom-content-toolbar {
    max-width: 175px;
    width: 175px;
}

#sourcecheckscrollablepanel #name,
#targetcheckscrollablepanel #name {
    text-align: left;
}

#sourcecheckscrollablepanel #current_qty,
#targetcheckscrollablepanel #current_qty {
    text-align: center;
}

#sourcecheckscrollablepanel #current_price,
#targetcheckscrollablepanel #current_price {
    text-align: right;
}
