.selectTableMaindialog {
    width: 666px;
    height: 416px;
    max-width: 666px;
    max-height: 416px;
    margin-left: 10px;
}

.EmptyArea {
    max-height: 47px;
    min-height: 47px;
    padding: 2px;
    margin-top: 4px;
    -moz-box-flex: 1;

}
.EmptyArea button {
    background:#4c3a3a;
    color:#ffffff;
    font-size:11pt;
    min-width: 102px;
    max-width: 102px;
    max-height: 40px;
    min-height: 32px;
    border:none;
    -moz-border-radius: 3px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    margin: 3px;
    padding: 2px;
}

.EmptyArea button:hover {
    background:#8F7A75;
    -moz-appearance: none;
}

.EmptyArea button[selected], .EmptyArea button[checked] {
    border: 3px solid;
    background:#8F7A75;
    -moz-border-top-colors:   #ffffff #ffffff #ffffff;
    -moz-border-right-colors: #ffffff #ffffff #ffffff;
    -moz-border-bottom-colors:#ffffff #ffffff #ffffff;
    -moz-border-left-colors:  #ffffff #ffffff #ffffff;
    -moz-appearance: none;
}

.EmptyArea button[disabled=true]{
     background:#F0F0EE;
    -moz-appearance: none;
}

.EmptyArea .autorepeatbutton-up {
    background: #4c3a3a url(../images/regionUp.png) center center no-repeat;
    border: 0px;
    margin: 2px 0px 0px 0px;
    max-height: 40px;
    max-width: 40px;
    min-height: 32px;
    min-width: 40px;
    padding: 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 3px;
}
.EmptyArea .autorepeatbutton-down {
    background: #4c3a3a url(../images/regionDown.png) center center no-repeat;
    border: 0px;
    margin: 2px 0px 0px 0px;
    max-height: 40px;
    max-width: 40px;
    min-height: 32px;
    min-width: 40px;
    padding: 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    -moz-border-radius: 3px;
}
.EmptyArea .autorepeatbutton-up:hover,
.EmptyArea .autorepeatbutton-down:hover {
    background-color: #8f7a75;
    -moz-appearance: none;
}
.EmptyArea .autorepeatbutton-up[disabled=true] ,
.EmptyArea .autorepeatbutton-down[disabled=true] {
    background-color: #c0c0bb;
    -moz-appearance: none;
}
.EmptyArea .autorepeatbutton-up label,
.EmptyArea .autorepeatbutton-up image,
.EmptyArea .autorepeatbutton-down label,
.EmptyArea .autorepeatbutton-down image {
    display: none;
}
.content-arrow-scrollbox {
    -moz-box-pack: start;
}

.MainPanel {
    margin-left: 0px;
}
.TableBtns {
    top: 250px;
    left: 60px;
}
.TableBtns button{
    margin: 1px 1px 0 0;
    -moz-appearance: none;
    background: none;
    border: none;
    max-width: 54px;
    max-height: 41px;
    min-width: 54px;
    min-height: 41px;
}
.TableBtns button label,
.RightBtns button label{
    display: none;
}

.TablePanel {
    background: none;
    border: none;
    margin-left: 5px;
}

.TablePanel row {
    max-height: 63px;
    min-height: 63px;
}

.tbButton{
    -moz-appearance: none;
    margin: 1px 1px 0 0;
    border: none;
    background: transparent;/*#ddd7d7;*/
    height: 62px;
    width: 99px;
    max-height: 62px;
    max-width: 99px;
    min-width: 99px;
    padding: 2px;
}
.tbButton[selected], .tbButtonn[checked]{
    background: red !important;
    padding: 2px;
    -moz-appearance: none;
}
.tbButton[disabled=true] {
    background: none;
    border: none;
    -moz-appearance: none;
}

.tableFunction {
    padding: 2px 60px 2px 2px;
    -moz-box-pack: center;
     -moz-box-flex: 1;
}

.tableFunction button {
    color:#121212;
    font-size:8pt;
    /*-moz-box-flex: 1;*/
    min-width: 89px;
    max-width: 89px;
    border:none;
    background:#BFBFB7;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    margin: 2px;
    max-height: 40px;
    min-height: 32px;
    padding: 2px;
}
.tableFunction button hbox {
    overflow: hidden;
}
.tableFunction button:hover{
      background:#FFFCD6;
}
.tableFunction button[checked]{
      background:#FFFCD6;
}
.tableFunction button[disabled=true]{
     background:#E9E9E9;
    -moz-appearance: none;
}

.dialogbtn {
  padding: 5px 8px;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  margin: 45px 0px 2px 2px;
  -moz-box-pack: end;
}
.dialogbtn button {
  max-height: 50px;
  max-width: 60px;
  min-height: 50px;
  min-width: 60px;
  height: 50px;
  width: 60px;
  -moz-appearance: none;
  background: none;
  border: none;
  margin-top: 2px;
}
.dialogbtn button label {
    display: none;
}
.dialogbtn button:hover {
    -moz-appearance: none;
    background-color: white !important;
    border: none;
}
.ExitBtn {
  background: transparent url(../images/ExitBtn.png) center center no-repeat !important;
}
.RefrashBtn {
  background: transparent url(../images/refrash.png) top center no-repeat !important;
}

.mergeBtn {
    background: transparent url(../icons/mergeTable.png) center center no-repeat !important;
}
.unmergeBtn {
    background: transparent url(../icons/unmergeTable.png) center center no-repeat !important;
}
.selectBtn {
    background: transparent url(../icons/selectTable.png) center center no-repeat !important;
}
.changeBtn {
    background: transparent url(../icons/changeTable.png) center center no-repeat !important;
}
.mergecBtn2 {
    background: transparent url(../icons/mergeCheck2.png) center center no-repeat !important;
}
.splitcBtn2 {
    background: transparent url(../icons/splitCheck2.png) center center no-repeat !important;
}
.selectcBtn2 {
    background: transparent url(../icons/selectCheck2.png) center center no-repeat !important;
}
.bookcBtn2 {
    background: transparent url(../icons/bookTable2.png) center center no-repeat !important;
}

.RightBtns {
    left: 880px;
    top: 180px;
    width: 320px;
}
.RightBtns button {
    -moz-appearance: none;
    background: none;
    border: none;
    max-width: 66px;
    max-height: 44px;
    min-width: 66px;
    min-height: 44px;
    margin: 5px 5px;
}
.clerkBtn {
    max-width: 43px !important;
    min-width: 43px;
    max-height: 63px;
    min-height: 63px !important;
    background: transparent url(../icons/clerk.png) center center no-repeat !important;
}

.space{
    height: 20px;
}
.space2{
    width: 50px;
}

.tbScrollUp {
    background: transparent url(../images/chatup.png) 0 0 no-repeat;
    border: 0px;
    margin: 2px 0px 0px 0px;
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    padding: 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    margin-left: 4px;
}
.tbScrollUp description, .tbScrollDown description {
    display: none;
}
.tbScrollDown {
    background: transparent url(../images/chatdown.png) 0 0 no-repeat;
    border: 0px;
    margin: 0px 0px 2px 0px;
    max-height: 40px;
    max-width: 40px;
    min-height: 40px;
    min-width: 40px;
    margin-left: 4px;
    padding: 0px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
}
.tbScrollUp[disabled=false]:active, .tbScrollDown[disabled=false]:active {
    background-position:-40px 0;
}
.tbScrollUp[disabled=true], .tbScrollDown[disabled=true] {
    background-position:-80px 0;
}

.CheckBtns{
    margin-top: 5px;
}
.CheckBtns button{
    -moz-appearance: none;
    background: none;
    border: none;
    max-width: 78px;
    max-height: 56px;
    min-width: 78px;
    min-height: 56px;
    margin-left: 17px;
}
.CheckBtns button:hover {
    -moz-appearance: none;
    border: 1px solid #fff;
    -moz-border-top-colors: white !important;
    -moz-border-bottom-colors: white !important;
    -moz-border-right-colors: white !important;
    -moz-border-left-colors: white !important;
}
.CheckBtns button label{
    display: none;
}
.newBtn {
    background: transparent url(../icons/AddCheck.png) center center no-repeat !important;
}
.mergecBtn {
    background: transparent url(../icons/mergeCheck.png) center center no-repeat !important;
}
.splitcBtn {
    background: transparent url(../icons/splitCheck.png) center center no-repeat !important;
}
.selectcBtn {
    background: transparent url(../icons/selectCheck.png) center center no-repeat !important;
}
.bookcBtn {
    background: transparent url(../icons/bookTable.png) center center no-repeat !important;
}
.newTableBtn {
    background: transparent url(../icons/newTable.png) center center no-repeat !important;
}
.closecBtn {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
    margin-left: 55px !important;
    background: transparent url(../images/close.png) center center no-repeat !important;
}

.CheckTabbox {
    margin-top: 20px;
    margin-left: 10px;
}
.CheckTabbox tab {
    -moz-appearance: none;
    padding: 5px 20px;
    background: white url(../images/sep.png) center right no-repeat;
    border:none;
    color: #393939;
}
.CheckTabbox tab[selected=true] {
    -moz-user-focus: ignore;
    background-color: #847860;
    background-image: none;
    color: white;
    font-weight: bold;
}
 .CheckTabbox tabpanels {
    -moz-appearance: none;
    background: none;
    border: none;
}

.PromptPnl {
/*  background: transparent url(../images/checkbg.gif) center center no-repeat; */
/*  -moz-appearance: none; */
  border: none;
/*  padding: 2px; */
  width:854px;
  height: 659px;
}

.PromptPnlBg {
  background: transparent url(../images/checkbg.png) left top no-repeat;
}

.PromptBox {
    border: 2px outset;
    margin-left: 10px;
    padding: 30px;
    background-color: white;
}

.MsgPnl {
    -moz-appearance: none;
    border: none;
    width: 708px;
    height: 160px;
    background: transparent url(../images/msgbg.gif) center center no-repeat;
}
.CancelBtn {
    -moz-appearance: none;
    background: none;
    border: none;
    max-width: 78px;
    max-height: 40px;
    min-width: 78px;
    min-height: 40px;
    margin-bottom: 20px;
    font-size: 12pt;
    color: #76675b;
    margin-right: 25px;
}

.PromptLabel {
    color: #fff;
}

.PromptLabel1 {
    font-size: 16px;
    color: #164770;
    font-weight: bold;
}

.PromptLabel2 {
    color: #636363;
    text-indent : 100px;
    list-style: circle inside;
}

.PromptLabel3 {
    color: #636363;
    font-size: 10pt;
    text-align: right;
}

.whitefont {
	font-size: 12px;
	color: #333;
}
.yellowfont {
	font-size: 17px;
	color: #7f3100;
    padding: 4px 0 4px 26px;
    background: transparent url(../images/current.png) left center no-repeat;
}

ol {
    list-style-type: decimal;
}

/*-----------------------------------------------------------------------------
 * Number pad for use with vivitextbox
 *-----------------------------------------------------------------------------
 */

.selectTableMaindialog .numpad row,
.selectTableMaindialog .numpad column {
    border: 0px;
    padding: 0px;
}

.selectTableMaindialog .numpad sendkeybutton {
    background: transparent url(../images/m_numbtn.png) center center no-repeat;
    border: 0px solid;
    color: #47657d;
    font-size: 34px;
    font-weight: bold !important;
    height: 55px;
    list-style-type: none;
    margin: 2px 0px 0px 3px;
    max-height: 55px;
    max-width:92px;
    min-height: 55px;
    min-width:92px;
    overflow: hidden;
    padding: 0px;
    width: 92px;
    -moz-appearance: none;
    -moz-user-focus: ignore;
}

.selectTableMaindialog .numpad sendkeybutton:active{
	background: transparent url(../images/m_numbtn_a.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * Spin buttons
 *-----------------------------------------------------------------------------
 */

.selectTableMaindialog spinbuttons {
    background: none;
    border: none;
    -moz-appearance: none;
}

.selectTableMaindialog .spinbuttons-box {
    margin-left: 3px;
    -moz-box-orient: horizontal;
}

.selectTableMaindialog .spinbuttons-button {
    background: white url(../images/tboxbg_readonly.png) left center repeat-x;
    border: 2px solid ;
    cursor: pointer;
    min-height: 40px;
    min-width: 42px;
    -moz-appearance: none;
    -moz-border-top-colors: #b6b6b6 #fff;
    -moz-border-right-colors: #b6b6b6 #fff;
    -moz-border-bottom-colors: #b6b6b6 #fff;
    -moz-border-left-colors: #b6b6b6 #fff;
}

.selectTableMaindialog .spinbuttons-button[disabled=true] {
    background: #ddd;
    -moz-appearance: none;
    -moz-border-top-colors: #bababa #bababa !important;
    -moz-border-right-colors: #bababa #bababa !important;
    -moz-border-bottom-colors: #bababa #bababa !important;
    -moz-border-left-colors: #bababa #bababa !important;
}

.selectTableMaindialog .spinbuttons-button:active {
    border: 2px solid ;
    -moz-border-top-colors: #00a99d #00a99d;
    -moz-border-right-colors: #00a99d #00a99d;
    -moz-border-bottom-colors: #00a99d #00a99d;
    -moz-border-left-colors: #00a99d #00a99d;
}

.selectTableMaindialog .spinbuttons-button hbox {
    -moz-box-pack: center;
}

.selectTableMaindialog .spinbuttons-button label {
    display: none;
}

.selectTableMaindialog .spinbuttons-button image {
    margin-left: -15px;
}

.selectTableMaindialog .spinbuttons-up {
    list-style-image: url(../images/spinup.png);
    margin-right: 2px !important;
}

.selectTableMaindialog .spinbuttons-down {
    list-style-image: url(../images/spindown.png);
}

.selectTableMaindialog #availableSeats {
}

.selectTableMaindialog #availableSeats .textbox-input-box {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #b7b7b2 !important;
    font-family: monospace;
    font-size: 20px !important;
    font-weight: bold !important;
    min-width: 42px;
    -moz-appearance: none !important;
    -moz-border-top-colors: #b7b7b2;
    -moz-border-left-colors:  #b7b7b2;
    -moz-border-bottom-colors:  #b7b7b2;
    -moz-border-right-colors:  #b7b7b2;
}

#prevdayBtn, #todayBtn, #nextdayBtn,
#prevweekBtn, #weekBtn, #nextweekBtn,
#prevmonthBtn, #monthBtn, #nextmonthBtn
{
    background-color: white ;
    background-image: none;
    border: 2px solid;
    color: #4d4234;
    font-size: 12pt;
    margin: 5px;
    min-height: 40px;
    min-width: 75px;
    padding: 8px;
    -moz-appearance: none;
    -moz-border-top-colors: #918570 white;
    -moz-border-left-colors: #918570 white;
    -moz-border-right-colors: #918570 white;
    -moz-border-bottom-colors: #918570 white;
    -moz-border-radius: 6px;
}

#prevdayBtn[disabled=true], #todayBtn[disabled=true], #nextdayBtn[disabled=true],
#prevweekBtn[disabled=true], #weekBtn[disabled=true], #nextweekBtn[disabled=true],
#prevmonthBtn[disabled=true], #monthBtn[disabled=true], #nextmonthBtn[disabled=true]
{
    background-color: #fff6e8 ;
    border-width: 0px !important
}

#order_display_div {
    width: 754px;
    max-width: 754px;
}
.autorepeatbutton-up, .autorepeatbutton-down {
    min-width: 36px;
}

#todayBtn[checked], #weekBtn[checked], #monthBtn[checked] {
    background-color: yellow;
    background-image: none;
    border: 2px solid;
    color: #4d4234;
    font-size: 12pt;
    margin: 5px;
    min-height: 40px;
    min-width: 75px;
    padding: 8px;
    -moz-appearance: none;
    -moz-border-top-colors: #918570 red;
    -moz-border-left-colors: #918570 red;
    -moz-border-right-colors: #918570 red;
    -moz-border-bottom-colors: #918570 red;
    -moz-border-radius: 6px;
}
