/*--------------------------------------------------------------------------
 *
 * CONDIMENT COLORS
 *
 *--------------------------------------------------------------------------
 */

.condiment-button-color-default {
    min-height: 50px;
}

.condiment-button-color-1 {
    min-height: 50px;
    -moz-appearance: none;
    /* background: gray; */
    background: url(images/gray.png);
    color: black;
}

.condiment-button-color-2 {
    min-height: 50px;
    -moz-appearance: none;
    /* background: blue; */
    background: url(images/blue.png);
    color: white;
}

.condiment-button-color-3 {
    min-height: 50px;
    -moz-appearance: none;
    /* background: red; */
    background: url(images/red.png);
    color: white;
}


.condiment-button-color-4 {
    min-height: 50px;
    -moz-appearance: none;
    /* background: orange; */
    background: url(images/orange.png);
    color: black;
}

.condiment-button-color-5 {
    min-height: 50px;
    -moz-appearance: none;
    /* background:fuchsia; */
    background: url(images/fuchsia.png);
    color: black;
}


.condiment-button-color-6 {
    min-height: 50px;
    -moz-appearance: none;
    /* background:teal; */
    background: url(images/teal.png);
    color: white;
}


.condiment-button-color-7 {
    min-height: 50px;
    -moz-appearance: none;
    /* background: green; */
    background: url(images/green.png);
    color: white;
}

.condiment-button-color-8 {
    min-height: 50px;
    -moz-appearance: none;
    /* background: yellow; */
    background: url(images/yellow.png);
    color: black;
 }

 .condiment-button-color-9 {
     min-height: 50px;
    -moz-appearance: none;
    /* background: aqua; */
    background: url(images/aqua.png);
    color: black;
 }


.condiment-button-color-10 {
    min-height: 50px;
    -moz-appearance: none;
    /* background: black; */
    background: url(images/black.png);
    color: white;
}

.condiment-button-color-11 {
    min-height: 50px;
    -moz-appearance: none;
    /* background: white; */
    background: url(images/white.png);
    color: black;
}


.condiment-button-color-default[selected], .condiment-button-color-1[selected],
.condiment-button-color-2[selected], .condiment-button-color-3[selected],
.condiment-button-color-4[selected], .condiment-button-color-5[selected],
.condiment-button-color-6[selected], .condiment-button-color-7[selected],
.condiment-button-color-8[selected], .condiment-button-color-9[selected],
.condiment-button-color-10[selected], .condiment-button-color-11[selected] {
    list-style-image: url(chrome://viviecr/skin/images/gtk-yes.png);
}
