/*-----------------------------------------------------------------------------
 *
 * Number Pad
 *
 *-----------------------------------------------------------------------------
 */

#numberpadPanelContainer {
    margin: 0px 0px 2px 0px;
    border-left: 0px dotted #908c83;
}

/*-----------------------------------------------------------------------------
 * Number Pad function buttons
 *-----------------------------------------------------------------------------
 */

.fixedbtn {
    min-width:76px;
    max-width:76px;
    width: 76px;
    min-height:41px;
    max-height:41px;
    height: 41px;
    margin: 3px 1px 0px 3px;
    padding: 0px;
    list-style-type: none;
    color: #42422f;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    background: transparent url(images/funBtn.png) center center no-repeat;
}

.fixedbtn:active {
    background: transparent url(images/funBtn_a.png) center center no-repeat;
}


/*-----------------------------------------------------------------------------
 * Front End Number Pad numeric keypad
 *-----------------------------------------------------------------------------
 */

.numpad {
	background: white url(images/numpadbg.gif) no-repeat top center;
	border: solid 1px #5c5761;
	-moz-background-clip: border;
	-moz-border-radius-topright: 8px; 
	-moz-border-radius-topleft: 8px;
	padding: 27px 10px 10px 5px;
}

.fe-numberpad sendkeybutton{
    min-width:76px;
    max-width:76px;
    width: 76px;
    margin: 3px 1px 0px 3px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: transparent url(images/m_numbtn.png);
    color: white;
}

.fe-numberpad sendkeybutton:active{
	background: transparent url(images/m_numbtn_a.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * Number Pad toolbar
 *-----------------------------------------------------------------------------
 */

#toolbar {
    border-left: 1px dotted #908c83;
    border-right: 1px dotted #908c83;
    margin-left: 0px;
}

/* Number Pad toggle button */

.togglenumpad {
  border: 0px solid;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin: 2px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglenumpad[state=true] {
  background: transparent url(images/maximize.png) 0 0 no-repeat;
}

.togglenumpad[state=true]:active {
	background-position:-32px 0;
}

.togglenumpad[state=false] {
    background: transparent url(images/minimize.png) 0 0 no-repeat;
}

.togglenumpad[state=false]:active {
	background-position:-32px 0;
}

/* Number Pad clockin/out button */

.clockinout {
    background: transparent url(images/clock.png) center center no-repeat;
}

.options {
    background: transparent url(images/option.png) center center no-repeat;
}
