/*-----------------------------------------------------------------------------
 *
 * Set Item Selection Dialog
 *
 *-----------------------------------------------------------------------------
 */

#selectSetItemPanel #plusetscrollablepanel {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
}

.custom-content-sub-title {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.custom-content-button-pluset {
    border: 1px solid;
    list-style-image: none;
    margin: 2px 2px 2px 2px;
    min-height:50px;
    min-width: 50px;
    padding: 0px;

    -moz-appearance: none;

    -moz-border-top-colors: #red;
    -moz-border-right-colors: #444;
    -moz-border-bottom-colors: #444;
    -moz-border-left-colors: #444;

    -moz-box-pack: center;
    -moz-user-focus: ignore;
}

.custom-content-button-pluset image {
    display: none;
}

.custom-content-button-pluset[disabled=true] {
    background: lightgrey !important;
}