/*-----------------------------------------------------------------------------
 *
 * SHOPPING CART
 *
 *-----------------------------------------------------------------------------
 */

.cartList {
    font-size: 14px;
    min-height: 200px;
    border-bottom: 1px dotted #908c83;
    margin: 0px 0px 2px 0px;
    padding: 0px;
    background: transparent;
}

.cartList .cartList {
    border: none;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART scrollbar
 *-----------------------------------------------------------------------------
 */

.cartList .scrollablepanel-scrollbar {
    border-left: 1px dotted #908c83;
    border-right: 1px dotted #908c83;
}

.cartList .scrollablepanel-scrollbar vivibutton {
    margin-left: 2px;
    margin-right: 2px;
}

.cartList scrollbar {
    display: none;
}

.cartScrollUp {
    border: 0px solid;
    background: transparent url(images/chatup.png) 0 0 no-repeat;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}
.cartScrollUp[disabled=true] {
    background-position: -64px 0;
}

.cartScrollUp[disabled=false]:active {
    background-position: -32px 0;
}


.cartScrollDown {
    border: 0px solid;
    background: transparent url(images/chatdown.png) 0 0 no-repeat;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.cartScrollDown[disabled=false]:active {
    background-position:-32px 0;
}

.cartScrollUp description, .cartScrollDown description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART sidepanel tool buttons
 *-----------------------------------------------------------------------------
 */


#cartsidebar vivibutton description {
    display: none;
}

#cartsidebar vivibutton {
    background-position: center center;
    background-repeat: no-repeat;
}

.paymentdetailsbtn {
     background: transparent url(images/gnucash-icon.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART order details
 *-----------------------------------------------------------------------------
 */

.cartList tree {
    margin: 0px;
    border: none;
    border-left: 1px dotted #908c83;
    -moz-appearance: none;
}

.cartList treecol {
    background: #fdf9f6;
    border: none;
    border-bottom: 1px dotted #908c83;
    border-right: 1px solid #bebebe;
    -moz-border-right-colors: #bebebe;
    -moz-border-bottom-colors: #908c83;
    padding: 1px 2px; 
    -moz-appearance: none;
}

.cartList .tree-splitter {
    width: 1px;
    -moz-appearance: none;
    background: #bebebe;
}

.cartList treechildren{
    background: #f8f4eb url(images/cart.png) bottom right no-repeat;
}

treechildren::-moz-tree-row {
  height: 28px;
}

treechildren::-moz-tree-row(selected) {background-color: #991111; }
treechildren::-moz-tree-row(odd) {background-color: #DDDDDD;}
treechildren::-moz-tree-row(odd, selected) {background-color: #991111; }
treechildren::-moz-tree-cell-text(selected) {color: #FFFFFF;}
treechildren::-moz-tree-cell-text(odd, selected) {color: #FFFFFF;}
treechildren::-moz-tree-row(treeTRAY) {background-color: #AAAAFF;}
treechildren::-moz-tree-row(treeSUBTOTAL) {background-color: #FF88FF;}
treechildren::-moz-tree-row(treeTOTAL) {background-color: #55DD55;}
treechildren::-moz-tree-cell-text(treecellTRAY) {color: white;}
treechildren::-moz-tree-cell-text(treecellSUBTOTAL) {color: yellow;}
treechildren::-moz-tree-cell-text(treecellTOTAL) {color: yellow;}

.cartList #name {
    text-align: left;
    crop: none;
}

.cartList #current_qty, #current_price, #current_subtotal {
    text-align: right;
}

.cartList #current_tax {
    text-align: left;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART order headings
 *-----------------------------------------------------------------------------
 */

.cartList tree #name {
    max-width: 160px;
    min-width: 160px;
}

.cartList tree #current_qty {
    max-width: 40px;
    min-width: 40px;
}

.cartList tree #current_price {
    max-width: 70px;
    min-width: 70px;
}

.cartList tree #current_subtotal {
    max-width: 100px;
    min-width: 100px;
}
.cartList tree #current_tax {
}

.cartList tree label {
    text-align: center;
    crop: none;
}

.cartList .tree-scrollable-columns {
    max-height: 0px;
}
