/*-----------------------------------------------------------------------------
 *
 * SHOPPING CART
 *
 *-----------------------------------------------------------------------------
 */

.cartList {
    font-size: 14px;
    min-height: 200px;
    border: 2px solid;
    margin: 0px 3px 0px 0px;
    padding: 0px;
    background: #f9f8f6;
    -moz-border-top-colors: #b6b098 #f9f8f6;
    -moz-border-right-colors: #b6b098 #f9f8f6;
    -moz-border-bottom-colors: #b6b098 #f9f8f6;
    -moz-border-left-colors: #b6b098 #f9f8f6;
    -moz-border-radius: 8px;
}

.cartList .cartList {
    border: none;
	  margin: 0px;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART scrollbar
 *-----------------------------------------------------------------------------
 */

.cartList .scrollablepanel-scrollbar {
    
}

.cartList .scrollablepanel-scrollbar vivibutton {
    margin-left: 2px;
    margin-right: 2px;
}

.cartList scrollbar {
    display: none;
}

.cartScrollUp {
    border: 0px solid;
    background: transparent url(images/chatup.png) 0 0 no-repeat;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.cartScrollUp[disabled=false]:active {
    background-position: -32px 0;
}


.cartScrollDown {
    border: 0px solid;
    background: transparent url(images/chatdown.png) 0 0 no-repeat;
    max-height: 32px;
    min-height: 32px;
    max-width: 32px;
    min-width: 32px;
    height: 32px;
    width: 32px;
    -moz-user-focus: ignore;
    -moz-appearance: none;
}

.cartScrollDown[disabled=false]:active {
    background-position:-32px 0;
}

.cartScrollUp description, .cartScrollDown description {
    display: none;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART sidepanel tool buttons
 *-----------------------------------------------------------------------------
 */


#cartsidebar vivibutton description {
    display: none;
}

#cartsidebar vivibutton {
    background-position: center center;
    background-repeat: no-repeat;
}

.paymentdetailsbtn {
     background: transparent url(images/gnucash-icon.png) center center no-repeat;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART order details
 *-----------------------------------------------------------------------------
 */

.cartList tree {
    margin: 0px;
    border: none;
    -moz-appearance: none;
}

.cartList treecol {
    -moz-appearance: none;
    background-color: #654b34;
    color: white;
    border: none;
    border-right: 1px solid;
    -moz-border-right-colors: #ffffff;
    height: 26px;
}

.cartList .tree-splitter {
    width: 1px;
    -moz-appearance: none;
    background: #bebebe;
}

.cartList treechildren{
    background: #f9f8f6 url(images/cart.png) bottom right no-repeat;
}

treechildren::-moz-tree-row {
  height: 28px;
  border-bottom: 1px solid #c1bca6;
}

treechildren::-moz-tree-row(selected) {background-color: #991111; }
/*treechildren::-moz-tree-row(odd) {background-color: #DDDDDD;}*/
treechildren::-moz-tree-row(odd, selected) {background-color: #991111; }
treechildren::-moz-tree-cell-text(selected) {color: #FFFFFF;}
treechildren::-moz-tree-cell-text(odd, selected) {color: #FFFFFF;}
treechildren::-moz-tree-row(treeTRAY) {background-color: #deb099;}
treechildren::-moz-tree-row(treeSUBTOTAL) {background-color: #a8af6c;}
treechildren::-moz-tree-row(treeTOTAL) {background-color: #c89e4c;}
treechildren::-moz-tree-cell-text(treecellTRAY) {color: white;}
treechildren::-moz-tree-cell-text(treecellSUBTOTAL) {color: yellow;}
treechildren::-moz-tree-cell-text(treecellTOTAL) {color: yellow;}


.cartList #name {
    text-align: left;
}

.cartList #current_qty, #current_price, #current_subtotal, #current_tax {
    text-align: right;
}

/*-----------------------------------------------------------------------------
 * SHOPPING CART order headings
 *-----------------------------------------------------------------------------
 */

.cartList tree #name {
    max-width: 150px;
    min-width: 150px;
}

.cartList tree #current_qty {
    max-width: 50px;
    min-width: 50px;
}

.cartList tree #current_price {
    max-width: 70px;
    min-width: 70px;
}

.cartList tree #current_subtotal {
    max-width: 90px;
    min-width: 90px;
}
.cartList tree #current_tax {
}

.cartList tree label {
    text-align: center;
    crop: none;
}

.cartList .tree-scrollable-columns {
    max-height: 0px;
}