/*-----------------------------------------------------------------------------
 *
 * Number Pad
 *
 *-----------------------------------------------------------------------------
 */

#numberpadPanelContainer {
    margin: 0px;
}

/*-----------------------------------------------------------------------------
 * Number Pad function buttons
 *-----------------------------------------------------------------------------
 */

.fixedbtn {
    min-width:76px;
    max-width:76px;
    width: 76px;
    min-height:41px;
    max-height:41px;
    height: 41px;
    margin: 3px 1px 0px 3px;
    padding: 0px;
    list-style-type: none;
    color: #564c43;
    font-weight: bold !important;
    font-size: 14px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    background: none;
}

.fixedbtn:active {
    background: transparent;
}

.fixedbtn[disabled=true] {
    background: url(images/btn_gray.png);
    background-position:0pt -64px;
}

/* adjustments to make fixed function buttons line up */

#numpadCol1 vivibutton {
    margin-left: 0px;
}

#clearBtn {
    margin-left: 0px;
}

/*-----------------------------------------------------------------------------
 * Front End Number Pad numeric keypad
 *-----------------------------------------------------------------------------
 */

.fe-numberpad {
	background: transparent url(images/numpadbg.png) no-repeat 6px 6px;
	border: none;
	-moz-background-clip: border;
	padding: 0;
}

.fe-numberpad sendkeybutton{
    min-width:76px;
    max-width:76px;
    width: 76px;
    margin: 3px 1px 0px 3px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: none;
    color: #786604;
}

.fe-numberpad sendkeybutton:active{
	  border: 2px solid;
    -moz-border-top-colors: #a7a29c #bdb6ad;
    -moz-border-right-colors: #a7a29c #fff;
    -moz-border-bottom-colors: #a7a29c #fff;
    -moz-border-left-colors: #a7a29c #bdb6ad;
    -moz-background-clip: border;
    -moz-appearance: none;
}

/*-----------------------------------------------------------------------------
 * Number Pad toolbar
 *-----------------------------------------------------------------------------
 */

#toolbar {
    margin-left: 2px;
}

/* Number Pad toggle button */

.togglenumpad {
  border: 0px solid;
  background: transparent url(images/maximize.png) 0 0 no-repeat;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin: 2px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglenumpad[state=true] {
  border: 0px solid;
  background: transparent url(images/maximize.png) 0 0 no-repeat;
  max-height: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
  height: 32px;
  width: 32px;
  margin: 2px;
  -moz-user-focus: ignore;
  -moz-appearance: none;
}

.togglenumpad[state=true]:active {
	background-position:-32px 0;
}

.togglenumpad[state=false] {
    background: transparent url(images/minimize.png) 0 0 no-repeat;
}

.togglenumpad[state=false]:active {
	background-position:-32px 0;
}

/* Number Pad clockin/out button */

.clockinout {
    background: transparent url(images/clock.png) center center no-repeat;
}

.options {
    background: transparent url(images/option.png) center center no-repeat;
}

.funpad1 {
	background: #c5bc9d url(images/funbg1.png) 78px bottom no-repeat;
	margin: 0 0 0 5px;
	-moz-border-radius-bottomright: 8px;
}

.funpad2 {
	background: #c5bc9d url(images/funbg2.png) top center no-repeat;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	margin: 0 0 0 5px;
}
