/**
 * VIVIECR Layout CSS
 */

#main-container {
     padding: 0px;
     margin: 0px;
     width: 800px;
     min-width: 800px;
     max-width: 800px;
     overflow: hidden;
}

#block-main {
	width: 800px;
}

.block-g .block-u  {
    /* 49% */
    width: 398px;
    min-width: 398px;
    max-width: 398px;
}

.block-gb .block-u.first, .block-gc .block-u {
    /* 33%*/
    width: 265px;
    min-width: 265px;
    max-width: 265px;
}

.block-gc .block-u.first, .block-gb .block-u  {
    /* 66%*/
    width: 535px;
    min-width: 535px;
    max-width: 535px;
}

.block-gd .block-u {
    /* 25% */
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.block-r .block-u  {
    /* 49% */
    height: 298px;
    min-height: 298px;
    max-height: 298px;
}


