* {
  padding: 0px;
  margin: 0px;
}

.main-dialog {
    background: white url(images/optionsbg.gif) center center no-repeat;
}

.pop-dialog {
    background: white;
    padding: 6px;
}

/* �D�� */
.MainPnl {
  border: 3px solid #c1ab8e;
  background: white;
  -moz-border-radius: 8px;
  padding: 4px;
}

/* �������D */
.PageTitle {
  font-size: 11pt;
  color: #534741;
  margin: 5px 8px;
  font-weight: bold;
}

.SubTitle {
  font-size: 10pt;
  color: #736357;
  margin: 8px;
}


/* ���䪩���϶� */
.LeftPnl {
  background: #f2f1eb;
  -moz-border-radius: 8px;
  padding: 10px;
  margin: 5px;
}

/* �k��W���϶� */
.DataForm row{
	border-bottom: 2px solid white;
	font-size: 10pt;
	padding: 5px;
}
.DataForm {
	border-right: 2px solid white;
	background: #f4f3ee;
    margin: 0 10px 10px 10px;
}
.DataForm column{
	border-right: 2px solid white;
	padding: 8px;
}

/* �k��U���϶� */
.RightPnlB {
  
}


/* �ϰ���D */
.DataForm label {
  font-size: 10pt;
  color: #736357;
}

/* �@�q�� texbox ���� */
textbox[form] {
  border: 3px solid;
  -moz-border-top-colors: #b8b8b8 #cfcfcf #e1e1e1;
  -moz-border-right-colors: #ececec #f9f9f9 #fefefe;
  -moz-border-bottom-colors: #ececec #f9f9f9 #fefefe;
  -moz-border-left-colors: #b8b8b8 #cfcfcf #e1e1e1;
  background: white url(images/tboxbg.png) left center repeat-x;
  -moz-appearance: none;
  min-height: 36px;
  font-size: 12pt;
  padding: 3px 4px;
  color: #444;

}
textbox[form][readonly="true"] {
  border: 1px solid #d0cfcb;
  -moz-border-top-colors: #d0cfcb;
  -moz-border-left-colors: #d0cfcb;
  -moz-border-right-colors: #d0cfcb;
  -moz-border-bottom-colors: #d0cfcb;
  background: white url(images/tboxbg_readonly.png) left center repeat-x;
  -moz-appearance: none;
  min-height: 36px;
}

/* ��ϥΪ̫� textbox �� �ﶵ����s(�D�\���s) */
/* A ����Υk��W���� �F B ��k��U���� ; ��ӥu�O�C�⤣�P�Ӥw */
.ItemButtonA, .ItemButtonA[readonly=true] {
  border: 3px solid;
  -moz-border-top-colors: #f4f3ee #eeede8 #e2e1dc;
  -moz-border-right-colors: #e2e1dc #d0cfcb #b7b6b2;
  -moz-border-bottom-colors: #e2e1dc #d0cfcb #b7b6b2;
  -moz-border-left-colors: #f4f3ee #eeede8 #e2e1dc;
  background: white url(images/tboxbg_readonly.png) left center repeat-x;
  -moz-appearance: none;
  min-height: 36px;
  color: #534741;
}
.ItemButtonA[selected], .ItemButtonA[checked],
.ItemButtonA[disabled="fales"]:active {
  border: 2px solid;
  -moz-border-top-colors: #ee9400 #ee9400 !important;
  -moz-border-right-colors: #ee9400 #ee9400 !important;
  -moz-border-bottom-colors: #ee9400 #ee9400 !important;
  -moz-border-left-colors: #ee9400 #ee9400 !important;
  background: white url(images/itembtnA_sel.png) left center repeat-x;
  -moz-appearance: none;
  color: #603913;
}
.ItemButtonA[disabled="true"], .ItemButtonB[disabled="true"] {
  -moz-appearance: none;
  border: none;
  background: #e1dfdb;
}

.ItemButtonB {
  border: 3px solid;
  -moz-border-top-colors: #f8f5f1 #f2efeb #e6e3df;
  -moz-border-right-colors: #e6e3df #d3d0cd #bab8b5;
  -moz-border-bottom-colors: #e6e3df #d3d0cd #bab8b5;
  -moz-border-left-colors: #f8f5f1 #f2efeb #e6e3df;
  background: white url(images/tboxbg_readonly.png) left center repeat-x;
  -moz-appearance: none;
  min-height: 36px;
  color: #736357;
}
.ItemButtonB[selected], .ItemButtonB[checked],
.ItemButtonB[disabled=false]:active {
  border: 2px solid;
  -moz-border-top-colors: #00a99d #00a99d !important;
  -moz-border-right-colors: #00a99d #00a99d !important;
  -moz-border-bottom-colors: #00a99d #00a99d !important;
  -moz-border-left-colors: #00a99d #00a99d !important;
  background: white url(images/itembtnB_sel.png) left center repeat-x;
  -moz-appearance: none;
  color: #32787a;
}

/* Scroll bar button */
.ScrollUp {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/optionsUp.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}
.ScrollDown {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    max-width: 32px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background: transparent url(images/optionsDown.png) 0 0 no-repeat;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-background-clip: border;
    border: 0px;
}
.ScrollUp[disabled=false]:active , .ScrollDown[disabled=false]:active {
    background-position:-32px 0;
}
.ScrollUp description, .ScrollDown description {
    display: none;
}

/* �\��ϰ�P��s �ק�B�R���B�s�W�K�� */
.ToolBar {
  background: #efe7dc;
  -moz-border-radius: 8px;
  padding: 10px 5px;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  margin: 0px 2px 2px 2px;
}
.ToolBar button, .ToolBar vivibutton {
  background-color: white ;
  background-image: none;
  border: 1px solid !important;
  -moz-border-top-colors: #b2aca1;
  -moz-border-left-colors: #b2aca1;
  -moz-border-right-colors: #b2aca1;
  -moz-border-bottom-colors: #b2aca1;
  -moz-appearance: none;
  color: #6c6050;
  font-size: 12pt;
  margin: 0 5px;
  -moz-border-radius: 6px;
  min-width: 80px;
  padding: 0 8px;
}
.ToolBar button[disabled=true], .ToolBar vivibutton[disabled=true] {
  background-color: #f8f5f1 ;
}
.ToolBar button[disabled=false]:active, .ToolBar vivibutton[disabled=false]:active {
    color: #362f2d;
    text-decoration: underline;
    -moz-appearance: none;
}

.BtnDel {
  list-style-image: url(images/icon_del.png);
}
.BtnMod {
  list-style-image: url(images/icon_mod.png);
}
.BtnAdd {
  list-style-image: url(images/icon_add.png);
}

/* �����D��s�P�϶� ��}�B�x�s�B��L�K�� */
.dialogbtns {
  background: #f2ede7;
  -moz-border-radius: 8px;
  padding: 5px 8px;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  margin: 0px 0px 2px 2px;
}
.dialogbtns button {
  max-height: 50px;
  max-width: 60px;
  min-height: 50px;
  min-width: 60px;
  height: 50px;
  width: 60px;
  -moz-appearance: none;
  background: none;
  border: none;
}
.dialogbtns button:active {
    -moz-appearance: none;
    background-color: white !important;
    border: none;
}
.ExitBtn {
  background: transparent url(images/ExitBtn.png) center center no-repeat !important;
}
.SaveBtn {
  background: transparent url(images/SaveBtn.png) center center no-repeat !important;
}
.VkbBtn {
  background: transparent url(images/VkbBtn.png) center center no-repeat !important;
}
.ExitBtn label, .SaveBtn label, .VkbBtn label {
  display: none;
}

.FontSizeSet hbox{
    -moz-box-orient: vertical;
}

.FontSizeSet button {
    min-height: 42px;
    margin: 2px;
}
.FontSizeSet button[selected] {
    list-style-image: none;
}

checkbox {
    cursor: pointer;
    min-height: 40px;
    padding: 5px;
}

radio {
    min-height: 40px;
    cursor: pointer;
    padding: 5px;
}

checkbox:hover, radio:hover {
    background: white !important;
    -moz-appearance: none;
}

.ItemScrollablepanel vivibutton {
    margin: 3px;
}
.ItemScrollablepanel vbox vivibutton {
    margin-right: 0px;
    margin-left: 0px;
}

.NoticeMark {
    font-weight: bold;
    color: #cc6300;
}

/* Tabbox @ Right Panel */
.RightTabbox {
    margin: 1px 0px 4px 4px;
}
.RightTabbox tab {
    -moz-appearance: none;
    padding: 16px 8px;
    background: white url(images/sep.png) center right no-repeat;
    border:none;
    color: #4b4b4b;
    margin-bottom: 5px;
}
.RightTabbox tab[selected=true] {
    -moz-user-focus: ignore;
    background-color: #92856a;
    background-image: none;
    color: white;
    font-weight: bold;
}
.RightTabbox tabpanel {
    border-top: 1px solid #c1ab8e;
    padding: 10px 5px;
}
.RightTabbox tabpanels {
    -moz-appearance: none;
    background: none;
    border: none;
}
.RightTabbox .numberbox-input-box{
    background: none;
    border: none;
    -moz-appearance: none;
    padding-right: 5px;
}

listitem {
    min-height: 36px;
}
listitem[selected=true] {
    background-color: #92856a;
    color: white;
}

/* number pad */
.numpad sendkeybutton{
    min-width:77px;
    max-width:77px;
    width: 77px;
    height: 42px;
    margin: 2px 0px 0px 3px;
    padding: 0px;
    list-style-type: none;
    font-weight: bold !important;
    font-size: 30px;
    overflow: hidden;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    /* background: white; */
    background: transparent url(images/m_numbtn.png) center center no-repeat;
    color: #47657d;
}
.numpad sendkeybutton:active{
	background: transparent url(images/m_numbtn_a.png) center center no-repeat;
}

.fixedbtn {
    min-width:77px;
    max-width:77px;
    width: 77px;
    min-height:42px;
    max-height:42px;
    height: 42px;
    margin:  2px 0px 0px 3px;
    padding: 0px;
    list-style-type: none;
    color: #3b556c;
    font-weight: bold !important;
    font-size: 12px;
    overflow: hidden;
    text-wrap: normal;
    word-wrap: break-word;
    border: 0px solid;
    -moz-appearance: none;
    -moz-user-focus: ignore;
    -moz-box-align:center;
    -moz-box-pack:center;

    background: transparent url(images/funBtn.png) center center no-repeat;
}

.fixedbtn:active {
    background: transparent url(images/funBtn_a.png) center center no-repeat;
}

.fixedbtn[disabled=true] {
    background: transparent url(images/funBtn_disabled.png) center center no-repeat;
}


/* menulist **/
menuitem {
    min-height: 32px;
}
menulist {
    -moz-appearance: none;
    border: 3px solid;
    -moz-border-top-colors: #f4f3ee #eeede8 #e2e1dc;
    -moz-border-right-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-bottom-colors: #e2e1dc #d0cfcb #b7b6b2;
    -moz-border-left-colors: #f4f3ee #eeede8 #e2e1dc;
    background: white url(images/tboxbg_readonly.png) left center repeat-x;
    min-height: 38px;
    list-style-image: url(images/dropdown.png);
}
menulist:hover {
    -moz-appearance: none;
    border: 3px solid;
    -moz-border-top-colors: #f4f3ee #eeede8 #5eb3ad;
    -moz-border-right-colors: #e2e1dc #d0cfcb #5eb3ad;
    -moz-border-bottom-colors: #e2e1dc #d0cfcb #5eb3ad;
    -moz-border-left-colors: #f4f3ee #eeede8 #5eb3ad;
    background: white url(images/tboxbg_readonly.png) left center repeat-x;
    min-height: 38px;
    list-style-image: url(images/dropdown.png);
}
menulist hbox {
    -moz-box-direction: reverse;
}
menulist hbox label {
    -moz-appearance: none;
    background: none;
    border-right: 1px solid ;
    -moz-border-right-colors: #a1a1ba;
    padding: 0 5px;
}

spinbuttons {
    -moz-appearance: none;
    border: none;
    background: none;
}
.spinbuttons-box{
	-moz-box-orient: horizontal;
    margin-left: 3px;

}

.spinbuttons-button{
    min-width: 32px;
    border: 2px solid ;
    -moz-border-top-colors: #b6b6b6 #fff;
    -moz-border-right-colors: #b6b6b6 #fff;
    -moz-border-bottom-colors: #b6b6b6 #fff;
    -moz-border-left-colors: #b6b6b6 #fff;
    -moz-appearance: none;
    background: white url(images/tboxbg_readonly.png) left center repeat-x;
    cursor: pointer;
}
.spinbuttons-button[disabled=true] {
    border: 2px solid ;
    -moz-border-top-colors: #bababa #bababa !important;
    -moz-border-right-colors: #bababa #bababa !important;
    -moz-border-bottom-colors: #bababa #bababa !important;
    -moz-border-left-colors: #bababa #bababa !important;
    -moz-appearance: none;
    background: #ddd;
}
.spinbuttons-button:hover {
    border: 2px solid ;
    -moz-border-top-colors: #5eb3ad #fff;
    -moz-border-right-colors: #5eb3ad #fff;
    -moz-border-bottom-colors: #5eb3ad #fff;
    -moz-border-left-colors: #5eb3ad #fff;
}
.spinbuttons-button:active {
    border: 2px solid ;
    -moz-border-top-colors: #00a99d #00a99d;
    -moz-border-right-colors: #00a99d #00a99d;
    -moz-border-bottom-colors: #00a99d #00a99d;
    -moz-border-left-colors: #00a99d #00a99d;
}
.spinbuttons-button hbox{
  -moz-box-pack: center;
}

.spinbuttons-button label{
    display: none;
}
.spinbuttons-button image {
    margin-left: -10px;
}

.spinbuttons-up{
    list-style-image: url(images/spinup.png);
}

.spinbuttons-down{
	list-style-image: url(images/spindown.png);

}

.TimeLabelBox label {
    font-size: 12pt;
    margin: 5px;
    font-weight: bold;
    color: #534741;
}

.ListPnl {
    margin: 8px;
}
.ListPnl vivibutton {
    margin: 0 4px;
}

scrollbarbutton {
  min-width: 32px;
  min-height: 32px;
}

scrollbar {
    min-width: 34px;
}

.WaitPnl {
  border: 3px solid #c1ab8e;
  background: white;
  -moz-border-radius: 8px;
  padding: 30px;
}

treechildren::-moz-tree-row {
  height: 32px;
}
treechildren::-moz-tree-row(selected) {background-color: #92856a; }
treechildren::-moz-tree-row(odd, selected) {background-color: #92856a; }
treechildren::-moz-tree-cell-text(selected) {color: #FFFFFF;}
treechildren::-moz-tree-cell-text(odd, selected) {color: #FFFFFF;}
